@media screen and (min-width: 1700px) {
  .col {
    width: auto !important;
  }
  .a-sammits {
  & .col {
    width: 25%;
  }
}
}

@media screen and (max-width: 1430px) {
	.anketa-photo {
		width: 140px;
		height: 140px;
	}
    .col {
      width: 30%;
    }
}

@media screen and (max-width: 1360px) {
  .header__button {
    text-indent: -9999px;
    width: 1em;
    padding-right: 1px;
    //overflow: hidden;
    &:before {
      text-indent: 0;
    }
  }
  #filter_button:after {
    top: 0;
    right: 0;
    font-size: .5em;
    text-indent: 0;
}
}

@media screen and (max-width: 1200px) {
  .user-fio {
    & .right-info-r {
      width: ~'calc(60% - 1.5em)';
      float: right;
      padding: 1.5em 2em .5em 0;
      & h3#fullname {
        font: 1.2em "UbuntuMedium", sans-serif;
      }
    }
  }
}

