{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}
{% load common_tags %}

{% block header.top.h1 %}
    <h1>
        {% trans "User logs" %} |
        <a href="{% url "account:detail" log_message.object_id %}">{{ log_message.object_repr }}</a>
    </h1>
{% endblock %}

{% block header.buttons %}
{% endblock %}

{% block main.content %}
    {% if log_message.action_flag == 2 %}
        {% include "account/logs/partials/changed.html" with fields=log_message.change_data.changed.items %}
    {% elif log_message.action_flag == 1 %}
        {% include "account/logs/partials/addition.html" with fields=log_message.change_data.addition.items %}
    {% elif log_message.action_flag == 3 %}
        {% include "account/logs/partials/deletion.html" with fields=log_message.change_data.deletion.items %}
    {% endif %}
            <ul>
                <li>
                    <a href="{% url "account:detail" log_message.user_id %}">{{ log_message.user }}</a>
                </li>
                <li>{{ log_message.get_action_flag_display }}</li>
                <li>{{ log_message.action_time|date:"d M Y H:i:s" }}</li>
            </ul>
    {% if request.user.is_superuser %}
        <pre id="change_data_json"></pre>
        <pre id="raw_data_json"></pre>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    {% if request.user.is_superuser %}
        <script>
            var change_data = {{ log_message.change_data|js|safe }},
                raw_data = {{ log_message.raw_data|js|safe }};
            document.getElementById('change_data_json').innerHTML = JSON.stringify(change_data, null, 4);
            document.getElementById('raw_data_json').innerHTML = JSON.stringify(raw_data, null, 4);
        </script>
    {% endif %}
{% endblock %}
