{% load i18n %}
{% load static %}
<form id="proposalForm">
    <label for="id_first_name">{% trans "First name" %}
        <input type="text" id="id_first_name" name="first_name" value='{{ proposal.first_name|default_if_none:" "}}'
               disabled>
    </label>


    <label for="id_last_name">{% trans "Last name" %}
        <input type="text" id="id_last_name" name="last_name" value="{{ proposal.last_name|default_if_none:" " }}"
               disabled>
    </label>

    <label for="id_sex">{% trans "Gender" %}
        <select name="sex" id="id_sex" disabled>
            {% for s in sex_options %}
                <option value="{{ s.0 }}"{% if s.0 == proposal.sex %} selected{% endif %}>{{ s.1 }}</option>
            {% endfor %}
        </select>
    </label>

    <label for="id_born_date">{% trans "Born date" %}
        <input type="text" id="id_born_date" name="born_date" value="{{ proposal.born_date|default_if_none:" " }}"
               disabled>
    </label>

    <label>
        {% trans "Country" %}
        <p>{{ proposal.locality.country_name }}</p>
    </label>
    <label>
        {% trans "City" %}
        <p>{{ proposal.locality.district_name }}</p>
    </label>

    <label for="id_email">{% trans "Email" %}
    <input type="email" id="id_email" name="email" value="{{ proposal.email|default_if_none:" " }}" disabled>
    </label>

    <label for="id_phone_number">{% trans "Phone number" %}
    <input type="text" id="id_phone_number" name="phone" value="{{ proposal.phone_number|default_if_none:" " }}"
           disabled>
    </label>


    {#            <label for="id_note">{% trans "Note" %}</label>#}
    {#            <textarea id="id_note"#}
    {#                    {% if proposal.is_open %}disabled{% endif %}>#}
    {#                {{ proposal.note|default_if_none:" " }}#}
    {#            </textarea>#}
    {#            #}
</form>