{% load i18n %}
{% load static %}

<div class="col-5">
    <div>
        {% for user in similar_users %}
            <div style="border: 1px dotted green">
                <a href="{{ user.get_absolute_url }}">{{ user }}</a>
                <p>{{ user.phone_number }}</p>
                <p>{{ user.email }}</p>
                <button type="button" id="set_user">{% trans "Привязать пользователя" %}</button>
            </div>
        {% empty %}
        {% endfor %}
        <div style="border: 1px dotted green">
            {% if similar_users %}
                <p>{% trans "Если в списке нет подходящего варианта создайте нового пользователя." %}</p>
            {% else %}
                <p>{% trans "Нет пользователей, которые подходят под данную заявку. Создайте нового пользователя." %}</p>
            {% endif %}
            <button>{% trans "Создать" %}</button>
        </div>
    </div>
</div>
