{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}
{% load summit_tags %}
{% load partner_tags %}
{% load payment_tags %}
{% load mptt_tags %}

{% block extra_styles %}
    <style>
        .password-error {
            color: red;
            font-size: 0.9em;
        }
    </style>
{% endblock %}

{% block main.attr %} class="main-wrap anketa"  id="account_view"{% endblock %}

{% block header.top.h1 %}<h1>Анкета пользователя</h1>{% endblock %}
{% block header.search %}

{% endblock %}

{% block header.buttons.add %}
{% endblock %}
{% block header.buttons.export %}

{% endblock %}

{% block header.buttons.change_table %}

{% endblock %}

{% block header.buttons.extra %}
    {% if user == account %}
        <li>
            <button id="change-password">{% trans "Change password" %}</button>
        </li>
    {% endif %}
    {% if request.real_user or request.user.is_superuser %}
        {% if request.hard_user.id == account.id %}
            <li>
                <button class="reset_hard_user">Сбросить</button>
            </li>
        {% else %}
            <li>
                <button class="hard-login" data-user-id="{{ account.id }}">Войти как...</button>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block main.content %}
    <div class="content">
        <div class="left-contentwrap">
            <div class="left-content">
                <div class="user-fiowrap">
                    <div class="user-fio">
                        <div class="right-info-r">
                            <button class="edit" id="editNameBtn" data-edit-block="editNameBlock"></button>
                            <hgroup>
                                <h3 id="fullName">{{ account.fullname }}</h3>
                                <h3 id="searchName">
                                    {% if account.search_name %}{{ account.search_name }}{% endif %}</h3>
                            </hgroup>
                            <div id="social">
                                {% if account.facebook %}
                                    <div class="a-social">
                                        <a href="{{ account.facebook }}"><i class="fa fa-facebook"></i></a>
                                    </div>
                                {% endif %}
                                {% if account.vkontakte %}
                                    <div class="a-social">
                                        <a href="{{ account.vkontakte }}"><i class="fa fa-vk"></i></a>
                                    </div>
                                {% endif %}
                                {% if account.odnoklassniki %}
                                    <div class="a-social">
                                        <a href="{{ account.odnoklassniki }}"><i class="fa fa-odnoklassniki"
                                                                                 aria-hidden="true"></i></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="anketa-photo">
                            {% if account.image %}
                                <img src="{{ account.image.url }}" alt="photo">
                            {% else %}
                                <img src="{% static "img/no-usr.jpg" %}" alt="photo">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <ul class="right-info">
                    <li class="hidden" id="editNameBlock" data-edit="editNameBtn">
                        <div class="right-info__block">
                            <h4>Пользовательские данные</h4>
                            <div class="success__block"></div>
                            <form action="/" name="editName" data-action="update-user">
                                <button class="save__info after__hidden" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Имя</span>
                                            <input type="text" name="first_name" value="{{ account.first_name }}"
                                                   readonly>
                                        </label>
                                        <label>
                                            <span class="label_block">Фамилия</span>
                                            <input type="text" name="last_name" value="{{ account.last_name }}"
                                                   readonly>
                                        </label>
                                        <label>
                                            <span class="label_block">Отчество</span>
                                            <input type="text" name="middle_name" value="{{ account.middle_name }}"
                                                   readonly>
                                        </label>
                                        <label>
                                            <span class="label_block">Имя на родном языке</span>
                                            <input type="text" name="search_name" value="{{ account.search_name }}"
                                                   readonly>
                                        </label>
                                        <label>
                                            <span class="label_block">Фото</span>
                                            <input type="file" id="file">
                                        </label>
                                        <p>Размер файла не должен превышать 10 МБ.</p>
                                        <p>Типы файлов, которые поддерживаются: jpg, jpeg, png.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editContact">
                        <div class="right-info__block">
                            <h4>Контактные данные</h4>
                            <div class="success__block"></div>
                            <form action="/" id="editContactForm" name="editContact" data-action="update-user">
                                <button class="edit" data-edit-block="editContact"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label id="phone_number-label">
                                            <span class="label_block">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                            </span>
                                            <div class="label_phone_block">
                                                <input type="text" id="phone_number" name="phone_number"
                                                       value="{{ account.phone_number }}" readonly>
                                                <span class="comment"></span>
                                            </div>
                                        </label>
                                        <label>
                                            <span class="label_block"><i class="fa fa-mobile"
                                                                         aria-hidden="true"></i></span>
                                            <input type="text" id="extra_phone_numbers"
                                                   value="{% if account.extra_phone_numbers %}{{ account.extra_phone_numbers|default:""|join:", " }}{% endif %}" readonly>
                                        </label>
                                        <label>
                                            <span class="label_block"><i class="fa fa-envelope"></i></span>
                                            <input type="email" name="email" value="{{ account.email }}"
                                                   data-validation="email" data-validation-optional="true" readonly>
                                        </label>
                                        <label>
                                            <span class="label_block"><i class="fa fa-skype"></i></span>
                                            <input type="text" name="skype" value="{{ account.skype }}" readonly>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editSocial">
                        <div class="right-info__block">
                            <h4>Социальные сети</h4>
                            <div class="success__block"></div>
                            <form action="/" name="editSocial" data-action="update-user">
                                <button class="edit" data-edit-block="editSocial"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Facebook</span>
                                            <input type="text" id="facebook" name="facebook"
                                                   value="{{ account.facebook }}" readonly>
                                        </label>
                                        <label>
                                            <span class="label_block">Vkontakte</span>
                                            <input type="text" name="vkontakte" value="{{ account.vkontakte }}"
                                                   readonly>
                                        </label>
                                        <label>
                                            <span class="label_block">Одноклассники</span>
                                            <input type="email" name="odnoklassniki" value="{{ account.odnoklassniki }}"
                                                   readonly>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editLocation">
                        <div class="right-info__block">
                            <h4>Дата рождения и адрес</h4>
                            <div class="success__block"></div>
                            <form action="/" name="editLocation" data-action="update-user">
                                <button class="edit" data-edit-block="editLocation"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Дата рождения:</span>
                                            <input type="text" id="born_date"
                                                   class="sel__date"
                                                   value="{{ account.born_date|date:"d.m.Y" }}" readonly disabled>
                                        </label>
                                        <label>
                                            <span class="label_block">Страна:</span>
                                            <select type="text" name="country" id="selectCountry" readonly disabled>
                                                <option value="{{ account.country }}"
                                                        selected>{{ account.country }}</option>
                                            </select>
                                        </label>
                                        <label>
                                            <span class="label_block">Область:</span>
                                            <select type="text" name="region" id="selectRegion" readonly disabled>
                                                <option value="{{ account.region }}">{{ account.region }}</option>
                                            </select>
                                        </label>
                                        <label>
                                            <span class="label_block">Город:</span>
                                            <select type="text" name="city" id="selectCity" readonly disabled>
                                                <option value="{{ account.city }}">{{ account.city }}</option>
                                            </select>
                                        </label>
                                        <label>
                                            <span class="label_block">Адрес:</span>
                                            <input type="text" name="address" value="{{ account.address }}" readonly
                                                   disabled>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editHierarchy">
                        <div class="right-info__block">
                            <h4>Иерархия</h4>
                            <div class="success__block"></div>
                            <form action="/" name="editHierarchy" data-action="update-user">
                                <button class="edit" data-edit-block="editHierarchy"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Отдел:</span>
                                            <select type="text" id="departments" multiple readonly disabled>
                                                {% for department in departments %}
                                                    <option value="{{ department.id }}"
                                                            {% if department in account.departments.all %}selected{% endif %}>{{ department.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                        <label>
                                            <span class="label_block">Статус:</span>
                                            <select type="text" name="hierarchy" id="selectHierarchy" readonly disabled>
                                                {% for hierarchy in hierarchies %}
                                                    <option value="{{ hierarchy.id }}"
                                                            {% if account.hierarchy_id == hierarchy.id %}selected{% endif %}
                                                            data-level="{{ hierarchy.level }}">
                                                        {{ hierarchy.title }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                        <label>
                                            <span class="label_block">Ответственный:</span>
                                            <select type="text" name="master" id="selectResponsible" readonly disabled>
                                                <option value="{{ account.master.id }}"
                                                        data-level="{{ account.master.level }}" selected
                                                        disabled>
                                                    {{ account.master|default_if_none:"Нет ответственного"|default:"Нет ответственного" }}</option>
                                            </select>
                                        </label>
                                        <ul class="clearfix is-hidden__after-edit">
                                            {% for ancestor in account.master.get_ancestors reversed %}
                                                {% with level=account.master.level %}
                                                    <li>
                                                        <span style="font-size:1.4em;margin-right:5px;">&#10551;</span>
                                                        <a href="{% url 'account:detail' ancestor.id %}">{{ ancestor }}</a>
                                                    </li>
                                                {% endwith %}
                                            {% endfor %}
                                        </ul>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editDepartament">
                        <div class="right-info__block">
                            <h4>Информация о служениях</h4>
                            <div class="success__block"></div>
                            <form action="/" name="editDepartament" data-action="update-user">
                                <button class="edit" data-edit-block="editDepartament"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Департамент:</span>
                                            <select type="text" id="divisions" readonly disabled multiple>
                                                {% for division in divisions %}
                                                    <option value="{{ division.id }}"
                                                            {% if division in account.divisions.all %}selected{% endif %}>
                                                        {{ division.title }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    {% if not account.is_partner %}
                        <li id="editPartnership">
                            <div class="right-info__block">
                                <div class="success__block"></div>
                                {% include "account/partials/partner_form.html" %}
                            </div>
                        </li>
                    {% endif %}
                    <li id="editVisit">
                        <div class="right-info__block">
                            <h4>Духовный уровень</h4>
                            <div class="success__block"></div>
                            <form action="/" name="editVisit" data-action="update-user">
                                <button class="edit" data-edit-block="editVisit"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Покаяние:</span>
                                            <input type="text" id="repentance_date" data-id="repentance"
                                                   class="sel__date"
                                                   value="{% if account.repentance_date %}{{ account.repentance_date|date:"d.m.Y" }}{% else %}Не покаялся{% endif %}"
                                                   readonly disabled>
                                        </label>
                                        <label>
                                            <span class="label_block">Духовный уровень:</span>
                                            <select type="text" id="spiritual_level" name="spiritual_level" readonly
                                                    disabled>
                                                <option>Выберите духовный уровень</option>
                                                {% for spiritual_level in spiritual_levels %}
                                                    <option value="{{ spiritual_level.id }}"
                                                            {% if spiritual_level.id == account.spiritual_level %}selected{% endif %}>{{ spiritual_level.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editChurches">
                        <div class="right-info__block">
                            <h4>Информация о церкви</h4>
                            <div class="success__block"></div>
                            <form action="/" name="editChurches" id="editChurches" data-action="update-church">
                                <button class="edit" data-edit-block="editChurches"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body{% if account.hhome_group or account.cchurch %} exists{% endif %}">
                                    <div class="container">
                                        {% if account.hhome_group %}
                                            <label>
                                                <span class="label_block">Церковь</span>
                                                <select type="text" id="church_list" name="church_title" readonly
                                                        disabled>
                                                    <option value="{{ account.hhome_group.church.id }}">{{ account.hhome_group.church.get_title }}</option>
                                                </select>
                                            </label>
                                            <label>
                                                <span class="label_block">Домашняя группа</span>
                                                <select type="text" id="home_groups_list" name="home_groups" readonly
                                                        disabled>
                                                    <option value="{{ account.hhome_group_id }}">{{ account.hhome_group }}</option>
                                                </select>
                                            </label>
                                            <label>
                                                <span class="label_block">Лидер</span>
                                                <p class="output__block">{{ account.hhome_group.leader.fullname }}</p>
                                            </label>
                                        {% elif account.cchurch %}
                                            <label>
                                                <span class="label_block">Церковь</span>
                                                <select type="text" id="church_list" name="church_title" readonly
                                                        disabled>
                                                    <option value="{{ account.cchurch_id }}">{{ account.cchurch }}</option>
                                                </select>
                                            </label>
                                            <label>
                                                <span class="label_block">Домашняя группа</span>
                                                <select type="text" id="home_groups_list" name="home_groups" readonly
                                                        disabled>
                                                    <option value="">Выберите домашнюю группу</option>
                                                </select>
                                            </label>
                                            <label>
                                                <span class="label_block">Пастор</span>
                                                <p class="output__block">{{ account.cchurch.pastor.fullname }}</p>
                                            </label>
                                        {% else %}
                                            <label>
                                                <p class="label_block_important">Пользователь не состоит ни в церкви ни в домашней группе</p>
                                            </label>
                                            <label>
                                                <span class="label_block">Церковь</span>
                                                <select type="text" id="church_list" name="churches_title" value="" readonly disabled>
                                                    <option value="">Выберите церковь</option>
                                                </select>
                                            </label>
                                            <label>
                                                <span class="label_block">Домашняя группа</span>
                                                <select type="text" id="home_groups_list" name="home_groups" readonly disabled>
                                                    <option value="">Выберите домашнюю группу</option>
                                                </select>
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div><!--End left-content -->
        </div>

        <div class="right-contentwrap">
            <div class="right-content">
                {% if request.user.is_superuser %}
                    <div class="a-manager">
                        <div class="manager-wrap">
                            <label for="manager_select">Менеджер:</label>
                            <select name="manager" id="manager_select" class="select2"></select>
                            <button id="set_manager" data-user="{{ account.id }}">Set</button>
                            {% if account.manager %}
                                <p>Текущий менеджер: <a href="{{ account.manager.get_absolute_url }}" target="_blank">
                                    {{ account.manager }}
                                </a></p>
                            {% else %}
                                <p>Текущий менеджер: Нет менеджера</p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="a-mail">
                    {% for profile in account.active_summit_profiles %}
                        <h1>{{ profile.summit }}: {{ profile.reg_code }}
                            <button class="send_email_with_code"
                                    data-url="{% url "send_code" profile_id=profile.id %}?method=email">Send to email
                            </button>
                        </h1>
                    {% if request.user.is_superuser and profile.device_id %}
                        <h1>DEVICE ID: {{ profile.device_id }} <button data-id="{{ profile.id }}" class="reset_device_id">Reset</button></h1>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="a-note">
                    <div class="top-s">
                        <h3>Примечания</h3>
                    </div>
                    <div class="note_wrapper clearfix" id="markerWrapper">
                        <label for="id_note_text">Маркер</label>
                        <div class="btn-block">
                            <button class="editText"></button>
                            <button class="saveNote" id="sendMarker" data-id="{{ account.id }}"></button>
                        </div>
                        <div class="select-wrapper">
                            <select class="selectdb" type="text" id="markers-select" multiple readonly disabled>
                                {% for marker in markers %}
                                    <option value="{{ marker.id }}" data-color="{{ marker.color }}"
                                            data-hint="{{ marker.description }}"
                                            data-search="{{ marker.title }}"
                                            {% if marker in account.marker.all %}selected{% endif %}>{{ marker.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="note_wrapper clearfix" id="summitWrapper">
                        <label for="id_note_text">Общее примечание</label>
                        <div class="btn-block">
                            <button class="editText"></button>
                            <button class="saveNote" id="sendNote" data-id="{{ account.id }}"></button>
                        </div>
                        <textarea name="need_note" id="id_note_text" rows="5" cols="50" readonly>{{ account.description }}</textarea>
                    </div>
                </div>
                {% if user.is_partner_manager_or_high and account.is_partner %}
                    {% for partner in account.partners.all %}
                        <div class="a-sdelki" id="Sdelki">
                            <div class="top-s">
                                <h3>Партнерство</h3>
                            </div>
                            <div class="access_wrapper note_wrapper">
                                <label for="access_select">Права доступа</label>
                                <div class="btn-block">
                                    {% if user.is_partner_supervisor_or_high %}
                                        <button class="editText"></button>
                                        <button class="saveNote" id="sendAccess"
                                                data-access="{{ account.has_partner_role }}"
                                                data-id="{{ account.id }}">
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="access_select_wrapper">
                                    <select id="access_select" readonly disabled>
                                        <option value="" {% if account.has_partner_role == False %}selected{% endif %} disabled>
                                            Права отсутствуют
                                        </option>
                                        {% for level in partner_levels %}
                                            <option value="{{ level.id }}"
                                                    {% if level.id == account.partner_role.level %}selected{% endif %}>
                                                {{ level.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    {% if user.is_partner_supervisor_or_high %}
                                        <button id="delete_access" data-id="{{ account.id }}" disabled></button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="partner_wrapper">
                                <ul class="right-info">
                                    <li id="editPartnership">
                                        <div class="right-info__block">
                                            <h4>Партнерские данные</h4>
                                            <div class="success__block"></div>
                                            {% include "account/partials/partner_form.html" with partner=partner %}
                                        </div>
                                    </li>
                                </ul>
                                <div class="note_wrapper">
                                    <label for="id_need_text">Молитвенная нужда</label>
                                    <div class="btn-block">
                                        <button class="editText"></button>
                                        <button class="saveNote" id="send_need"
                                                data-partner="{{ partner.id }}"></button>
                                    </div>
                                    <textarea name="need_text" id="id_need_text" rows="5" cols="50"
                                              readonly>{{ partner.need_text }}</textarea>
                                </div>
                            </div>
                            <div class="tab-status" id="tabStatus">
                                <ul id="tabs1">
                                    <li data-tab="1">
                                        <button>Незавершённые (<span id="incomplete-count">
                                        {% with count=partner.undone_deals_count %}
                                            {% if count > 20 %}20 из {% endif %}{{ count }}
                                        {% endwith %}
                                    </span>)
                                        </button>
                                    </li>
                                    <li data-tab="2">
                                        <button href="#overdue">Просроченные(<span id="overdue-count">
                                        {% with count=partner.expired_deals_count %}
                                            {% if count > 20 %}20 из {% endif %}{{ count }}
                                        {% endwith %}
                                    </span>)
                                        </button>
                                    </li>
                                    <li data-tab="3">
                                        <button href="#completed">Завершённые(<span id="completed-count">
                                        {% with count=partner.done_deals_count %}
                                            {% if count > 20 %}20 из {% endif %}{{ count }}
                                        {% endwith %}
                                    </span>)
                                        </button>
                                    </li>
                                </ul>
                                <button data-currency-id="{{ partner.currency.id }}" id="create_new_deal">
                                    Добавить сделку
                                </button>
                            </div>
                            <div class="sdelki-content clearfix" data-tab-content="1">
                                {% for deal in partner.undone_deals|slice:":20" %}
                                    <div class="rows">
                                        <p>{{ account.fullname }}</p>
                                        <p>Дата создания: <span>{{ deal.date_created }}</span></p>
                                        <p>Сумма: <span>{{ deal.total_sum }}/{{ deal.value }}₴</span></p></div>
                                {% endfor %}
                            </div>
                            <div class="sdelki-content clearfix" data-tab-content="2">
                                {% for deal in partner.expired_deals|slice:":20" %}
                                    <div class="rows">
                                        <p>{{ account.fullname }}</p>
                                        <p>Дата создания: <span>{{ deal.date_created }}</span></p>
                                        <p>Сумма: <span>{{ deal.total_sum }}/{{ deal.value }}₴</span></p></div>
                                {% endfor %}
                            </div>
                            <div class="sdelki-content clearfix" data-tab-content="3">
                                {% for deal in partner.done_deals|slice:":20" %}
                                    <div class="rows">
                                        <p>{{ account.fullname }}</p>
                                        <p>Дата создания: <span>{{ deal.date_created }}</span></p>
                                        <p>Сумма: <span>{{ deal.total_sum|cut:".000" }}/{{ deal.value }}₴</span></p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="rows" data-summit-id="{{ anket_group.grouper.id }}">
                                <p class="payment_title">Платежи за сделки</p>
                            </div>
                            {% for payment in partner.deal_payments.all %}
                                <div class="rows">
                                    <p>{{ payment.effective_sum_str|cut:".000" }} —
                                        {{ payment.created_at|date:"d.m.Y H:i:s" }}
                                        — Принял: {{ payment.manager.fullname }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                        {% include "partner/partials/create_deal.html" with partnership=partner.id currency=partner.currency %}
                    {% endfor %}
                {% endif %}
                {% if account.summit_profiles.exists %}
                    {% regroup account.summit_profiles.all by summit.type as ankets %}
                    <div class="a-sammits">
                        <div class="top-s">
                            <h3>Саммиты</h3>
                        </div>
                        <div class="tab-status">
                            <ul id="tabs2">
                                {% for anket in ankets %}
                                    <li data-tab='{{ anket.grouper.id }}'><a href="#">{{ anket.grouper.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="summit_wrapper clearfix" id="summitWrapper">
                            {% for anket_group in ankets %}
                                {% for anket in anket_group.list %}

                                    <div class="rows summits-title" data-summit-id="{{ anket_group.grouper.id }}"
                                         style="display:none;">
                                        <p class="summits-title__title">{{ anket.summit }}</p>
                                        <p>{{ anket.summit.description|default:"Комментарий не указан" }}
                                            (Code: <a href="/api/v1.0/generate_code/{{ anket.user.fullname }} ({{ anket.code }}).pdf?code={{ anket.code }}">
                                                {{ anket.code }}
                                            </a>)
                                        </p>
                                        <p>Сумма<span> {{ anket.total_payed }} ₴</span></p>
                                    </div>

                                    <div class="summits-block">
                                        <div class="rows rows-tabs">
                                            <div class="active" data-tabs-id="1">
                                                <p>Примечания</p>
                                            </div>
                                            {% if anket.summit.lessons.exists %}
                                                <div data-tabs-id="2">
                                                    <p>Уроки</p>
                                                </div>
                                            {% endif %}
                                            {% if anket.emails.exists %}
                                                <div data-tabs-id="3">
                                                    <p>EMAIL</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="wrapp wrapp-1">
                                            {% for note in anket.notes.all %}
                                                <div class="rows">
                                                    <div>
                                                        <p>{{ note.text }} — {{ note.date_created|date:"d.m.Y H:i:s" }}
                                                            — Author: {{ note.owner.fullname }}
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            <div class="rows note-box">
                                                <form action="/" data-anket-id="{{ anket.id }}">
                                                    <p>Написать примечание</p>
                                                    <p><textarea name="add_note" data-anket-id="{{ anket.id }}"
                                                                 class="js-add_note" cols="50" rows="5"></textarea></p>
                                                    <p>
                                                        <button class="send_note" type="submit">Отправить примечание
                                                        </button>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="wrapp wrapp-2">
                                            {% if anket.summit.lessons.exists %}
                                                {% is_consultant_for_user anket.summit anket.user as is_consultant %}
                                                {% for lesson in anket.summit.lessons.all %}
                                                    <div class="rows">
                                                        <div>
                                                            <p>
                                                                {% if is_consultant %}
                                                                    <input id="lesson{{ lesson.id }}" class="js-lesson"
                                                                           type="checkbox"
                                                                           data-anket-id="{{ anket.id }}"
                                                                           data-lesson-id="{{ lesson.id }}"
                                                                            {% if anket in lesson.viewers.all %}
                                                                           checked{% endif %}>
                                                                    {{ lesson.name }}
                                                                {% else %}
                                                                    <input id="lesson{{ lesson.id }}" type="checkbox"
                                                                           data-anket-id="{{ anket.id }}"
                                                                           data-lesson-id="{{ lesson.id }}"
                                                                            {% if anket in lesson.viewers.all %}
                                                                           checked{% endif %} disabled>
                                                                    <span style="color:{% if anket in lesson.viewers.all %}darkgreen{% else %}darkred{% endif %}">{{ lesson.name }}</span>
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="wrapp wrapp-3">
                                            {% if anket.emails.exists %}
                                                {% for email in anket.emails.all %}
                                                    <div class="rows">
                                                        <div>
                                                            <p> Отправлено на email: {{ email.recipient }} —
                                                                Дата отправки: {{ email.created_at|date:"d.m.Y H:i:s" }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    {% if log_messages or log_messages_iam %}
        <h1>Пользователь:</h1>
    {% endif %}
    <div class="content padding-table">
        {% if log_messages %}
            <h1 style="padding-left: 20px;">
                <a href="{% url "account:logs" user_id=account.id %}">{% trans "Меня меняли" %}</a>
            </h1>
            <table>
                <tr>
                    <th>{% trans "Редактор" %}</th>
                    <th>{% trans "Тип" %}</th>
                    <th>{% trans "Лог" %}</th>
                    <th>{% trans "Время изменения" %}</th>
                </tr>
                {% for log_message in log_messages|slice:"20" %}
                    <tr>
                        <td><a href="{% url "account:detail" log_message.user_id %}">{{ log_message.user }}</a></td>
                        <td>{{ log_message.get_action_flag_display }}</td>
                        <td><a href="{{ log_message.get_absolute_url }}">{{ log_message.get_change_message }}</a></td>
                        <td>{{ log_message.action_time|date:"d M Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if log_messages_iam %}
            <h1 style="padding-left: 20px;">
                <a href="{% url "account:owner_logs" user_id=account.id %}">{% trans "Я менял" %}</a>
            </h1>
            <table>
                <tr>
                    <th>{% trans "Кого" %}</th>
                    <th>{% trans "Тип" %}</th>
                    <th>{% trans "Лог" %}</th>
                    <th>{% trans "Время изменения" %}</th>
                </tr>
                {% for log_message in log_messages_iam|slice:"20" %}
                    <tr>
                        <td><a href="{% url "account:detail" log_message.object_id %}">{{ log_message.object_repr }}</a>
                        </td>
                        <td>{{ log_message.get_action_flag_display }}</td>
                        <td><a href="{{ log_message.get_absolute_url }}">{{ log_message.get_change_message }}</a></td>
                        <td>{{ log_message.action_time|date:"d M Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    {% if partner_log_messages or partner_log_messages_iam %}
        <h1>Партнерство:</h1>
    {% endif %}
    <div class="content padding-table">
        {% if partner_log_messages %}
            <h1 style="padding-left: 20px;">
                <a href="{% url "account:logs" user_id=account.id %}">{% trans "Меня меняли" %}</a>
            </h1>
            <table>
                <tr>
                    <th>{% trans "Редактор" %}</th>
                    <th>{% trans "Тип" %}</th>
                    <th>{% trans "Лог" %}</th>
                    <th>{% trans "Время изменения" %}</th>
                </tr>
                {% for log_message in partner_log_messages|slice:"20" %}
                    <tr>
                        <td><a href="{% url "account:detail" log_message.user_id %}">{{ log_message.user }}</a></td>
                        <td>{{ log_message.get_action_flag_display }}</td>
                        <td><a href="{{ log_message.get_absolute_url }}">{{ log_message.get_change_message }}</a></td>
                        <td>{{ log_message.action_time|date:"d M Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if partner_log_messages_iam %}
            <h1 style="padding-left: 20px;">
                <a href="{% url "account:owner_logs" user_id=account.id %}">{% trans "Я менял" %}</a>
            </h1>
            <table>
                <tr>
                    <th>{% trans "Кого" %}</th>
                    <th>{% trans "Тип" %}</th>
                    <th>{% trans "Лог" %}</th>
                    <th>{% trans "Время изменения" %}</th>
                </tr>
                {% for log_message in partner_log_messages_iam|slice:"20" %}
                    <tr>
                        <td><a href="{% url "account:detail" log_message.object_id %}">{{ log_message.object_repr }}</a>
                        </td>
                        <td>{{ log_message.get_action_flag_display }}</td>
                        <td><a href="{{ log_message.get_absolute_url }}">{{ log_message.get_change_message }}</a></td>
                        <td>{{ log_message.action_time|date:"d M Y H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

{% endblock %}

{% block popup %}
    {% if user == account %}
        <div id="popup-change_password" class="pop-up-splash">
            <div class="flex-wrap">
                <div class="splash-screen">
                    <div class="top-text">
                        <h3>Изменить пароль</h3>
                        <span>&times;</span>
                    </div>
                    <form id="change-password-form" action="{% url "rest_password_change" %}" method="post">
                        <div class="popup_body">
                            <div class="container container_block">
                                <p>Ваш новый пароль должен быть длиной от 8 до 16 знаков и может содержать буквы
                                    верхнего и нижнего регистров, а также цифры.</p>
                                <p>Ваш новый пароль не должен совпадать со старым паролем, а также быть похожим на Ваш
                                    электронный адрес</p>
                                <label>
                                    <span class="label_block">{% trans "Old password" %}:</span>
                                    <div class="input-wrapp">
                                        <input type="password" name="old_password" id="old_password" required>
                                        <span id="error-old_password" class="password-error"></span>
                                    </div>
                                </label>
                                <label>
                                    <span class="label_block">{% trans "New password" %}:</span>
                                    <div class="input-wrapp">
                                        <input type="password" name="new_password1" id="new_password1" required>
                                        <span id="error-new_password1" class="password-error"></span>
                                    </div>
                                </label>
                                <label>
                                    <span class="label_block">{% trans "New password confirmation" %}:</span>
                                    <div class="input-wrapp">
                                        <input type="password" name="new_password2" id="new_password2" required>
                                        <span id="error-new_password2" class="password-error"></span>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="container">
                            <button id="close-password">{% trans "Cancel" %}</button>
                            <button type="submit" id="submit_password">
                                {% trans "Change password" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="impPopup">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Редактирование картинки</h3>
                    <span class="close">×</span>
                </div>
                <div class="crArea">
                    <img src="" alt="">
                </div>
                <div class="splash-buttons">
                    <button class="cr" id="editCropImg">Изменить</button>
                </div>
            </div>
        </div>
    </div>

    <div id="create_duplicate_pop" class="pop-up__table pop-up_duplicate__table" style="display: none;">
        <div class="pop_cont">
            <div class="top-text">
                <h3>По данной сделке есть дубликаты</h3><span class="close_pop">×</span>
            </div>
            <div class="main-text">
                <div class="top-pag">
                    <div class="table__count"></div>
                    <div class="pagination duplicate_users__pagination"></div>
                </div>
                <div id="table_duplicate" class="table-wrap clearfix"></div>
            </div>
            <div class="buttons">
                <button class="close_pop">Отменить</button>
                <button id="hard_create">Создать</button>
            </div>
        </div>
    </div>

    {{ block.super }}

{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/account.bundle.js" %}"></script>
{% endblock %}
