{% extends "layout_main.html" %}
{% load static %}

{% block main.attr %} class="main-wrap anketa"  id="account_view"{% endblock %}

{% block header.top.h1 %}<h1>Анкета пользователя</h1>{% endblock %}

{% block header.search %}
    <li></li>
{% endblock %}

{% block header.buttons.add %}
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block header.buttons.change_table %}
{% endblock %}

{% block header.buttons.extra %}
    <li>
        <button class="b-red">Редактировать</button>
    </li>
{% endblock %}

{% block main.content %}
    <div class="content">
        <div class="left-contentwrap">
            <div class="left-content">
                <div class="user-fiowrap">
                    <div class="user-fio">
                        <div class="right-info-r">
                            <h3 id="fullname"></h3>
                        </div>
                        <div class="a-socials" data-soc="vkontakte">
                            <i class="fa fa-vk"></i>
                        </div>
                        <div class="a-socials" data-soc="facebook">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="label"></div>
                        <div class="anketa-photo">
                            <img src="{% static "img/no-usr.jpg" %}" alt="photo">
                        </div>
                    </div>
                </div>
                <ul>
                    <li>
                        <div class="right-info-r">
                            <ul>
                                <li><i class="fa fa-phone"></i><span id="phone_number"></span></li>
                                <li><i class="fa fa-envelope"></i><span id="email"></span></li>
                                <li><i class="fa fa-skype"></i><span id="skype"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="left-info">
                            <ul>
                                <li>Дата рождения:</li>
                                <li>Страна:</li>
                                <li>Область:</li>
                                <li>Город:</li>
                                <li>Адрес:</li>
                            </ul>
                        </div>
                        <div class="right-info">
                            <ul>
                                <li><span id="born_date"> </span></li>
                                <li><span id="country"> </span></li>
                                <li><span id="region"> </span></li>
                                <li><span id="city"> </span></li>
                                <li><span id="address"> </span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="left-info">
                            <ul>
                                <li>Отдел:</li>
                                <li>Статус:</li>
                                <li>Ответственный:</li>
                            </ul>
                        </div>
                        <div class="right-info">
                            <ul>
                                <li><span id="department"> </span></li>
                                <li><span id="hierarchy"> </span></li>
                                <li><span id="master"> </span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="left-info">
                            <ul>
                                <li>Департамент:</li>
                            </ul>
                        </div>
                        <div class="right-info">
                            <ul>
                                <li><span id="divisions"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li id="parntership_info">
                        <div class="left-info">
                            <ul>
                                <li>Партнёр с:</li>
                                <li>Сумма сделки:</li>
                                <li>Менеджер:</li>
                            </ul>
                        </div>
                        <div class="right-info">
                            <ul>
                                <li><span id="coming_date_"></span></li>
                                <li><span id="partner_val"></span></li>
                                <li><span id="responsible"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="left-info">
                            <ul>
                                <li>Первое посещение:</li>
                                <li>Покаяние:</li>
                            </ul>
                        </div>
                        <div class="right-info">
                            <ul>
                                <li><span id="coming_date" class="date"></span></li>
                                <li><span id="repentance_status"></span></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!--End left-content -->
        </div>

        <div class="right-contentwrap">
            <div class="right-content">
                <div class="a-sdelki" id="Sdelki">
                    <div class="top-s">
                        <h3>Сделки </h3>
                    </div>
                    <div style="display:block;padding:10px;">
                        <lable for="id_need_text" style="display:block;">Нужда</lable>
                        <textarea name="need_text" id="id_need_text" rows="4"
                                  style="width:100%;margin:10px 0;"></textarea>
                        <button id="send_need" style="display:block;">Сохранить нужду</button>
                    </div>
                    <div style="display:block;padding:10px;" id="create_deal_block">
                        <div style="display: inline-block; width: 49%;">
                            <lable for="id_deal_value" style="display:block;">Сумма</lable>
                            <input type="number" id="id_deal_value" required
                                   style="width:90%;margin:10px 0; padding: 5px 0;"></div>
                        <div style="display: inline-block; width: 49%;">
                            <lable for="id_deal_date" style="display:block;">Дата</lable>
                            <input type="text" id="id_deal_date" required style="width:100%;margin:10px 0;"></div>
                        <lable for="id_deal_description" style="display:block;">Примечание</lable>
                        <textarea name="deal_description" id="id_deal_description" rows="4"
                                  style="width:100%;margin:10px 0;" required></textarea>
                        <button id="send_new_deal" style="display:block;">Создать сделку</button>
                    </div>
                    <div class="tab-status" id="tabStatus">
                        <ul id="tabs1">
                            <li data-tab="1">
                                <a href="#incomplete">Незавершённые (<span id="incomplete-count"></span>)</a>
                            </li>
                            <li data-tab="2">
                                <a href="#overdue">Просроченные(<span id="overdue-count"></span>)</a>
                            </li>
                            <li data-tab="3">
                                <a href="#completed">Завершённые(<span id="completed-count"></span>)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sdelki-content clearfix" data-tab-content="1">
                    </div>
                    <div class="sdelki-content clearfix" data-tab-content="2">
                    </div>
                    <div class="sdelki-content clearfix" data-tab-content="3">
                    </div>
                </div>
<!--<div class="a-sammits">
                        <div class="top-s">
                            <h3>Саммиты</h3>
                        </div>
                        <div class="tab-status">
                            <ul id="tabs2">
                                <li>
                                    <a href="#" >Четвёртое измерение</a>
                                </li>
                                <li>
                                    <a href="#" >Колледж «Гора Моисея»</a>
                                </li>
                            </ul>
                        </div>
                        <div class="a-sammits-select clearfix">
                        <select class="selectdb" id="dep_filter">
                            <option value="0">ВСЕ </option>
                            <option value="1">Киев</option>
                            <option value="2">Дочерняя Церковь</option>
                            <option value="3">Молдован</option>
                            <option value="4">Германия</option>
                            <option value="5">США</option>
                            <option value="6">Днепр</option>
                            <option value="7">Другая церковь</option>
                            <option value="8">Интернет ячейки</option>
                        </select>
                        </div>
                        <div class="summit-tabs clearfix">
                        <input class="a-tab" id="a-tab1" type="radio" name="tabs" checked="">
                        <label class="a-tab-lab" for="a-tab1" title="Оплаты">Оплаты</label>
                        <input class="a-tab" id="a-tab2" type="radio" name="tabs">
                        <label class="a-tab-lab" for="a-tab2" title="Уроки">Уроки</label>
                        <input class="a-tab" id="a-tab3" type="radio" name="tabs">
                        <label class="a-tab-lab" for="a-tab3" title="Обзвоны">Обзвоны</label>

                        <section id="sum-content1">
                        <table>
                          <thead>
                            <tr>
                              <td>Название саммита<span class="ups ups-active "></span></td>
                              <td>Сумма оплаты<span class="ups ups-active "></span></td>
                              <td>Дата оплаты<span class="ups ups-active "></span></td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Саммит 4 измерения 1.0</td>
                              <td>100$</td>
                              <td>4 февраля 2014</td>
                            </tr>
                            <tr>
                              <td>Саммит 4 измерения 2.0</td>
                              <td>100$</td>
                              <td>4 февраля 2014</td>
                            </tr>
                            <tr>
                              <td>Саммит 4 измерения 3.0</td>
                              <td>100$</td>
                              <td>4 февраля 2014</td>
                            </tr>
                            <tr>
                              <td>Саммит 4 измерения 4.0</td>
                              <td>100$</td>
                              <td>4 февраля 2014</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="a-payment-btn">
                            <button class="a-payment">Добавить оплату</button>
                        </div>
                    <div class="popup__a-payment" style="display: none;">
                            <div class="splash-a-payment">
                                <h1><span>← </span>Оплата (название проекта)</h1>
                                <label for="data__a-payment">
                                Дата оплаты:
                                <input type="date" id="data__a-payment">
                                </label>
                                <label for="data__a-payment">
                                Сумма оплаты:
                                <input type="text" id="sum__a-payment">
                                </label>
                                <label>Комментарий:</label>
                                <textarea placeholder="Добавить комментарий"></textarea>
                                <div class="a-payment-btn">
                                   <button class="a-payment">Отменить</button>
                                   <button class="a-payment">Сохранить</button>
                                </div>
                            </div>
                        </div>
                        </section>
                        <section id="sum-content2">
                        <table>
                          <thead>
                            <tr>
                              <td colspan="3">Название урока</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><input id="lesson1" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="1">урок 1
                              <label for="lesson1"></label></td>
                              <td><input id="lesson2" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="2">урок 2
                              <label for="lesson2"></label></td>
                              <td><input id="lesson3" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="3">урок 3
                              <label for="lesson3"></label></td>
                            </tr>
                            <tr>
                              <td><input id="lesson4" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="4">урок 4
                              <label for="lesson4"></label></td>
                              <td><input id="lesson5" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="5">урок 5
                              <label for="lesson5"></label></td>
                              <td><input id="lesson6" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="6">урок 6
                              <label for="lesson6"></label></td>
                            </tr>
                            <tr>
                              <td><input id="lesson7" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="7">урок 7
                              <label for="lesson7"></label></td>
                              <td><input id="lesson8" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="8">урок 8
                              <label for="lesson8"></label></td>
                              <td><input id="lesson9" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="9">урок 9
                              <label for="lesson9"></label></td>
                            </tr>
                            <tr>
                              <td><input id="lesson10" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="10">урок 10
                              <label for="lesson10"></label></td>
                              <td><input id="lesson11" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="11">урок 11
                              <label for="lesson11"></label></td>
                              <td><input id="lesson12" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="12">урок 12
                              <label for="lesson12"></label></td>
                            </tr>
                            <tr>
                              <td><input id="lesson13" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="13">урок 13
                              <label for="lesson13"></label></td>
                              <td><input id="lesson14" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="14">урок 14
                              <label for="lesson14"></label></td>
                              <td><input id="lesson15" class="js-lesson" type="checkbox" data-anket-id="13694" data-lesson-id="15">урок 15
                              <label for="lesson15"></label></td>
                            </tr>
                          </tbody>
                        </table>
                        </section>
                        <section id="sum-content3">
                        <div class="a-note__wrap">
                            <label>Примечание:
                            <textarea placeholder="Введите текст примечания"></textarea></label>
                            <div class="a-payment-btn">
                                <button class="a-payment">Отправить примечание</button>
                            </div>
                        </div>
                            <table>
                          <thead>
                            <tr>
                              <td>Дата примечания<span class="ups blue_icon_active"></span></td>
                              <td>Автор<span class="ups blue_icon_active"></span></td>
                              <td>Примечание<span class="ups blue_icon_active"></span></td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>4 февраля 2014</td>
                              <td>Мистер Грейпфрутик</td>
                              <td>комментарий-примечание</td>
                            </tr>
                            <tr>
                              <td>4 февраля 2014</td>
                              <td>Мистер Грейпфрутик</td>
                              <td>комментарий-примечание</td>
                            </tr>
                            <tr>
                              <td>4 февраля 2014</td>
                              <td>Мистер Грейпфрутик</td>
                              <td>комментарий-примечание</td>
                            </tr>
                            <tr>
                              <td>4 февраля 2014</td>
                              <td>Мистер Грейпфрутик</td>
                              <td>комментарий-примечание</td>
                            </tr>
                          </tbody>
                        </table>
                        </section>
                        </div>

                        <div class="popup__a-payment" style="display: none;">
                            <div>
                                <h1>Оплата (название проекта)</h1>
                                <label for="data__a-payment">
                                Дата оплаты:
                                <input type="date" id="data__a-payment">
                                </label>
                                <label for="data__a-payment">
                                Сумма оплаты:
                                <input type="text" id="sum__a-payment">
                                </label>
                                <label>Комментарий:</label>
                                <textarea placeholder="Добавить комментарий"></textarea>
                                <div class="a-payment-btn">
                                   <button class="a-payment">Отменить</button>
                                   <button class="a-payment">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                <div class="a-sammits">
                    <div class="top-s">
                        <h3>Саммиты</h3>
                    </div>
                    <div class="tab-status">
                        <ul id="tabs2">
                        </ul>
                    </div>
                    <div class="summit_wrapper clearfix" id="summitWrapper">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block popap %}
    <div id="deletePopup" class="add-user-wrap"><!--Add -user -->
        <div class="splash-screen">
            <div class="top-text">
                <h3>Вы уверены, что хотите удалить пользователя?</h3>
                <span>&times;</span>
            </div>
            <div class="splash-buttons">
                <button id="no">Нет</button>
                <button id="yes">Да</button>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block extra_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="{% static "js/account.js" %}"></script>
{% endblock %}
