{% extends "layout_main.html" %}
{% load static %}

{% block body_id %} id="database"{% endblock %}

{% block header.top.h1 %}<h1>Редактирование профиля</h1>{% endblock %}

{% block header.search %}

{% endblock %}

{% block header.buttons.add %}
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block header.buttons.change_table %}
{% endblock %}

{% block header.buttons.extra %}
    <li>
        <button class="small" id="revert_edit">Отменить</button>
    </li>
    <li>
        <button id="save">Сохранить</button>
    </li>
{% endblock %}

{% block main.content %}
    <div class="content">
        <div class="editprofile edit">
            <div class="columns-wrapper">
                <div class="col-1">
                    <div id="edit-photo" class="anketa-photo">
                        <img src="{% static "img/no-usr.jpg" %}" alt="photo">
                    </div>
                    <div class="butt-wrap">
                        <input type="file" name="file" id="file">
                        <button id="file_upload">Загрузить</button>
                        <p>Размер файла не должен превышать <br/>10 МБ.</p>
                        <p>Типы файлов, которые поддерживаются:<br/> jpg, jpeg, png.</p>
                    </div>
                </div><!--End col-1-->

                <form action="" name="editUser">
                    <div class="col-2">
                        <div class="col-table">
                            <div class="left-info">
                                <ul>
                                    <li>Фамилия*</li>
                                    <li>Имя*</li>
                                    <li>Отчество</li>
                                    <li>Имя на родном языке</li>
                                    <li>Дата рождения</li>
                                    <li>Телефон*</li>
                                    <li>Доп.телефон</li>
                                    <li>E-mail</li>
                                    <li>Skype</li>
                                    <li>Страна</li>
                                    <li>Область</li>
                                    <li>Город</li>
                                    <li>Район</li>
                                    <li>Адрес</li>
                                    <li>Facebook</li>
                                    <li>Vkontakte</li>
                                    <li>Одноклассники</li>

                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><input type="text" id="last_name" name="first_name" value="{{ account.last_name }}"></li>
                                    <li><input type="text" id="first_name" name="last_name" value="{{ account.first_name }}"></li>
                                    <li><input type="text" id="middle_name" name="middle_name" value="{{ account.middle_name }}"></li>
                                    <li><input type="text" id="search_name" name="search_name" value="{{ account.search_name }}"></li>
                                    <li><input type="text" id="datepicker_born_date" name="born_date"
                                               value="{{ account.born_date|date:"Y-m-d"|default:"" }}"></li>
                                    <li><input placeholder="+380633333333"
                                               onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43 || event.charCode == 0"
                                               type="text" id="phone_number" name="phone_number" value="{{ account.phone_number }}"></li>
                                    <li><input type="text" id="extra_phone_numbers" name="extra_phone_numbers"
                                               value="{{ account.extra_phone_numbers|default:""|join:", " }}">

                                    </li>
                                    <li><input type="text" id="email" name="email" value="{{ account.email }}"></li>
                                    <li><input type="text" id="skype" name="skype" value="{{ account.skype }}"></li>
                                    <li>
                                        <select id="country_drop" name="country" style="width:205px">
                                            <option value="{{ account.country }}"
                                                    selected>{{ account.country }}</option>
                                        </select>
                                    </li>
                                    <li><select id="region_drop" name="region" disabled style="width:205px">
                                        <option value="{{ account.region }}">{{ account.region }}</option>
                                    </select></li>
                                    <li><select id="town_drop" name="city" disabled style="width:205px">
                                        <option value="{{ account.city }}">{{ account.city }}</option>
                                    </select></li>
                                    <li><input type="text" id="district" name="district" value="{{ account.district }}"></li>
                                    <li><input type="text" id="address" name="address" value="{{ account.address }}"></li>
                                    <li><input type="text" id="facebook" name="facebook" value="{{ account.facebook }}"></li>
                                    <li><input type="text" id="vkontakte" name="vkontakte" value="{{ account.vkontakte }}"></li>
                                    <li><input type="text" id="odnoklassniki" name="odnoklassniki" value="{{ account.odnoklassniki }}"></li>
                                </ul>
                            </div>
                        </div>
                        </ul>
                    </div><!--End col-2-->
                    <div class="col-3">
                        <div class="col-table">
                            <div class="left-info">
                                <ul>
                                    <li>Отдел*</li>
                                    <li>Статус*</li>
                                    <li>Ответственный*</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><select id="departmentSelect" name="department" style="width:205px">
                                        {% for department in departments %}
                                            <option value="{{ department.id }}"
                                                    {% if account.department_id == department.id %}selected{% endif %}>
                                                {{ department.title }}
                                            </option>
                                        {% endfor %}

                                    </select></li>
                                    <li><select id="hierarchySelect" name="hierarchy">
                                        {% for hierarchy in hierarchies %}
                                            <option value="{{ hierarchy.id }}"
                                                    {% if account.hierarchy_id == hierarchy.id %}selected{% endif %}
                                                    data-level="{{ hierarchy.level }}">
                                                {{ hierarchy.title }}
                                            </option>
                                        {% endfor %}

                                    </select></li>
                                    <li><select id="master_hierarchy" name="master" style="width:205px">
                                        <option value="{{ account.master.id }}" selected
                                                data-id="{{ account.master.id }}">{{ account.master.fullname }}</option>
                                    </select></li>
                                    {% if account.master.hierarchy.level <= account.hierarchy.level %}
                                        <li>Сейчас: <a href="{% url 'account' account.master.id %}" style="color:red;">
                                            {{ account.master }} - {{ account.master.hierarchy }}
                                        </a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-table ">
                            <div class="left-info">
                                <ul>
                                    <li>Департамент</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><select id="division_drop"  style="width:205px" multiple=""></select></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-table manager_view">
                            <div id="create_partner">
                                <div class="left-info">
                                    <ul>
                                        <li>Партнёр</li>
                                    </ul>
                                </div>
                                <div class="right-info">
                                    <ul>
                                        <li><input type="checkbox" id="create_partner_info">
                                            <label for="create_partner_info"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="partner_wrap">
                                <div class="left-info">
                                    <ul>
                                        <li>Партнёр</li>
                                        <li>Партнёр с</li>
                                        <li>Сумма сделки</li>
                                        <li>Менеджер</li>
                                    </ul>
                                </div>
                                <div class="right-info">
                                    <ul>
                                        <li><input type="checkbox" id="partner">
                                            <label for="partner"></label>
                                        </li>
                                        <li><input type="text" id="partner_date"
                                                   value="{{ account.partnership.date|date:"Y-m-d"|default:"" }}"></li>
                                        <li><input type="text" id="val_partnerships" maxlength="6"
                                                   onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                   value="{{ account.partnership.value }}">
                                        </li>
                                        <li id="partner_name"><select id="partner_drop" style="width:205px">
                                            {% for partner in partners %}
                                                <option value="{{ partner.id }}"
                                                        {% if account.partnership.responsible.id == partner.id %}selected{% endif %}>{{ partner.user.fullname }}</option>
                                            {% endfor %}
                                        </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-table">
                            <div class="left-info">
                                <ul>
                                    <li>Дата покаяния</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><input name="repentance_date" type="text" readonly="readonly"
                                               id="repentanceDate"
                                               value="{{ account.coming_date|date:"Y-m-d"|default:"" }}"></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--End col-3-->
                </form>
                <div class="splash-bauttons">
                </div>
            </div><!--End colums-wrap-->
        </div>
    </div>
{% endblock %}

{% block popup %}
    {{ block.super }}
    <div id="impPopup">
        <div class="splash-screen">
            <div class="top-text">
                <h3>Редактирование картинки</h3>
                <span class="close">×</span>
            </div>
            <div class="crArea">
                <img src="" alt="">
            </div>
            <div class="splash-buttons">
                <button class="cr" id="editCropImg">Изменить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "libs/cropper/dist/cropper.min.js" %}"></script>
    <script src="{% static "libs/air-datepicker/dist/js/datepicker.min.js" %}"></script>
    <script src="{% static "js/edit.js" %}"></script>
{% endblock %}
