{% extends "layout_main.html" %}
{% load static %}
{% load payment_tags %}


{% block header.top.h1 %}<h1>Отчеты / Церкви</h1>{% endblock %}

{% block header.buttons.top %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            <li></li>
        </ul>
    </div>
{% endblock %}
{% block header.buttons %}
    {% block header.tabs %}
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a class="active" href="{% url 'events:church_report_list' %}">Отчёты церквей</a></li>
                <li><a href="{% url 'events:church_report_statistics' %}">Статистика церквей</a></li>
                <li><a href="{% url 'events:report_payments' %}">Таблица платежей</a></li>
                <li><a href="{% url 'events:meeting_report_list' %}">Отчёты домашних групп</a></li>
                <li><a href="{% url 'events:meeting_report_statistics' %}">Статистика домашних групп</a></li>
            </ul>
        </div>
    {% endblock %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>

                </li>
            {% endblock %}

            {% block header.buttons.export %}

            {% endblock %}
            {% block header.buttons.extra %}
            {% endblock %}
            {% block header.buttons.change_table %}
                <li>
                    <button id="filter_button"
                            class="header__button"
                            data-count="0"
                    >
                        Фильтр
                    </button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block main.content %}
        <div class="container-full">
        <div class="tab-status tab-home-stats">
            <a class="stats_lider" href="{% url 'events:reports_summary' %}">По пастору</a>
            <button class="week week_all">Все</button>
            <button class="week week_now active">Текущая неделя</button>
            <button class="week week_prev">Прошедшая неделя</button>
            <div class="set-date">
                <input type="text" placeholder="Диапазон дат" id="date_range" class="select_date_filter">
                <div class="cal-icon"></div>
            </div>
        </div>
    </div>
    {% block pagination_top %}
        <div class="top-pag">
            <div class="tab-status">
                <ul id="statusTabs">
                    <li class="current">
                        <button data-status="1">Отчёты к заполнению</button>
                    </li>
                    <li>
                        <button data-status="2">Заполненные отчёты</button>
                    </li>
                    <li>
                        <button data-status="3">Просроченные отчёты</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table__count"></div>
        <div class="pagination reports__pagination"><!--pagination -->
        </div><!--End pagination -->
    {% endblock %}

    {% block table %}
        <div class="table table-wrap clearfix" id="churchReports"><!--Table -->
            <div class="table scrollbar-inner" id="tableChurchReports"></div>
            <div class="query-none">
                <p></p>
            </div>
        </div><!--End Table -->
    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination reports__pagination"></div>
    {% endblock %}
{% endblock %}

{% block popup %}
    {% create_payment_form %}
    <div id="popup-payments" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Платежи</h3>
                    <span>&times;</span>
                </div>
                <table></table>
                <div class="splash-bauttons">
                    {#                    <button class="detail" data-detail-url="{% url "payment:deal" pk=0 %}">{% trans "Detail" %}</button>#}
                    <button class="close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div id="popup" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Завершить сделку</h3>
                </div>
                <div class="padding-wrap">
                    <div class="user-info">
                        <label>
                            <span class="label-wrapp">Клиент:</span>
                            <input id="client-name" value="" disabled>
                        </label>
                        <label>
                            <span class="label-wrapp">Последняя сделка:</span>
                            <input id="deal-date" value="" disabled>
                        </label>
                        <label>
                            <span class="label-wrapp">Ответственный:</span>
                            <input id="responsible-name" value="" disabled>
                        </label>
                        <label class="textarea">
                            <textarea placeholder="Добавить коментарий" id="deal-description"></textarea>
                        </label>
                    </div>
                    <div class="splash-bauttons">
                        <button class="close">Отменить</button>
                        <button id="complete">Завершить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popap popap_slide" id='filterPopup'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Фильтр
            </h2>
            <div class="popup_body">
                <div class="container">
                    <label>
                        <span class="label_block">Отдел</span>
                        <select class="selectdb" data-filter="department" id="departments_filter">
                            <option value="">ВСЕ</option>
                            {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Ветка</span>
                        <select class="selectdb" data-filter="master_tree" id="tree_filter">
                            <option value="ВСЕ">ВСЕ</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Пастор</span>
                        <select class="selectdb" data-filter="pastor" id="pastor_filter">
                            <option value="ВСЕ">ВСЕ</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Церковь</span>
                        <select class="selectdb" data-filter="church" id="church_filter">
                            <option value="ВСЕ">ВСЕ</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Статус сделки</span>
                        <select id="payment_status" class="selectdb" data-filter="payment_status">
                            <option value="">ВСЕ</option>
                            <option value="0">Hе оплачена</option>
                            <option value="1">Оплачена частично</option>
                            <option value="2">Оплачена полностью</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="container">
                <button class="clear-filter"><i class="fa fa-refresh" aria-hidden="true"></i>Очистить</button>
                <button class="close-popup">Отменить</button>
                <button class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "js/church_reports.bundle.js" %}"></script>
{% endblock %}
{% block template_tables %}
<script type="text/template" id="databaseChurchReports">
     <table id="table-1">
            <thead>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <th data-order="<%=table_columns[key].ordering_title%>"><%=table_columns[key].title %></th>
                <% } %>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for( var index in results) { %>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <% if(key == 'id') { %>
                <td class="edit">
                    {% if user.is_staff %}
                    <button class="delete_btn" data-id="<%= results[index][key] %>"></button>
                    {% endif %}
                    <a href="./<%= results[index][key] %>" class="reports_id"><%= results[index][key] %></a>
                </td>
                <% } else if (key == 'church') { %>
                <% if (results[index][key] != null) { %>
                <td>
                    <a href="/churches/<%= results[index][key].id %>"><%= results[index][key].title %></a>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if(key == 'value') { %>
                <% if (results[index].total_sum != null || results[index].value != null) { %>
                <td>
                    <% if (results[index].status == '2') { %>
                    <button class="show_payments inline__button" data-id="<%=results[index].id%>">
                        <span><%= results[index].total_sum %> / <%= results[index].value %> <%= results[index].currency.short_name %></span>
                    </button>
                    <% } else { %>
                    <%= results[index].total_sum %> / <%= results[index].value %> <%= results[index].currency.short_name %>
                    <% } %>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'action' ) { %>
                <td>
                    <% if (results.length) { %>
                    <% if (!results[index].done && check_report_permissions && (results[index].status == 2) && ((parseInt(results[index].total_sum.match(/\d+/))-parseInt(results[index].value.match(/\d+/)))>=0) ) { %>
                    <button class="complete inline__button"
                            data-id="<%= results[index].id%>"
                            data-name="<%=results[index].church.title%>"
                            data-date="<%=results[index].date%>"
                            data-responsible="<%=results[index].pastor.fullname%>"
                            data-total_sum="<%=results[index].total_sum %>"
                            data-value="<%=results[index].value%>"
                            data-currency-name="<%=results[index].currency.short_name %>"
                            data-currency-id="<%=results[index].currency.id %>"
                    >Закрыть отчет
                    </button>
                    <% } else if (!results[index].done && check_report_permissions && (results[index].status == 2) && ((parseInt(results[index].total_sum.match(/\d+/))-parseInt(results[index].value.match(/\d+/)))<0) ) { %>
                    <button class="pay inline__button"
                            data-id="<%= results[index].id%>"
                            data-name="<%=results[index].church.title%>"
                            data-date="<%=results[index].date%>"
                            data-responsible="<%=results[index].pastor.fullname%>"
                            data-total_sum="<%=results[index].total_sum %>"
                            data-value="<%=results[index].value%>"
                            data-currency-name="<%=results[index].currency.short_name %>"
                            data-currency-id="<%=results[index].currency.id %>"
                    >Добавить платеж
                    </button>
                    <% } else if (results[index].done) { %>
                    <p class="text__center">✔</p>
                    <% } %>
                    <% } %>
                </td>
                <% } else if(key == 'pastor') { %>
                <% if (results[index][key] != null) { %>
                <td>
                    <a href="/account/<%= results[index][key].id %>"><%= results[index][key].fullname %></a>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else { %>
                <td><% if (results[index][key] === true ) { %>
                    <p class="text__center">✔</p>
                    <% } else if (results[index][key] === false){ %>

                    <% } else { %>
                    <%= results[index][key] %>
                    <% } %>
                </td>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
        <table id="header-fixed"></table>
</script>
{% endblock %}