{% extends "layout_main.html" %}
{% load static %}

{% block header.top.h1 %}<h1>Отчеты / Церкви</h1>{% endblock %}

{% block header.search %}{% endblock %}

{% block header.buttons.top %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            <li></li>
        </ul>
    </div>
{% endblock %}
{% block header.buttons %}
    {% block header.tabs %}
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a href="{% url 'events:church_report_list' %}">Отчёты церквей</a></li>
                <li><a class="active" href="{% url 'events:church_report_statistics' %}">Статистика церквей</a></li>
                <li><a href="{% url 'events:report_payments' %}">Таблица платежей</a></li>
                <li><a href="{% url 'events:meeting_report_list' %}">Отчёты домашних групп</a></li>
                <li><a href="{% url 'events:meeting_report_statistics' %}">Статистика домашних групп</a></li>
            </ul>
        </div>
    {% endblock %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>

                </li>
            {% endblock %}

            {% block header.buttons.export %}

            {% endblock %}
            {% block header.buttons.extra %}
            {% endblock %}
            {% block header.buttons.change_table %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block main.content %}
    <div class="container-full content-managerStats">
        <div class="tab-status tab-home-stats">
            <button class="range active" data-range="1m">1 мес.</button>
            <button class="range" data-range="3m">3 мес.</button>
            <button class="range" data-range="6m">6 мес.</button>
            <button class="range range__last_item" data-range="12m">1 год.</button>
            <div class="container prefilter_select">
                <label>
                    <span class="label_block">Ветка</span>
                    <select class="selectdb" data-filter="pastor_tree" id="tree_filter"></select>
                </label>
                <label>
                    <span class="label_block">Пастор</span>
                    <select class="selectdb" data-filter="pastor" id="pastor_filter"></select>
                </label>
                <label>
                    <span class="label_block">Церковь</span>
                    <select class="selectdb" data-filter="church" id="church_filter"></select>
                </label>
            </div>
            <button class="resetFilter">Очистить</button>
        </div>
        {% block pagination_top %}
            <div class="top-pag"></div>
        {% endblock %}

        <div class="charts">
            <div class="chart">
                <canvas id="chart_peoples"></canvas>
            </div>
        </div>

        {% block table %}
        <div class="table-wrap table-wrap_margin clearfix"><!--Table -->
            <div class="table scrollbar-inner" id="tableChRepFinStats"></div>
        </div>
            <div class="charts">
                <div class="chart">
                    <canvas id="chart_finances"></canvas>
                </div>
                <div class="chart">
                    <canvas id="chart_finances_pastor"></canvas>
                </div>
            </div>
        <div class="table-wrap clearfix"><!--Table -->
            <div class="table scrollbar-inner" id="tableChRepUserStats"></div>
        </div>
        {% endblock %}

    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/church_statistics.bundle.js" %}"></script>
{% endblock %}