{% extends "layout_main.html" %}
{% load static %}

{% block main_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
{% endblock %}

{% block main.attr %}{{ block.super }} id="event_wrap"{% endblock %}

{% block body_id %}{% endblock %}

{% block header.top.h1 %}<h1><a href="/events">СОБЫТИЯ |</a> <span title></span></h1>{% endblock %}

{% block header.buttons %}
    <div class="top-panel top-panel-1">
        <div class="tabs-names">
            <ul></ul>
        </div>
        {{ block.super }}
    </div>
{% endblock %}

{% block header.buttons.add %}
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block main.content %}
    <div class="top-pag">
        <div id="carousel" class="carousel">

            <span class="arrow-left"></span>

            <div class="gallery">
                <ul id="date" class="images"></ul>
            </div>

            <span class="arrow-right"></span>

        </div>

        <div class="period period2">
            <p>Период с <input type="text" id="done_datepicker_from"> по <input type="text" id="done_datepicker_to">
            </p>

        </div>


        <div class="pagination">
            <div class="pag-wrap">

            </div>
        </div>
    </div>

    <div class="tab-content clearfix">
        <div id="visiting" data-id="0" class="tab-toggle clearfix">


            <div class="table-wrap clearfix"><!--Table -->
                <div class="table scrollbar-inner" id="event_id_wrap"></div>
            </div><!--End Table-wrap -->

            <div class="pagination full-width"><!--pagination -->
                <div class="element-select">
                    <div class="query-none">
                        <p>По запросу <span status></span> найдено <span id="total_count"></span> человек</p>
                    </div>
                </div>
                <div class="pag-wrap">
                    <!--<div class="prev">
                        <span class="double_arrow"></span>
                        <span class="arrow"></span>
                    </div>
                            <ul class="pag">
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                            </ul>
                        <div class="next">
                            <span class="arrow"></span>
                            <span class="double_arrow"></span>
                        </div>
                        -->
                </div>
            </div><!--End pagination -->
        </div><!--End visiting-->


        <!--End journal -->
    </div><!-- End tab-content-->


    <div class="table-sorting"><!--table-sorting -->
        <div class="form-wrap scrollbar-macosx">
            <div class="top-text">
                <h2>Вы можете добавить столбцы и изменить их порядок</h2>
            </div>
            <div class="input-wrap">
                <ul id="sort-form"></ul>
            </div>
            <div class="dropbox-wrap">

            </div>
            <div class="butt-wrap">
                <button id="sort-off">Отменить</button>
                <button id="sort_save">Сохранить</button>
            </div>

        </div>
    </div><!--End table-sorting -->

    <div id="popup" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Завершить сделку</h3>
                </div>
                <div class="user-info">
                    <div class="left-side">
                        <p>Клиент:</p>
                        <p>Последняя сделка:</p>
                        <p>Ответственный:</p>
                    </div>
                    <div class="right-side">
                        <p id="client-name">Завершить сделку</p>
                        <p id="deal-date">15.02.2015</p>
                        <p id="responsible-name">Каравашкин Вадим</p>
                    </div>
                </div>
                <div class="summa-wrap">
                    <div class="summa">
                        <p>Сумма:</p>
                        <span id="deal-value">500 ₴</span>
                    </div>
                </div>
                <textarea>Добавить коментарий</textarea>
                <div class="splash-bauttons">
                    <button id="close">Отменить</button>
                    <button id="complete">Завершить</button>
                </div>
            </div>
        </div>
    </div><!--End Pop-up-splash-->
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "libs/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/event_visits.js" %}"></script>
{% endblock %}
