{% extends "layout_main.html" %}
{% load static %}

{% block header.top.h1 %}<h1>Отчеты / Домашние группы</h1>{% endblock %}

{% block header.buttons.top %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            <li></li>
        </ul>
    </div>
{% endblock %}
{% block header.buttons %}
    {% block header.tabs %}
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a class="active"
                       href="{% url 'events:meeting_report_list' %}">Отчёты домашних груп</a></li>
                {#                <li><a href="{% url 'events:church_report_list' %}">Отчёты церквей</a></li>#}
                <li><a href="{% url 'events:meeting_report_statistics' %}">Статистика домашних груп</a></li>
                {#                <li><a href="{% url 'events:church_report_statistics' %}">Статистика церквей</a></li>#}
            </ul>
        </div>
    {% endblock %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>
                    <button id="filter_button" class="header__button">Фильтр</button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            {% endblock %}

            {% block header.buttons.export %}

            {% endblock %}
            {% block header.buttons.extra %}
            {% endblock %}
            {% block header.buttons.change_table %}
                {#                <li>#}
                {#                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>#}
                {#                </li>#}
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block main.content %}
    {% block pagination_top %}
        <div class="top-pag">
            <div class="tab-status">
                <ul id="statusTabs">
                    <li class="current">
                        <button data-status="2">Заполненные отчёты</button>
                    </li>
                    <li>
                        <button data-status="1">Отчёты к заполнению</button>
                    </li>
                    <li>
                        <button data-status="3">Просроченные отчёты</button>
                    </li>
                </ul>
            </div>
            <div id="period_expired" class="period">
                <p>Период с <input type="text" id="expired_datepicker_from" readonly="readonly"> по <input type="text"
                                                                                                           id="expired_datepicker_to"
                                                                                                           readonly="readonly"><a
                        id="show-all-expired" href="javascript:void(0);">Показать
                    все</a></p>
            </div>
            <div id="period_done" class="period">
                <p>Период с <input type="text" id="done_datepicker_from" readonly="readonly"> по <input type="text"
                                                                                                        id="done_datepicker_to"
                                                                                                        readonly="readonly"><a
                        id="show-all-done" href="javascript:void(0);">Показать
                    все</a></p>
            </div>
        </div>
        <div class="table__count"></div>
        <div class="pagination reports__pagination"><!--pagination -->
        </div><!--End pagination -->
    {% endblock %}

    {% block table %}
        <div class="table-wrap clearfix" id="homeReports"><!--Table -->
            <div class="table scrollbar-inner" id="tableHomeReports"></div>
            <div class="query-none">
                <p></p>
            </div>
        </div><!--End Table -->
    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination reports__pagination"></div>
    {% endblock %}
{% endblock %}

{% block popup %}
    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Фильтр
            </h2>
            <div class="popup_body">
                <div class="container">
                    <div class="col-6">
                        <div class="label_block-wrapp">
                            <span class="label_block">Отдел</span>
                        </div>
                        <div class="label_block-wrapp">
                            <span class="label_block">Церковь</span>
                        </div>
                        <div class="label_block-wrapp">
                            <span class="label_block">Домашняя группа</span>
                        </div>
                        <div class="label_block-wrapp">
                            <span class="label_block">Лидер домашней группы</span>
                        </div>
                        <div class="label_block-wrapp">
                            <span class="label_block">Тип</span>
                        </div>
                        <div class="label_block-wrapp">
                            <span class="label_block">Фильтр по дате</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <p class="input_block">
                            <select class="selectdb" data-filter="department" id="departments_filter">
                                <option value="">ВСЕ</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" data-filter="church" id="church_filter">
                                <option value="">ВСЕ</option>
                                {% for church in churches %}
                                    <option value="{{ church.id }}">{{ church.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" data-filter="home_group" id="home_group_filter">
                                <option value="">ВСЕ</option>
                                {% for home_group in home_groups %}
                                    <option value="{{ home_group.id }}">{{ home_group.get_title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" data-filter="owner" id="masters_filter">
                                <option value="">ВСЕ</option>
                                {% for owner in owners %}
                                    <option value="{{ owner.id }}">{{ owner.fullname }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" data-filter="type" id="type_filter">
                                <option value="">ВСЕ</option>
                                {% for type in types %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <input type="text" placeholder="от" data-filter="from_date" id="date_from"
                                   class="select_date_filter"><input type="text" placeholder="до" data-filter="to_date"
                                                                     id="date_to" class="select_date_filter">
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <button onclick="refreshFilter(this)" class="clear-filter"><i class="fa fa-refresh"
                                                                              aria-hidden="true"></i>
                    Очистить
                </button>
                <button class="close-popup">Отменить</button>
                <button onclick="applyFilter(this, homeReportsTable)" class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "js/home_reports.js" %}"></script>
{% endblock %}
{% block template_tables %}
    <script type="text/template" id="databaseHomeReports">
        <table>
            <thead>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <th data-order="<%=table_columns[key].ordering_title%>"><%=table_columns[key].title %></th>
                <% } %>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for( var index in results) { %>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <% if(key == 'id') { %>
                <td>
                    <a href="./<%= results[index][key] %>" class="reports_id"><%= results[index][key] %></a>
                </td>
                <% } else if (key == 'home_group') { %>
                <% if (results[index][key] != null) { %>
                <td>
                    <%= results[index][key].title %>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if(key == 'owner') { %>
                <% if (results[index][key] != null) { %>
                <td>
                    <%= results[index][key].fullname %>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'type') { %>
                <% if (results[index][key] != null) { %>
                <td><%= results[index][key].code %></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else { %>
                <td><% if (results[index][key] === true ) { %>
                    <p class="text__center">✔</p>
                    <% } else if (results[index][key] === false){ %>

                    <% } else { %>
                    <%= results[index][key] %>
                    <% } %>
                </td>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
    </script>
{% endblock %}