{% extends "layout_main.html" %}
{% load static %}

{% block header.top.h1 %}<h1>Отчеты / Домашние группы</h1>{% endblock %}

{% block header.search %}{% endblock %}

{% block header.buttons.top %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            <li></li>
        </ul>
    </div>
{% endblock %}
{% block header.buttons %}
    {% block header.tabs %}
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a href="{% url 'events:church_report_list' %}">Отчёты церквей</a></li>
                <li><a href="{% url 'events:church_report_statistics' %}">Статистика церквей</a></li>
                <li><a href="{% url 'events:report_payments' %}">Таблица платежей</a></li>
                <li><a href="{% url 'events:meeting_report_list' %}">Отчёты домашних групп</a></li>
                <li><a class="active" href="{% url 'events:meeting_report_statistics' %}">Статистика домашних групп</a></li>
            </ul>
        </div>
    {% endblock %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>

                </li>
            {% endblock %}

            {% block header.buttons.export %}

            {% endblock %}
            {% block header.buttons.extra %}
            {% endblock %}
            {% block header.buttons.change_table %}
                <li>
                    <button id="filter_button"
                            data-count="0"
                    >
                        Фильтр
                    </button>
                </li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block main.content %}
    <div class="container-full">
        <div class="tab-status tab-home-stats">
            <ul id="tabs">
                <li class="active">
                    <button class="type" data-id="0">Все</button>
                </li>
                <li>
                    <button class="type" data-id="2">Домашняя</button>
                </li>
                <li>
                    <button class="type" data-id="3">Ночная</button>
                </li>
                <li>
                    <button class="type" data-id="1">Служение</button>
                </li>
            </ul>
            <button class="week week_all">Все</button>
            <button class="week week_now active">Текущая неделя</button>
            <button class="week week_prev">Прошедшая неделя</button>
            <div class="set-date">
                <input type="text" placeholder="Диапазон дат" id="date_range" class="select_date_filter">
                <div class="cal-icon"></div>
            </div>
        </div>
        {% block pagination_top %}
            <div class="top-pag">
                <div id="period_expired" class="period">
                    <p>Период с <input type="text" id="expired_datepicker_from" readonly="readonly"> по <input
                            type="text" id="expired_datepicker_to" readonly="readonly"><a
                            id="show-all-expired" href="javascript:void(0);">Показать
                        все</a></p>
                </div>
                <div id="period_done" class="period">
                    <p>Период с <input type="text" id="done_datepicker_from" readonly="readonly"> по <input type="text"
                                                                                                            id="done_datepicker_to"readonly="readonly"><a
                            id="show-all-done" href="javascript:void(0);">Показать
                        все</a></p>
                </div>
            </div>
            {#        <div class="table__count"></div>#}
            {#        <div class="pagination users__pagination"><!--pagination -->#}
            {#        </div><!--End pagination -->#}
        {% endblock %}

        {% block table %}
            <div class="table-wrap clearfix" id="homeReports"><!--Table -->
                <div class="table scrollbar-inner" id="tableHomeReports"></div>
                <div class="query-none">
                    <p></p>
                </div>
            </div><!--End Table -->
        {% endblock %}

        {% block pagination_bottom %}
            <div id="statisticsContainer"></div>
        {% endblock %}
    </div>
{% endblock %}

{% block popup %}
    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <div class='popup_text'>
                <h2>Фильтр</h2>
            </div>
            <div class="popup_body">
                <div class="container">
                    <label>
                       <span class="label_block">Отдел</span>
                        <select class="selectdb" data-filter="department" id="departments_filter">
                            <option value="">ВСЕ</option>
                            {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Ветка</span>
                        <select class="selectdb" data-filter="master_tree" id="master_tree_filter">
                            <option value="">ВСЕ</option>
                            {% for owner in owners %}
                                <option value="{{ owner.id }}">{{ owner.fullname }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Церковь</span>
                        <select class="selectdb" data-filter="church" id="church_filter">
                            <option value="">ВСЕ</option>
                            {% for church in churches %}
                                <option value="{{ church.id }}">{{ church.get_title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Домашняя группа</span>
                        <select class="selectdb" data-filter="home_group" id="home_group_filter">
                            <option value="">ВСЕ</option>
                            {% for home_group in home_groups %}
                                <option value="{{ home_group.id }}">{{ home_group.get_title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Лидер домашней группы</span>
                        <select class="selectdb" data-filter="owner" id="masters_filter">
                            <option value="">ВСЕ</option>
                            {% for owner in owners %}
                                <option value="{{ owner.id }}">{{ owner.fullname }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>
            <div class="container">
                <button class="clear-filter"><i class="fa fa-refresh" aria-hidden="true"></i>
                    Очистить
                </button>
                <button class="close-popup">Отменить</button>
                <button class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/home_statistics.bundle.js" %}"></script>
{% endblock %}
{% block template_tables %}
    <script type="text/template" id="statisticsTmp">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="grid_block">
                        <div class="col-sm-4">
                            <div class="well success"><span>Всего новых (покаяний)</span>
                                <p style="font-size:4em;text-align: center">
                                    <span id="planned_sum_deals" class="label label-primary">
                                        <%= (new_repentance) ? new_repentance : 0 %>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well info"><span>Всего посещений</span>
                                <p style="font-size:4em;text-align: center">
                                    <span id="paid_sum_deals" class="label label-primary">
                                        <%= (total_visits) ? total_visits : 0 %>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well error"><span>Всего отсутствий</span>
                                <p style="font-size:4em;text-align: center">
                                    <span id="percent_paid_sum_deals" class="label label-primary">
                                        <%= (total_absent) ? total_absent : 0 %>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="grid_block">
                        <div class="col-sm-4">
                            <div class="well success"><span>Заполненные отчёты</span>
                                <p style="font-size:4em;text-align: center">
                                    <span id="closed_planned_sum_deals" class="label label-primary">
                                        <%= (reports_submitted) ? reports_submitted : 0 %>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well info"><span>Отчёты к заполнению</span>
                                <p style="font-size:4em;text-align: center">
                                    <span id="closed_paid_sum_deals" class="label label-primary">
                                        <%= (reports_in_progress) ? reports_in_progress : 0 %>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="well error"><span>Просроченные отчёты</span>
                                <p style="font-size:4em;text-align: center">
                                    <span id="closed_percent_paid_sum_deals" class="label label-primary">
                                        <%= (reports_expired) ? reports_expired : 0 %>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid_block">
                        <div class="col-12">
                            <div class="well info"><span>Всего пожертвований</span>
                                <p style="font-size:4em;text-align: center">
                                    <span id="closed_percent_paid_sum_deals" class="label label-primary">
                                        <%= (total_donations) ? total_donations : 0 %>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% comment %}
                    <div class="col-sm-12">
                        <div class="well"><span>Сумма всех сделок за месяц</span>
                            <p style="font-size:4em;text-align: center">
                                <span id="sum_deals" class="label label-primary"></span>
                            </p>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </script>
{% endblock %}