{% extends "layout_main.html" %}
{% load static %}

{% block header.top.h1 %}<h1 xmlns="http://www.w3.org/1999/html">Отчеты / Домашние группы</h1>{% endblock %}

{% block header.buttons.top %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            <li></li>
        </ul>
    </div>
{% endblock %}
{% block header.buttons %}
    {% block header.tabs %}
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a href="{% url 'events:church_report_list' %}">Отчёты церквей</a></li>
                <li><a href="{% url 'events:church_report_statistics' %}">Статистика церквей</a></li>
                <li><a href="{% url 'events:report_payments' %}">Таблица платежей</a></li>
                <li><a class="active" href="{% url 'events:meeting_report_list' %}">Отчёты домашних групп</a></li>
                <li><a href="{% url 'events:meeting_report_statistics' %}">Статистика домашних групп</a></li>
            </ul>
        </div>
    {% endblock %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>
                    <button id="filter_button"
                            class="header__button"
                            data-count="0"
                    >
                        Фильтр
                    </button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            {% endblock %}

            {% block header.buttons.export %}

            {% endblock %}
            {% block header.buttons.extra %}
            {% endblock %}
            {% block header.buttons.change_table %}
                {#                <li>#}
                {#                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>#}
                {#                </li>#}
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block main.content %}
    <div class="container-full">
        <div class="tab-status tab-home-stats">
            <a class="stats_lider" href="{% url 'events:meetings_summary' %}">По лидеру</a>
            <ul id="tabs">
                <li class="active">
                    <button class="type" data-id="0">Все</button>
                </li>
                <li>
                    <button class="type" data-id="2">Домашняя</button>
                </li>
                <li>
                    <button class="type" data-id="4">Домашняя (без церкви)</button>
                </li>
                <li>
                    <button class="type" data-id="3">Марафон</button>
                </li>
                <li>
                    <button class="type" data-id="1">Служение</button>
                </li>
            </ul>
            <button class="week week_all active">Все</button>
            <button class="week week_now">Текущая неделя</button>
            <button class="week week_prev">Прошедшая неделя</button>
            <div class="set-date">
                <input type="text" placeholder="Диапазон дат" id="date_range" class="select_date_filter">
                <div class="cal-icon"></div>
            </div>
        </div>
    </div>
    {% block pagination_top %}
        <div class="top-pag">
            <div class="tab-status">
                <ul id="statusTabs">
                    <li class="current">
                        <button data-is_submitted="false">Отчёты к заполнению</button>
                    </li>
                    <li>
                        <button data-is_submitted="true">Заполненные отчёты</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table__count"></div>
        <div class="pagination reports__pagination"><!--pagination -->
        </div><!--End pagination -->
    {% endblock %}

    {% block table %}
        <div class="table table-wrap clearfix" id="homeReports"><!--Table -->
            <div class="table scrollbar-inner" id="tableHomeReports"></div>
            <div class="query-none">
                <p></p>
            </div>
        </div><!--End Table -->
    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination reports__pagination"></div>
    {% endblock %}
{% endblock %}

{% block popup.other %}
    {% include "event/partials/home_report.html" %}
{% endblock %}

{% block popup.filter.content %}
    {% include "partials/filter/select.html" with label="Отдел" options=departments name="department" %}
    {% include "partials/filter/select.html" with label="Ветка" options=owner_options name="master_tree" empty_value="ВСЕ" %}
    {% include "partials/filter/select.html" with label="Церковь" options=church_options name="church" empty_value="ВСЕ" %}
    {% include "partials/filter/select.html" with label="Лидер домашней группы" options=owner_options name="owner" empty_value="ВСЕ" %}
    {% include "partials/filter/select.html" with label="Домашняя группа" options=hg_options name="home_group" empty_value="ВСЕ" %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/home_reports.bundle.js" %}"></script>
{% endblock %}
{% block template_tables %}
    <script type="text/template" id="databaseHomeReports">
        <table id="table-1">
            <thead>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <th data-order="<%=table_columns[key].ordering_title%>"><%=table_columns[key].title %></th>
                <% } %>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for( var index in results) { %>
            <tr <% if (results[index].status === 'expired') { %>
                    class="tr_red"
            <% } %>
            >
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <% if(key == 'id') { %>
                <td class="edit" data-id="<%= results[index][key] %>" id="reportId">
                    <%= results[index][key] %>
                    <% if (results[index].image != null) { %>
                    <button class="view_img" data-img="<%= results[index].image %>"></button>
                    <% } %>
                </td>
                <% } else if (key == 'home_group') { %>
                <% if (results[index][key] != null) { %>
                <td>
                    <a href="/home_groups/<%= results[index][key].id %>"><%= results[index][key].title %></a>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if(key == 'owner') { %>
                <% if (results[index][key] != null) { %>
                <td>
                    <a href="/account/<%= results[index][key].id %>"><%= results[index][key].fullname %></a>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'type') { %>
                <% if (results[index][key] != null) { %>
                <td><%= results[index][key].name %></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'total_sum') { %>
                <td>
                <% if (results[index][key] != null) { %>
                <%= String(results[index][key].replace('.', ',')).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                <% } %>
                </td>
                <% } else { %>
                <td><% if (results[index][key] === true ) { %>
                    <p class="text__center">✔</p>
                    <% } else if (results[index][key] === false){ %>

                    <% } else { %>
                    <%= results[index][key] %>
                    <% } %>
                </td>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
        <table id="header-fixed"></table>
    </script>
{% endblock %}