{% extends "layout_main.html" %}
{% load static %}

{% block header.top.h1 %}<h1>Отчеты / Домашние группы</h1>{% endblock %}

{% block header.search %}{% endblock %}

{% block header.buttons.top %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            <li></li>
        </ul>
    </div>
{% endblock %}
{% block header.buttons %}
    {% block header.tabs %}
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a href="{% url 'events:church_report_list' %}">Отчёты церквей</a></li>
                <li><a href="{% url 'events:church_report_statistics' %}">Статистика церквей</a></li>
                <li><a href="{% url 'events:report_payments' %}">Таблица платежей</a></li>
                <li><a href="{% url 'events:meeting_report_list' %}">Отчёты домашних групп</a></li>
                <li><a class="active" href="{% url 'events:meeting_report_statistics' %}">Статистика домашних групп</a></li>
            </ul>
        </div>
    {% endblock %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>

                </li>
            {% endblock %}

            {% block header.buttons.export %}

            {% endblock %}
            {% block header.buttons.extra %}
            {% endblock %}
            {% block header.buttons.change_table %}
                <li>
                    <button id="filter_button"
                            data-count="0"
                    >
                        Фильтр
                    </button>
                </li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block main.content %}
    <div class="container-full">
        <div class="tab-status tab-home-stats">
            <input id="calendar_range" type="text" readonly>
            <button class="range" data-range="3m">3 мес.</button>
            <button class="range" data-range="6m">6 мес.</button>
            <button class="range range__last_item" data-range="12m">1 год.</button>
            <ul id="tabs">
                <li class="active">
                    <button class="type" data-id="0">Все</button>
                </li>
                <li>
                    <button class="type" data-id="2">Домашняя</button>
                </li>
                <li>
                    <button class="type" data-id="3">Марафон</button>
                </li>
                <li>
                    <button class="type" data-id="1">Служение</button>
                </li>
            </ul>
        </div>
        {% block pagination_top %}
        {% endblock %}

        {% block table %}
            <div class="table-wrap table-wrap_margin clearfix">
                <div class="table scrollbar-inner" id="tableHomeStats"></div>
            </div>
            <div class="table-wrap table-wrap_margin clearfix">
                <div class="table scrollbar-inner" id="tableHomeStatsAge"></div>
            </div>
        {% endblock %}

        {% block pagination_bottom %}
        {% endblock %}
    </div>
{% endblock %}

{% block popup.filter.content %}
    {% include "partials/filter/select.html" with label="Отдел" options=departments name="department" %}
    {% include "partials/filter/select.html" with label="Ветка" options=owner_options name="leader_tree" empty_value="ВСЕ" %}
    {% include "partials/filter/select.html" with label="Церковь" options=church_options name="church" empty_value="ВСЕ" %}
    {% include "partials/filter/select.html" with label="Лидер домашней группы" options=owner_options name="leader" empty_value="ВСЕ" %}
    {% include "partials/filter/select.html" with label="Домашняя группа" options=hg_options name="hg" empty_value="ВСЕ" %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/home_statistics.bundle.js" %}"></script>
{% endblock %}
{% block template_tables %}
{% endblock %}