<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='{% static "js/urls.js" %}'></script>
</head>
<body>

<ul>
    {% for meeting_type in meeting_types %}
        <li><a href="{% url "meeting_type:report" code=meeting_type.code %}">{{ meeting_type.name }}</a></li>
    {% endfor %}
        <li><a href="{% url "church-report" %}">Отчёт Церкви</a></li>
</ul>

</body>
</html>
