{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block main_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}
{% load summit_tags %}
{% block body_id %} id="database"{% endblock %}

{% block header.top.h1 %}<h1>Дэшборд</h1>{% endblock %}

{% block header.buttons.filter %}

{% endblock %}

{% block header.buttons.export %}

{% endblock %}

{% block main.content %}
    <div id="dashboard" class="main__container dashboard">
        <div class="dashboard-head">
            <h1><span>Ветка: </span></h1>
            <select id="master-filter">
                {% for master in masters %}
                    <option value="{{ master.id }}"{% if master.id == user.id  %}selected{% endif %}>
                        {{ master.fullname }}
                    </option>
                {% endfor %}
            </select>
            <button class="edit-desk"></button>
            <button class="save"></button>
        </div>
        <script type="text/template" id="mainStatisticsTmp">
            <div id="drop" class="grid_block drop">
                <div class="col-sm-4 well">
                    <span>Всего церквей</span>
                    <p class="success">
                        <%= (churches_count) ? churches_count : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well">
                    <span>Всего домашних групп</span>
                    <p class="success">
                        <%= (home_groups_count) ? home_groups_count : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well">
                    <span>Всего людей</span>
                    <p class="success">
                        <%= (total_peoples) ? total_peoples : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well">
                    <span>Всего людей в церквях</span>
                    <p>
                        <%= (peoples_in_churches) ? peoples_in_churches : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well">
                    <span>Всего людей в домашних группах</span>
                    <p>
                        <%= (home_groups_count) ? home_groups_count : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well">
                    <span>Всего лидеров групп</span>
                    <p>
                        <%= (leaders_count) ? leaders_count : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well">
                    <span>Всего отцы</span>
                    <p>
                        <%= (fathers_count) ? fathers_count : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well">
                    <span>Всего юноши</span>
                    <p>
                        <%= (juniors_count) ? juniors_count : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well">
                    <span>Всего младенцы</span>
                    <p>
                        <%= (babies_count) ? babies_count : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well success">
                    <span>Заполнено отчетов (дом. группы)</span>
                    <p>
                        <%= (meetings_submitted) ? meetings_submitted : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well info">
                    <span>Отчетов к заполнению (дом. группы)</span>
                    <p>
                        <%= (meetings_in_progress) ? meetings_in_progress : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
                <div class="col-sm-4 well error">
                    <span>Просрочено отчетов (дом. группы)</span>
                    <p>
                        <%= (meetings_expired) ? meetings_expired : 0 %>
                    </p>
                    <button class="vision"></button>
                </div>
            </div>
        </script>
    </div>
{% endblock %}

{% block popup %}
    {% create_user_form %}

{% endblock %}
{% block extra_scripts %}
    <script src='{% static "libs/Sortable/Sortable.min.js" %}'></script>
    <script src='{% static "js/dashboard.js" %}'></script>
{% endblock %}