*
!apps/
!docs/source/
!docs/requirements.txt
!CHANGELOG.rst
!common/
!edem/
!locale/
!main/
!templates/
!requirements/
!docker/
!manage.py
!.coveragerc
!.env
!.pylintrc
!.bowerrc
!bower.json
!gulpfile.js
!webpack.config.js
!package.json
!package-lock.json
!src
!.babelrc
!compose/
!conftest.py
!pytest.ini
!setup.cfg