/venv
.venv
/.idea
*.pyc
*.py[cod]
*.sql
edem/local_settings.py
/.sift.conf
/celerybeat-schedule
__pycache__/
celerybeat.pid
celeryev.pid
static/bower_components/
templates/search/
public/media/
public/static/
