{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}

{% block header.top.h1 %}<h1>Звонки</h1>{% endblock %}
{% block header.search %}{% endblock %}

{% block header.buttons %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>
                    <button id="add-phone"><i class="fa fa-mobile" aria-hidden="true"></i></button>
                </li>
                <li>
                    <button id="filter_button" class="header__button" data-count="0">Фильтр</button>
                </li>
{#                <li>#}
{#                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>#}
{#                </li>#}
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block main.content %}
    {% block pagination_top %}
        <div class="table__count"></div>
        <div class="pagination calls__pagination"><!--pagination -->
        </div><!--End pagination -->
    {% endblock %}

    {% block table %}
        <!--Table -->
            <div class="table table-wrap clearfix playerParent" id="tablePhone">
                <div class="table table-wrap scrollbar-inner" id="tablePhoneWrap"></div>{% include "partials/player.html" %}</div>
            </div>
        <!--End Table -->
    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination calls__pagination"></div>
    {% endblock %}
{% endblock %}

{% block popup.other %}
    <div class="pop-up__table popup__month" id="popupAddUserToPhone">
        <div class="pop_cont">
            <div class="top-text">
                <h3>Внутренние номера</h3>
                <input type="number" name="search" id="searchPhone" placeholder="Поиск">
                <span class="close_pop">×</span>
            </div>
            <div class="main-text">
                <div class="iptel-month" id="tableAddUserToPhone"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block popup.filter.content %}
    {% include "partials/filter/select.html" with label="Тип" options=type_options name="type" %}
    {% include "partials/filter/select.html" with label="Статус" options=disposition_options name="disposition" %}
    <label>
        <span class="label_block">Кто</span>
        <input type="number" data-filter="src">
    </label>
    <label>
        <span class="label_block">Куда</span>
        <input type="number" data-filter="dst">
    </label>
    <label>
        <span class="label_block">По номеру</span>
        <input type="number" data-filter="phone_number">
    </label>
    {% include "partials/filter/fromto.html" with label="Длительность" name="duration" pclass="birthday" input_type="number" %}
    {% include "partials/filter/fromto.html" with label="Дата" name="date" custom_classes="select_date_filter" pclass="birthday" %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/phone.bundle.js" %}"></script>
{% endblock %}


