{% load static %}
<div class="popap" id="addNewUserPopup">
<div class="splash-screen editprofile-screen">
    <form action="./" name="createUser" id="createUser" novalidate>
        <div class="step first_step">
            <div class="header">
                <h1 class="header_title">Создание пользователя</h1>
                <h1 class="header_step">Шаг 1 из 2</h1>
            </div>
            <div class="body">
                <p>Обязательные поля отмечены *</p>
                <div class="block">
                    <div class="column">
                        <ul class="info">
                            <li>
                                <div class="label-wrapp">
                                    <label for="last_name">Фамилия*</label>
                                </div>
                                <div class="input">
                                    <input class="must" type="text" name="last_name" id="last_name"
                                       data-validation="length" data-validation-length="min2" tabindex="1"
                                       placeholder="Фамилия на русском">
                                </div>
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="first_name">Имя*</label>
                                </div>
                                <div class="input">
                                    <input class="must" type="text" name="first_name" id="first_name" data-validation="length"
                                       data-validation-length="min2" tabindex="2"
                                       placeholder="Имя на русском">
                                </div>
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="middle_name">Отчество</label>
                                </div>
                                <input name="middle_name" id="middle_name" type="text" tabindex="3"
                                       placeholder="Отчество на русском">
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="search_name">Имя на родном языке</label>
                                </div>
                                <input type="text" name="search_name" id="search_name"tabindex="4"
                                       placeholder="Фамилия и имя на любом языке">
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <ul class="info">
                            <li>
                                <div class="label-wrapp">
                                    <label for="phoneNumber">Телефон*</label>
                                </div>
                                <div class="phone">
                                    <select style="width: 96%" name="" id="chooseCountryCode"></select>
                                    <input id="phoneNumberCode" type="text" readonly data-validation="required">
                                    <input class="must" id="phoneNumber" type="text"  tabindex="5"
                                           required data-validation="required number">
                                </div>
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="department">Отдел церкви*</label>
                                </div>
                                <div class="input">
                                    <select multiple disabled id="chooseDepartment" tabindex="6"
                                            class="cleared must" data-validation="required">
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="hierarchy">Иерархия*</label>
                                </div>
                                <div class="input">
                                    <select name="hierarchy" id="chooseStatus" class="cleared must" tabindex="7"
                                            data-validation="required">
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="master">Ответственный*</label>
                                </div>
                                <div class="input">
                                    <select disabled name="master" id="chooseResponsible" tabindex="8"
                                            class="cleared must" data-validation="required">
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn-block">
                    <a href="#" class="btn closeForm" tabindex="10">Отменить</a>
                    <a href="#" class="btn nextForm" tabindex="9">Продолжить</a>
                </div>
            </div>
        </div>
        <div class="step second_step">
            <div class="header">
                <h1 class="header_title">Создание пользователя</h1>
                <h1 class="header_step">Шаг 2 из 2</h1>
            </div>
            <div class="body">
                <p>Раскройте и заполните нужный раздел.</p>
                <div class="upload-photo">
                    <div id="edit-photo" class="anketa-photo">
                        <img src="{% static "img/no-usr.jpg" %}" alt="photo">
                    </div>
                    <div class="btn-wrap">
                        <input type="file" name="file" id="file" tabindex="11">
                        <button id="file_upload">Загрузить фото</button>
                    </div>
                </div>
                <p>Размер файла не должен превышать 10 Мб (jpg, jpeg, png)</p>
                <div class="accordion-block">
                    <div class="column">
                        <h2>Контактная информация</h2>
                        <ul class="info">
                            <li>
                                <div class="label-wrapp">
                                    <label for="extra_phone_numbers">Доп.телефон</label>
                                </div>
                                <input type="text" id="extra_phone_numbers" tabindex="12">
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="email">E-mail</label>
                                </div>
                                <input name="email" id="email" type="text" tabindex="13"
                                       data-validation="email" data-validation-optional="true">
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="skype">Skype</label>
                                </div>
                                <input name="skype" id="skype" tabindex="14" type="text">
                            </li>
                        </ul>
                        <h2>Социальные сети</h2>
                        <ul class="info">
                            <li>
                                <div class="label-wrapp">
                                    <label for="facebook">Facebook</label>
                                </div>
                                <input name="facebook" id="facebook" type="text" tabindex="15"
                                       data-validation="url" data-validation-optional="true">
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="vkontakte">Vkontakte</label>
                                </div>
                                <input name="vkontakte" id="vkontakte" type="text" tabindex="16"
                                       data-validation="url" data-validation-optional="true">
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="odnaklasniki">Odnaklasniki</label>
                                </div>
                                <input name="odnoklassniki" id="odnoklassniki" type="text" tabindex="17"
                                       data-validation="url" data-validation-optional="true">
                            </li>
                        </ul>
                        <h2>День рождения и адрес</h2>
                        <ul class="info">
                            <li>
                                <div class="label-wrapp">
                                    <label for="bornDate">Дата рождения</label>
                                </div>
                                <input name="born_date" type="text" id="bornDate" tabindex="18"
                                       readonly="readonly">

                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="chooseCountry">Страна</label>
                                </div>
                                <select name="country" id="chooseCountry" tabindex="19"></select>
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="chooseRegion">Область</label>
                                </div>
                                <select disabled name="region" id="chooseRegion" tabindex="20"></select>
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="chooseCity">Город</label>
                                </div>
                                <select disabled name="city" id="chooseCity" tabindex="21"></select>
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="district">Район</label>
                                </div>
                                <input name="district" id="district" type="text" tabindex="22">
                            </li>
                            <li>
                                <div class="label-wrapp">
                                    <label for="address">Адрес</label>
                                </div>
                                <input name="address" id="address" type="text" tabindex="23">
                            </li>
                        </ul>
                    </div>
                    <div class="column">
{#                        {% if request.user.is_partner %}#}
{#                        <h2>Партнерство</h2>#}
{#                        <ul class="info">#}
{#                            <li>#}
{#                                <div class="label-wrapp">#}
{#                                    <label for="partner">Партнёр</label>#}
{#                                </div>#}
{#                                <input type="checkbox" id="partner">#}
{#                            </li>#}
{#                            <li>#}
{#                                <ul class="hidden-partner">#}
{#                                    <li>#}
{#                                        <div class="label-wrapp">#}
{#                                            <label for="partnerFrom">Партнёр с</label>#}
{#                                        </div>#}
{#                                        <input type="text" id="partnerFrom" readonly="readonly">#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="label-wrapp">#}
{#                                            <label for="val_partnerships">Сумма сделки</label>#}
{#                                        </div>#}
{#                                        <div class="money_block">#}
{#                                            <input type="number" id="val_partnerships">#}
{#                                            <select id="payment_currency" required>#}
{#                                                {% for currency in currencies %}#}
{#                                                    <option value="{{ currency.id }}" {% if currency == purpose.currency %}selected{% endif %}>#}
{#                                                        {{ currency.short_name }}#}
{#                                                    </option>#}
{#                                                {% endfor %}#}
{#                                            </select>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <div class="label-wrapp">#}
{#                                            <label>Менеджер</label>#}
{#                                        </div>#}
{#                                        <select id="chooseManager"></select>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </li>#}
{#                        </ul>#}
{#                        {% endif %}#}
                        <h2>Информация о служениях</h2>
                        <ul class="info">
                            <li>
                                <div class="label-wrapp">
                                    <label for="chooseDivision">Департамент</label>
                                </div>
                                <select id="chooseDivision" multiple="multiple" tabindex="24"></select>
                            </li>
                        </ul>
                        <h2>Духовный уровень</h2>
                        <ul class="info">
                            <li>
                                <div class="label-wrapp">
                                    <label for="repentanceDate">Дата покаяния</label>
                                </div>
                                <input name="" type="text" readonly="readonly" tabindex="25"
                                       id="repentanceDate">
                            </li>
        {#                    <li>#}
        {#                        <div class="label-wrapp">#}
        {#                            <label for="repentanceDate">Духовный уровень</label>#}
        {#                        </div>#}
        {#                        <select type="text" id="spiritual_level" name="spiritual_level" readonly disabled>#}
        {#                            <option>Выберите духовный уровень</option>#}
        {#                            {% for spiritual_level in spiritual_levels %}#}
        {#                                <option value="{{ spiritual_level.id }}"#}
        {#                                        {% if spiritual_level.id == account.spiritual_level %}selected{% endif %}>{{ spiritual_level.title }}#}
        {#                                </option>#}
        {#                            {% endfor %}#}
        {#                        </select>#}
        {#                    </li>#}
                        </ul>
        {#                <h2>Информация о церкви</h2>#}
        {#                <ul class="info">#}
        {#                    <li>#}
        {#                        <div class="label-wrapp">#}
        {#                            <label for="church_title">Церковь</label>#}
        {#                        </div>#}
        {#                        <select type="text" id="church_list" name="churches_title" value="">#}
        {#                            <option value="">Выберите церковь</option>#}
        {#                            {% for church in churches %}#}
        {#                                <option value="{{ church.id }}">{{ church.get_title }}</option>#}
        {#                            {% endfor %}#}
        {#                        </select>#}
        {#                    </li>#}
        {#                    <li>#}
        {#                        <div class="label-wrapp">#}
        {#                            <label for="home_groups">Домашняя группа</label>#}
        {#                        </div>#}
        {#                        <select type="text" id="home_groups_list" name="home_groups" readonly disabled>#}
        {#                            <option value="">Выберите домашнюю группу</option>#}
        {#                        </select>#}
        {#                    </li>#}
        {#                </ul>#}
                    </div>
                </div>
                <div class="btn-block">
                    <a href="#" class="prevForm" tabindex="27">Вернуться к первому шагу</a>
                    <a href="#" class="btn closeForm" tabindex="28">Отменить</a>
                    <button id="saveNew" type="submit" tabindex="26">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
<div id="impPopup">
    <div class="splash-screen">
        <div class="top-text">
            <h3>Редактирование картинки</h3>
            <span class="close">×</span>
        </div>
        <div class="crArea">
            <img src="" alt="">
        </div>
        <div class="splash-buttons">
            <button class="cr" id="editCropImg">Изменить</button>
        </div>
    </div>
</div>
<script type="text/template" id="addUserSuccessPopup">
<div id="addPopup">
    <div class="splash-screen wrapper">
        <h3>Пользователь успешно создан!</h3>
        <div class="card">
            <div class="photo-block">
                <div class="photo">
                    <% if (image_source) { %>
                        <img src="<%=image_source%>" alt="Фото пользователя">
                    <% } else { %>
                        <img src="/static/img/no-usr.jpg" alt="Фото пользователя">
                    <% } %>
                </div>
                <div class="photo-title">
                    <p class="card_title card_title__ru"><%=fullname%></p>
                    <p class="card_title card_title__en"><%=search_name%></p>
                </div>
            </div>
            <ul>
                <li>Отдел церкви</li>
                <% let depart = departments[0] %>
                <li><%=depart.title%></li>
                <li>Иерархия</li>
                <li><%=hierarchy.title%></li>
                <li>Ответственный</li>
                <li><%=master.fullname%></li>
                <li>Телефон</li>
                <li><%=phone_number%></li>
            </ul>
        </div>
        <a class="rewrite" href="/account/<%=id%>">Ошибка? Исправить карточку пользователя.</a>
        <div class="btn-block">
            <button class="addMore">Создать ещё одного</button>
            <button class="close">Закрыть</button>
        </div>
    </div>
</div>
</script>
