{% load static %}
<div class="pop-up-splash">
    <div class="splash-screen editprofile">
        <div class="top-text">
            <h3>Редактирование</h3>
        </div>
        <div class="columns-wrap">
            <div class="col-1">
                <div id="edit-photo" class="anketa-photo">
                    <img src="{% static "img/no-usr.jpg" %}" alt="photo">
                </div>
                <div class="butt-wrap">
                    <form style="display:none" enctype="multipart/form-data" method="post">
                        <p><input id="addFile" type="file" name="f"></p>
                    </form>
                    <button id="addFileButton">Загрузить</button>
                    <p>Размер файла не должен превышать <br/>10 МБ.</p>
                    <p>Типы файлов, которые поддерживаются:<br/> jpg, jpeg, png.</p>
                </div>
            </div><!--End col-1-->

            <div class="col-3">
                <div class="col-table">
                    <div class="left-info">
                        <ul>
                            <li>Фамилия*</li>
                            <li>Имя*</li>
                            <li>Отчество*</li>
                            <li>Дата рождения*</li>
                            <li>Страна*</li>
                            <li>Область*</li>
                            <li>Город*</li>
                            <li>Район</li>
                            <li>Адрес</li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <ul>
                            <li><input name="last_name" type="text"></li>
                            <li><input name="first_name" type="text"></li>
                            <li><input name="middle_name" type="text"></li>
                            <!--li><input type="text" id="bornDate" class="hasDatepicker"></li-->
                            <li><input name="born_date" type="text" id="bornDate" readonly="readonly"></li>
                            <li><select style="width: 96%" name="" id="chooseCountry">
                                <!--option value="">Украина</option-->
                            </select></li>
                            <li><select style="width: 96%" disabled name="" id="chooseRegion">
                                <!-- <option value="">Закарпатская</option> -->
                            </select></li>
                            <li><select style="width: 96%" disabled name="" id="chooseCity">
                                <!-- <option value="">Мукачево</option> -->
                            </select></li>
                            <li><input name="district" type="text"></li>
                            <li><input name="address" id="address" type="text"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-table">
                    <div class="left-info">
                        <ul>
                            <li>Телефон*</li>
                            <li>Доп.телефон</li>
                            <li>E-mail*</li>
                            <li>Skype</li>
                            <li>Facebook</li>
                            <li>Vkontakte</li>
                            <li>Odnaklasniki</li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <ul>
                            <li><input placeholder="+380664442233"
                                       onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43 || event.charCode == 0"
                                       type="text" id="phone_number"></li>
                            <li><input type="text" id="extra_phone_numbers"></li>
                            <li><input name="email" type="text"></li>
                            <li><input name="skype" type="text"></li>
                            <li><input name="fb" type="text"></li>
                            <li><input name="vk" type="text"></li>
                            <li><input name="ok" type="text"></li>
                        </ul>
                    </div>
                </div>
            </div><!--End col-2-->
            <div class="col-3">
                <div class="col-table">
                    <div class="left-info">
                        <ul>
                            <li>Отдел*</li>
                            <li>Статус*</li>
                            <li>Ответственный*</li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <ul>
                            <li><select style="width: 96%" name="" id="chooseDepartment">
                                <option value=""></option>
                            </select></li>
                            <li><select style="width: 96%" name="" id="chooseStatus">
                            </select></li>
                            <li><select style="width: 96%" disabled name="" id="chooseResponsible">
                            </select></li>
                        </ul>
                    </div>
                </div>
                <div class="col-table">
                    <div class="left-info">
                        <ul>
                            <li>Департамент</li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <ul>
                            <li><select style="width: 96%" name="" id="chooseDivision" multiple="multiple">
                                <!-- <option value="">Департамент</option> -->
                            </select></li>
                        </ul>
                    </div>
                </div>
                <div class="col-table">
                    <div class="left-info">
                        <ul>
                            <li>Партнёр</li>
                        </ul>
                        <ul class="hidden-partner" style="display:none">
                            <li>Партнёр с</li>
                            <li>Сумма сделки</li>
                            <li>Менеджер</li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <ul>
                            <li><input type="checkbox" id="partner">
                                <label for="partner"></label>
                            </li>
                        </ul>
                        <ul class="hidden-partner" style="display:none">
                            <li><input name="partnership_date" type="text" id="partnerFrom" readonly="readonly">
                            </li>
                            <li><input name="value" type="text"></li>
                            <li><select style="width: 96%" name="" id="chooseManager">
                                <!-- <option value="">Языкин Богдан Евлампиевич</option> -->
                            </select></li>
                        </ul>
                    </div>
                </div>
                <div class="col-table">
                    <div class="left-info">
                        <ul>
                            <li>Первое посещение*</li>
                            <li>Дата покаяния</li>
                        </ul>
                    </div>
                    <div class="right-info">
                        <ul>
                            <li><input name="first_visit" type="text" readonly="readonly" id="firsVisit"></li>
                            <li><input name="repentance_date" type="text" readonly="readonly"
                                       id="repentanceDate">
                            </li>
                        </ul>
                    </div>
                </div>

            </div><!--End col-3-->
            <div class="splash-bauttons">
                <button class="close">Отменить</button>
                <button id="saveNew">Сохранить</button>
            </div>
        </div><!--End colums-wrap-->
    </div>
</div>

<div id="impPopup">
    <div class="splash-screen">
        <div class="top-text">
            <h3>Редактирование картинки</h3>
            <span>×</span>
        </div>
        <div class="crArea">
            <img src="" alt="">
        </div>
        <div class="splash-buttons">
            <button class="cr">Изменить</button>
        </div>
    </div>
</div>
