{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}
{% load partner_tags %}
{% load payment_tags %}

{% block header.top.h1 %}<h1>Партнёрство</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a class="active" href="{% url 'partner:deals' %}">Сделки</a></li>
                <li><a href="{% url 'partner:list' %}">Список партнёров</a></li>
                {% if user.is_partner_director %}
                    <li><a href="{% url 'partner:payments' %}">Таблица платежей</a></li>
                {% endif %}
                <li><a href="{% url 'partner:partnership_summary' %}">План по менеджерам</a></li>
                <li><a href="{% url 'partner:stats' %}">Статистика</a></li>
            </ul>
        </div>
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                <li>
                    <button id="filter_button"
                            class="header__button"
                            data-count="0"
                    >
                        Фильтр
                    </button>
                </li>
{#                <li>#}
{#                    <button type="submit" id="export_table" data-export-url="{% url "partner-export" %}"#}
{#                            class="download header__button">Export#}
{#                    </button>#}
{#                </li>#}
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main.content %}

    {% get_simple_managers as managers %}
    <div class="content">
        <div id="sdelki">
            <div class="top-pag">
                <div class="tab-status">
                    <ul id="tabs">
                        <li class="current">
                            <a href="#incomplete" data-status="3">Незавершённые</a>
                        </li>
{#                        <li>#}
{#                            <a href="#overdue">Просроченные(<span id="overdue-count"></span>)</a>#}
{#                        </li>#}
                        <li>
                            <a href="#completed" data-status="2">Завершённые</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tabs-cont">
                <div class="table__count"></div>
                <div class="pagination deals__pagination"></div>
                <div class="table-wrap clearfix"><!--Table -->
                    <div class="query-none" style="display:none">
                        <p></p>
                    </div>
                    <div class="table scrollbar-inner" id="dealsList"></div>
                </div><!--End Table-wrap -->
                <div class="table__count"></div>
                <div class="pagination deals__pagination"></div>
            </div>
        </div><!--End sdelki -->
    </div><!-- End tab-content-->
{% endblock %}

{% block popup %}
    {% create_payment_form %}
    {% include "partner/partials/create_deal.html" %}
    <div id="popup-payments" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Платежи</h3>
                    <span>&times;</span>
                </div>
                <table></table>
                <div class="splash-bauttons">
{#                    <button class="detail" data-detail-url="{% url "payment-deal" pk=0 %}">{% trans "Detail" %}</button>#}
                    <button class="close">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div id="popup" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Завершить сделку</h3>
                </div>
                <div class="padding-wrap">
                    <div class="user-info">
                        <label>
                            <span class="label-wrapp">Клиент:</span>
                            <input id="client-name" value="" disabled>
                        </label>
                        <label>
                            <span class="label-wrapp">Последняя сделка:</span>
                            <input id="deal-date" value="" disabled>
                        </label>
                        <label>
                            <span class="label-wrapp">Ответственный:</span>
                            <input id="responsible-name" value="" disabled>
                        </label>
                        <label class="textarea">
                            <textarea placeholder="Добавить коментарий" id="deal-description"></textarea>
                        </label>

                    </div>
                    <div class="splash-bauttons">
                        <button class="close">Отменить</button>
                        <button id="complete">Завершить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <div class='popup_text'>
                <h2>Фильтр</h2>
            </div>
            <div class="popup_body">
                <div class="container">
                    <label>
                        {% if request.user.is_partner_supervisor_or_high %}
                            <span class="label_block">Менеджер</span>
                        {% endif %}
                        {% if request.user.is_partner_supervisor_or_high %}
                            <select class="selectdb" data-filter="partnership__responsible__user" id="masters_filter">
                                <option value="">ВСЕ</option>
                                {% for manager in managers %}
                                    <option value="{{ manager.id }}">{{ manager.fullname }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </label>
                    <label>
                        <span class="label_block">Фильтр по дате сделки</span>
                        <p class="birthday">
                            <input type="text" placeholder="от" data-filter="from_date" id="date_from" class="select_date_filter">
                            <input type="text" placeholder="до" data-filter="to_date" id="date_to" class="select_date_filter">
                        </p>
                    </label>
                    <label>
                        <span class="label_block">Фильтр по валюте</span>
                        <select id="payment_currency" class="selectdb" data-filter="currency_id">
                            <option value="">ВСЕ</option>
                            {% for currency in currencies %}
                                <option value="{{ currency.id }}">{{ currency.short_name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Фильтр по сумме сделки</span>
                        <p class="birthday">
                            <input type="text" placeholder="от" data-filter="from_value" id="value_from">
                            <input type="text" placeholder="до" data-filter="to_value" id="value_to">
                        </p>
                    </label>
                    <label>
                        <span class="label_block">Статус сделки</span>
                        <select id="﻿payment_status" class="selectdb" data-filter="payment_status">
                            <option value="">ВСЕ</option>
                            <option value="0">﻿Hе оплачена</option>
                            <option value="1">Оплачена частично</option>
                            <option value="2">﻿Оплачена полностью</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Тип сделки</span>
                        <select id="﻿payment_status" class="selectdb" data-filter="type">
                            <option value="">ВСЕ</option>
                            <option value="1">Партнерские</option>
                            <option value="2">﻿Десятины</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="container">
                <button onclick="refreshFilter(this)" class="clear-filter"><i class="fa fa-refresh"
                                                                                  aria-hidden="true"></i>
                    Очистить</button>
                <button class="close-popup">Отменить</button>
                <button class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block add_user_modal.buttons.create %}
{% endblock %}

{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск (введите не менее трех символов)">
{% endblock %}

{% block extra_scripts %}
    <script src='{% static "libs/moment/min/moment-with-locales.min.js" %}'></script>
    <script src='{% static "libs/air-datepicker/dist/js/datepicker.min.js" %}'></script>
    <script src='{% static "libs/numeral/min/numeral.min.js" %}'></script>
    <script src='{% static "js/deals.js" %}'></script>
    {% block template_tables %}
        <script type="text/template" id="databaseDeals">
         <table id="table-1">
            <thead>
            <tr>
                <% for( var key in table_columns) { %>
                    <% if (table_columns[key].active) { %>
                        <th data-order="<%=table_columns[key].ordering_title%>"><%=table_columns[key].title %></th>
                    <% } %>
                <% } %>
            </tr>
            </thead>
            <tbody>
                <% results.map(function(value, index) { %>
                <tr>
                    <% for( var key in table_columns) { %>
                        <% if(table_columns.hasOwnProperty(key) && table_columns[key].active) { %>
                            <% if (key == 'full_name') { %>
                                <% if (results[index][key] != null) { %>
                                    <td class="edit"><a href="<%= results[index].﻿partner_link %>"
                                           data-link="<%= results[index].﻿partner_link %>"
                                           data-id="<%=results[index].id %>"
                                        <% if(results[index].ankets_id) { %>
                                            data-ankets="<%= results[index].ankets_id %>"
                                        <% } %>><%= results[index][key] %></a>
                                        {% if user.is_partner_supervisor_or_high %}
                                            <span class="quick-edit" data-id="<%= results[index].id %>"></span>
                                        {% endif %}
                                    </td>
                                <% } else { %>
                                    <td></td>
                                <% } %>
                            <% } else if (key == 'responsible' ) { %>
                                <% if (results[index].responsible_name != null ) { %>
                                    <td><%= results[index].responsible_name%></td>
                                <% } else { %>
                                    <td></td>
                                <% } %>
                            <% } else if (key == 'sum' ) { %>
                                <% if (results[index].total_sum != null || results[index].value != null) { %>
                                    <td>
                                        <button class="show_payments inline__button" data-id="<%=results[index].id%>">
                                            <span><%= results[index].total_sum %>/<%= results[index].value %></span>
                                        </button>
                                    </td>
                                <% } else { %>
                                    <td></td>
                                <% } %>
                            <% } else if (key == 'type' ) { %>
                                <% if (results[index][key] != null ) { %>
                                    <td>
                                        <% if (results[index][key] == '1' ) { %>
                                        партнерские
                                        <% } else { %>
                                        десятины
                                        <% } %>
                                    </td>
                                <% } else { %>
                                    <td></td>
                                <% } %>
                            <% } else if (key == 'action' ) { %>
                                <td>
                                <% if( (!results[index].done && can_close_deal) && ((parseInt(results[index].total_sum.match(/\d+/)) - parseInt(results[index].value.match(/\d+/))) >= 0 )) { %>

                                            <button class="complete inline__button"
                                                    data-id="<%= results[index].id%>"
                                                    data-name="<%=results[index].full_name%>"
                                                    data-date="<%=results[index].date_created%>"
                                                    data-responsible="<%=results[index].responsible_name%>"
                                                    data-total_sum="<%=results[index].total_sum %>"
                                                    data-value="<%=results[index].value%>"
                                                    data-currency-name="<%=results[index].currency.short_name %>"
                                                    data-currency-id="<%=results[index].currency.id %>"
                                            >Закрыть сделку
                                            </button>
                                <% } else if ((!results[index].done && check_payment_permissions) && ((parseInt(results[index].total_sum.match(/\d+/)) - parseInt(results[index].value.match(/\d+/))) < 0 )) {  %>

                                            <button class="pay inline__button"
                                                    data-id="<%=results[index].id%>"
                                                    data-name="<%=results[index].full_name%>"
                                                    data-date="<%=results[index].date_created%>"
                                                    data-responsible="<%=results[index].responsible_name%>"
                                                    data-total_sum="<%=results[index].total_sum %>"
                                                    data-value="<%=results[index].value%>"
                                                    data-currency-name="<%=results[index].currency.short_name %>"
                                                    data-currency-id="<%=results[index].currency.id %>"
                                            >Добавить платеж
                                            </button>
                                <% } %>
                                </td>
                            <% }  else if (results[index][key] != null ) { %>
                                <td><%= results[index][key] %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% } %>
                    <% } %>
                </tr>
                <% }).join('') %>
            </tbody>
        </table>
        <table id="header-fixed"></table>
    </script>
    {% endblock %}
{% endblock %}
