{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}
{% load partner_tags %}
{% load payment_tags %}

{% block header.top.h1 %}<h1>Партнёрство</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a class="active" href="{% url 'partner:deals' %}">Сделки</a></li>
                <li><a href="{% url 'partner:list' %}">Список партнёров</a></li>
                <li><a href="{% url 'partner:stats' %}">Статистика</a></li>
                <li><a href="{% url 'partner:payments' %}">Таблица платежей</a></li>
            </ul>
        </div>
        <div class="top-buttons-wrap">
{#            <ul class="top-buttons">#}
{#            </ul>#}
        </div>
    </div>
{% endblock %}

{% block main.content %}

    {% get_simple_managers as managers %}
    <div class="content">
        <div  id="sdelki">
            <div class="top-pag">
                <div class="tab-status">
                    <ul id="tabs">
                        <li>
                            <a href="#incomplete">Незавершённые (<span id="incomplete-count"></span>)</a>
                        </li>
                        <li>
                            <a href="#overdue">Просроченные(<span id="overdue-count"></span>)</a>
                        </li>
                        <li>
                            <a href="#completed">Завершённые(<span id="completed-count"></span>)</a>
                        </li>
                    </ul>
                </div>
                <div id="period_expired" class="period">
                    <p>Период с <input type="text" id="expired_datepicker_from" readonly="readonly"> по <input
                            type="text" id="expired_datepicker_to" readonly="readonly"><a id="show-all-expired"
                                                                                          href="javascript:void(0);">Показать
                        все</a></p>
                </div>
                <div id="period_done" class="period">
                    <p>Период с <input type="text" id="done_datepicker_from" readonly="readonly"> по <input
                            type="text" id="done_datepicker_to" readonly="readonly"><a id="show-all-done"
                                                                                       href="javascript:void(0);">Показать
                        все</a></p>
                </div>
            </div>
            <div class="tabs-cont">
                <div class="pagination undone__pagination"></div>
                <div id="incomplete"></div>
                <div class="pagination undone__pagination"></div>
            </div>
            <div class="tabs-cont">
                <div class="pagination expired__pagination"></div>
                <div id="overdue"></div>
                <div class="pagination expired__pagination"></div>
            </div>
            <div class="tabs-cont">
                <div class="pagination done__pagination"></div>
                <div id="completed"></div>
                <div class="pagination done__pagination"></div>
            </div>
        </div><!--End sdelki -->
    </div><!-- End tab-content-->
{% endblock %}

{% block popup %}
    {% create_payment_form %}
    <div id="popup-payments" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
            <div class="top-text">
                <h3>Платежи</h3>
                <span>&times;</span>
            </div>
            <table></table>
            <div class="splash-bauttons">
                <button class="detail" data-detail-url="{% url "payment-deal" pk=0 %}">{% trans "Detail" %}</button>
                <button class="close">Закрыть</button>
            </div>
        </div>
        </div>
    </div>
    <div id="popup" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Завершить сделку</h3>
                </div>
                <div class="padding-wrap">
                    <div class="user-info">
                    <div class="left-side">
                        <p>Клиент:</p>
                        <p>Последняя сделка:</p>
                        <p>Ответственный:</p>
                    </div>
                    <div class="right-side">
                        <p><input id="client-name" value="" disabled></p>
                        <p><input id="deal-date" value="" disabled></p>
                        <p><input id="responsible-name" value="" disabled></p>
                    </div>
                </div>
                    <textarea placeholder="Добавить коментарий" id="deal-description"></textarea>
                    <div class="splash-bauttons">
                    <button class="close">Отменить</button>
                    <button id="complete">Завершить</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block add_user_modal.buttons.create %}
{% endblock %}

{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск (введите не менее трех символов)">
{% endblock %}

{% block extra_scripts %}
    <script src='{% static "libs/moment/min/moment-with-locales.min.js" %}'></script>
    <script src='{% static "libs/air-datepicker/dist/js/datepicker.min.js" %}'></script>
    <script src='{% static "libs/numeral/min/numeral.min.js" %}'></script>
    <script src='{% static "js/deals.js" %}'></script>
    {% block template_tables %}

    {% endblock %}
    <script type="text/template" id="showDeals">
    <% results.forEach(function(item) { %>
    <div class="rows-wrap" id="<%=item.id%>">
        <% if(!item.done && can_close_deal) { %>
            <% if((parseInt(item.total_sum.match(/\d+/)) - parseInt(item.value.match(/\d+/))) >= 0 ){ %>
                <button class="complete"
                        data-id="<%= item.id%>"
                        data-name="<%=item.full_name%>"
                        data-date="<%=item.date_created%>"
                        data-responsible="<%=item.responsible_name%>"
                        data-total_sum="<%=item.total_sum %>"
                        data-value="<%=item.value%>"
                        data-currency-name="<%=item.currency.short_name %>"
                        data-currency-id="<%=item.currency.id %>"
                >Завершить</button>
            <% } %>
        <% } %>
        <% if(!item.done && check_payment_permissions) { %>
            <% if((parseInt(item.total_sum.match(/\d+/)) - parseInt(item.value.match(/\d+/))) < 0 ){ %>
                <button class="pay"
                        data-id="<%=item.id%>"
                        data-name="<%=item.full_name%>"
                        data-date="<%=item.date_created%>"
                        data-responsible="<%=item.responsible_name%>"
                        data-total_sum="<%=item.total_sum %>"
                        data-value="<%=item.value%>"
                        data-currency-name="<%=item.currency.short_name %>"
                        data-currency-id="<%=item.currency.id %>"
                >Платеж</button>
            <% } %>
        <% } %>
        <div class="rows">
            <div class="col">
                <p>
                    <span><%=item.full_name%></span>
                </p>
            </div>
            <div class="col">
                <p>Сделка за: <span><%= item.date_created %></span></p>
                <p>Менеджер: <span><%= item.responsible_name %></span></p>
                <p>Сумма: <button class="show_payments inline__button" data-id="<%=item.id%>"><span><%= item.total_sum %>/<%= item.value %></span></button></p>
            </div>
        </div>
    </div>
    <% }) %>
</script>
{% endblock %}
