{% extends "layout_main.html" %}
{% load static %}
{% load partner_tags %}
{% block header.top.h1 %}<h1>Партнёрство / План по менеджерам</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a href="{% url 'partner:deals' %}">Сделки</a></li>
                <li><a href="{% url 'partner:list' %}">Список партнёров</a></li>
                <li><a href="{% url 'partner:payments' %}">Таблица платежей</a></li>
                <li><a class="active" href="{% url 'partner:partnership_summary-list' %}">План по менеджерам</a></li>
                <li><a href="{% url 'partner:partnership_summary-detail' manager_id="all" %}">Статистика</a></li>
            </ul>
        </div>
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
{#                <li>#}
{#                    <button id="filter_button"#}
{#                            class="header__button"#}
{#                            data-count="0"#}
{#                    >#}
{#                        Фильтр#}
{#                    </button>#}
{#                </li>#}
{#                <li>#}
{#                    <button type="submit" id="export_table" data-export-url="{% url "partner-export" %}"#}
{#                            class="download header__button">Export#}
{#                    </button>#}
{#                </li>#}
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}

{% block main.content %}

    <div class="content">
        <div class="container-full">
            <div class="prefilter-group tab-status tab-home-stats">
                <div class="set-date">
                    <input type='text' id="date_field_stats" placeholder="Выберите дату" readonly/>
                    <div class="cal-icon"></div>
                </div>
                <div class="checkbox_style">
                    <input type="checkbox" id="showCompare"/>
                    <label for="showCompare">Сравнить</label>
                </div>
                <div class="set-date">
                    <input type='text' id="date_field_compare" placeholder="Выберите дату"  readonly disabled/>
                    <div class="cal-icon"></div>
                </div>
            </div>
            <div style="margin-top: 20px;">Last update: <span id="last_update"></span></div>
        </div>
            <div class="top-pag">
{#                <div class="table__count"></div>#}
{#                <div class="pagination partners__pagination"></div>#}
            </div>

            <div class="table-wrap clearfix"><!--Table -->
                <div class="query-none" style="display:none">
                    <p></p>
                </div>
                <div class="table scrollbar-inner" id="managersPlan"></div>
            </div><!--End Table-wrap -->
{#            <div class="table__count"></div>#}
{#            <div class="pagination partners__pagination"></div>#}
    </div><!-- End tab-content-->
{% endblock %}

{% block add_user_modal.buttons.create %}
{% endblock %}

{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск (введите не менее трех символов)">
{% endblock %}

{% block extra_scripts %}
    <script src='{% static "js/partnership_summary.bundle.js" %}'></script>
    <script type="text/template" id="databasePartnershipSummary">
        <table id="table-1">
            <thead>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <% if( (key == 'manager') ) { %>
                <th data-order="<%=table_columns[key].ordering_title%>" data-order_type="letter"><%=table_columns[key].title %></th>
                <% } else { %>
                <th data-order="<%=table_columns[key].ordering_title%>"
                <% if (key == 'sum_pay' || key == 'sum_pay_tithe' || key == 'sum_pay_church') { %>
                class="cell__red"
                <% } %>
                ><%=table_columns[key].title %></th>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for( var index in results) { %>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <% if (key == 'manager') { %>
                <% if (results[index][key] != null) { %>
                <td>
                    <% if (results[index][key] == 'СУММАРНО:') { %>
                    <%= results[index][key] %>
                    <% } else { %>
                        <a href="/partner/summary/<%=results[index].user_id %>"
                            title="<%= results[index][key] %>">
                            <%= results[index][key] %></a>
                    <% } %>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'plan') { %>
                <% if (results[index][key] != null) { %>
                <td class="edit edit-plan">
                    {% if user.is_partner_director %}
                        <% if (results[index].manager === 'СУММАРНО:' || !flag) { %>
                        <%= String(results[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                        <% } else { %>
                        <form name="plan_form" class="editPlanForm">
                            <input name="plan_sum" class="edit_plan" type="text" data-id="<%=results[index].user_id %>"
                                   value="<%= results[index][key] %>" readonly disabled>
                            <div class="btn-block">
                                <button class="send_plan">ОК</button>
                                <button class="cancel_plan">Отмена</button>
                            </div>
                        </form>
                            <button class="edit_btn">E</button>
                        <% } %>
                    {% else %}
                        <%= String(results[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                    {% endif %}
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'sum_pay' || key == 'sum_pay_tithe' || key == 'sum_pay_church') { %>
                <% if (results[index][key] != null) { %>
                <td class="cell__red <%= key %>">
                    <%= String(results[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'total_partners') { %>
                <td>
                    <%= String(results[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                    (<%= String(results[index].active_partners).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %> /
                    <%= String(results[index].not_active_partners).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>)
                </td>
                <% } else if (key == 'percent_of_plan') { %>
                <% if (results[index][key] != null) { %>
                <td class="<%= key %>">
                    <%= String(results[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %> %
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else { %>
                <td><% if (results[index][key] != null ) { %>
                    <%= String(results[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                    <% } %>
                </td>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
        <table id="header-fixed"></table>
    </script>
    <script type="text/template" id="databaseCompareSummary">
        <table id="table-1">
            <thead>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <% if( (key == 'manager') ) { %>
                <th><%=table_columns[key].title %></th>
                <% } else { %>
                <th colspan="2"
                <% if (key == 'sum_pay' || key == 'sum_pay_tithe' || key == 'sum_pay_church') { %>
                class="cell__red"
                <% } %>
                ><%=table_columns[key].title %>
                </th>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <% if( (key == 'manager') ) { %>
                <th></th>
                <% } else { %>
                <th <% if (key == 'sum_pay' || key == 'sum_pay_tithe' || key == 'sum_pay_church') { %>
                class="cell__red"
                <% } %>
                ><%= firstDate %>
                </th>
                <th <% if (key == 'sum_pay' || key == 'sum_pay_tithe' || key == 'sum_pay_church') { %>
                class="cell__red"
                <% } %>
                ><%= secondDate %>
                </th>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for( var index in result) { %>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <% if (key == 'manager') { %>
                <td>
                <% if (result[index][key] != null) { %>
                    <% if (result[index][key] == 'СУММАРНО:') { %>
                    <%= result[index][key] %>
                    <% } else { %>
                        <a href="/partner/summary/<%=result[index].user_id %>"
                            title="<%= result[index][key] %>">
                            <%= result[index][key] %></a>
                    <% } %>
                <% } %>
                </td>
                <% } else if (key == 'plan') { %>
                <td class="edit edit-plan">
                <% if (result[index][key] != null) { %>
                    {% if user.is_partner_director %}
                        <% if (result[index].manager === 'СУММАРНО:' || !flag) { %>
                        <%= String(result[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                        <% } else { %>
                        <form name="plan_form" class="editPlanForm">
                            <input name="plan_sum" class="edit_plan" type="text" data-id="<%=result[index].user_id %>"
                                   value="<%= result[index][key] %>" readonly disabled>
                            <div class="btn-block">
                                <button class="send_plan">ОК</button>
                                <button class="cancel_plan">Отмена</button>
                            </div>
                        </form>
                        <button class="edit_btn"></button>
                        <% } %>
                    {% else %}
                        <%= String(result[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                    {% endif %}
                <% } %>
                </td>
                <td>
                <% if (resultCompare[index][key] != null) { %>
                    <%= String(resultCompare[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                <% } %>
                </td>
                <% } else if (key == 'sum_pay' || key == 'sum_pay_tithe' || key == 'sum_pay_church') { %>
                <td class="cell__red <%= key %>">
                <% if (result[index][key] != null) { %>
                    <%= String(result[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                <% } %>
                </td>
                <td class="cell__red">
                    <% if (resultCompare[index][key] != null) { %>
                    <%= String(resultCompare[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                    <% } %>
                </td>
                <% } else if (key == 'total_partners') { %>
                <td>
                    <%= String(result[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                    (<%= String(result[index].active_partners).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %> /
                    <%= String(result[index].not_active_partners).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>)
                </td>
                <td>
                    <%= String(resultCompare[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                    (<%= String(resultCompare[index].active_partners).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %> /
                    <%= String(resultCompare[index].not_active_partners).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>)
                </td>
                <% } else if (key == 'percent_of_plan') { %>
                <td class="<%= key %>">
                <% if (result[index][key] != null) { %>
                    <%= String(result[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %> %
                <% } %>
                </td>
                <td>
                <% if (resultCompare[index][key] != null) { %>
                    <%= String(resultCompare[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %> %
                <% } %>
                </td>
                <% } else { %>
                <td>
                    <% if (result[index][key] != null ) { %>
                    <%= String(result[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                    <% } %>
                </td>
                <td>
                    <% if (resultCompare[index][key] != null ) { %>
                    <%= String(resultCompare[index][key]).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') %>
                    <% } %>
                </td>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
        <table id="header-fixed"></table>
    </script>
{% endblock %}
