{% extends "layout_main.html" %}
{% load static %}
{% load partner_tags %}
{% block header.top.h1 %}<h1>Партнёрство</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a href="{% url 'partner:deals' %}">Сделки</a></li>
                <li><a class="active" href="{% url 'partner:list' %}">Список партнёров</a></li>
                <li><a href="{% url 'partner:payments' %}">Таблица платежей</a></li>
                {% if user.can_see_managers_summary %}
                    <li><a href="{% url 'partner:partnership_summary' %}">План по менеджерам</a></li>
                {% endif %}
                <li><a href="{% url 'partner:stats' %}">Статистика</a></li>
            </ul>
        </div>
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                <li>
                    <button id="filter_button"
                            class="header__button"
                            data-count="0"
                    >
                        Фильтр
                    </button>
                </li>
                <li>
                    <button type="submit" id="export_table" data-export-url="{% url "partner-export" %}"
                            class="download header__button">Export
                    </button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}

{% block main.content %}

    <div class="content">
            <div class="top-pag">
                <div class="table__count"></div>
                <div class="pagination partners__pagination"></div>
            </div>

            <div class="table-wrap clearfix"><!--Table -->
                <div class="query-none" style="display:none">
                    <p></p>
                </div>
                <div class="table scrollbar-inner" id="partnersList"></div>
            </div><!--End Table-wrap -->
            <div class="table__count"></div>
            <div class="pagination partners__pagination"></div>
    </div><!-- End tab-content-->
{% endblock %}
{% block popup %}
    {% get_simple_managers as managers %}
    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <div class='popup_text'>
                <h2>Фильтр</h2>
            </div>
            <div class="popup_body">
                <div class="container">
                    <label>
                        {% if request.user.is_partner_supervisor_or_high %}
                            <span class="label_block">Менеджер</span>
                        {% endif %}
                        {% if request.user.is_partner_supervisor_or_high %}
                            <select class="selectdb" data-filter="responsible" id="masters_filter">
                                <option value="">ВСЕ</option>
                                {% for manager in managers %}
                                    <option value="{{ manager.id }}">{{ manager.fullname }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </label>
                    <label>
                        <span class="label_block">Отдел</span>
                        <select class="selectdb" data-filter="department" id="departments_filter">
                            <option value="">ВСЕ</option>
                            {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Ветка</span>
                        <select class="selectdb" data-filter="master_tree" id="tree_filter">
                            <option value="">ВСЕ</option>
                            {% for master in masters %}
                                <option value="{{ master.id }}">{{ master.fullname }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Иерархия</span>
                        <select class="selectdb" data-filter="hierarchy" id="hierarchies_filter">
                            <option value="">ВСЕ</option>
                            {% for hierarchy in hierarchies %}
                                <option value="{{ hierarchy.id }}">{{ hierarchy.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Ответственный</span>
                        <select class="selectdb" data-filter="master" id="masters_filter">
                            <option value="">ВСЕ</option>
                            {% for master in masters %}
                                <option value="{{ master.id }}">{{ master.fullname }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Фильтр по email</span>
                        <input type="email" data-filter="search_email" placeholder="email или часть" id="search_email">
                    </label>
                    <label>
                        <span class="label_block">Фильтр по номеру телефона</span>
                        <input type="tel" data-filter="search_phone_number" placeholder="номер телефона или часть" id="search_phone_number">
                    </label>
                    <label>
                        <span class="label_block">Фильтр по стране</span>
                        <input type="text" data-filter="search_country" placeholder="страна или часть названия" id="search_country">
                    </label>
                    <label>
                        <span class="label_block">Фильтр по городу</span>
                        <input type="text" data-filter="search_city" placeholder="город или часть названия" id="search_city">
                    </label>
                    <label>
                        <span class="label_block">Фильтр по дню рождения</span>
                        <p class="birthday">
                            <input type="text" placeholder="от" data-filter="from_date" id="date_from" class="select_date_filter">
                            <input type="text" placeholder="до" data-filter="to_date" id="date_to" class="select_date_filter">
                        </p>
                    </label>
                    <label>
                        <span class="label_block">Статус партнера</span>
                        <select class="selectdb" data-filter="is_active" id="active_filter">
                            <option value="">ВСЕ</option>
                            <option value="2">Активный</option>
                            <option value="3">Не активный</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Фильтр по дате покаяния</span>
                        <p class="birthday">
                            <input type="text" placeholder="от" data-filter="repentance_date_from"
                                   id="repentance_date_from" class="select_rep_date_filter">
                            <input type="text" placeholder="до" data-filter="repentance_date_to"
                                   id="repentance_date_to" class="select_rep_date_filter">
                        </p>
                    </label>
                </div>
            </div>
            <div class="container">
                <button onclick="refreshFilter(this)" class="clear-filter"><i class="fa fa-refresh"
                                                                                  aria-hidden="true"></i>
                    Очистить</button>
                <button class="close-popup">Отменить</button>
                <button onclick="applyFilter(this, getPartners)" class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
    <div class="popap" id="quickEditCartPopup">
        <div class="pop_cont">
            <div class="popup_text">
                <h2>Карточка пользователя</h2>
                <span class="close close-popup"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="popup_body">
            </div>
            <div class="container">
                <button class="close-popup">Отменить</button>
                <button onclick="saveUser(this)" class="save-user">Сохранить</button>
            </div>
        </div>
    </div>
    <div id="popup" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Завершить сделку</h3>
                </div>
                <div class="user-info">
                    <div class="left-side">
                        <p>Клиент:</p>
                        <p>Последняя сделка:</p>
                        <p>Ответственный:</p>
                    </div>
                    <div class="right-side">
                        <p id="client-name"></p>
                        <p id="deal-date"></p>
                        <p id="responsible-name"></p>
                    </div>
                </div>
                <div class="summa-wrap">
                    <div class="summa">
                        <p>Сумма:</p>
                        <!-- <span id="deal-value"></span> -->
                        <input readonly="readonly" type="text" id="deal-value">
                        <span id="changeSum" class="change-summ"></span>
                    </div>
                </div>
                <textarea placeholder="Добавить коментарий" id="deal-description"></textarea>
                <div class="splash-bauttons">
                    <button id="close">Отменить</button>
                    <button id="complete">Завершить</button>
                </div>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}

{% block add_user_modal.buttons.create %}
{% endblock %}

{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск (введите не менее трех символов)">
{% endblock %}

{% block extra_scripts %}
    <script src='{% static "libs/moment/min/moment-with-locales.min.js" %}'></script>
    <script src='{% static "libs/air-datepicker/dist/js/datepicker.min.js" %}'></script>
    <script src='{% static "js/partner_list.js" %}'></script>
    <script type="text/template" id="quickEditCart">
        <div class="container bb-1">
            <div>
                <img class="user-image" src="<%= image %>" alt="<%=id%>">
            </div>
            <div class="col-7">
                <p><input type="text" class="fullname" value="<%=fullname %>"></p>
                <p><label for="departmentSelect">Отдел церкви: </label><select id="departmentSelect" multiple>
                    <% if(departments.length > 0) { %>
                        <% departments.forEach(function(department) { %>
                            <option value="<%=department.id %>" selected><%=department.title %></option>
                        <% }) %>
                    <% } else { %>
                    <option value="" selected></option>
                    <% } %>
                </select></p>
                <div><label for="master_hierarchy">Ответственный: </label>
                    <select id="master_hierarchy">
                        <% if(master != null) { %>
                        <option value="<%= master.fullname %>" data-id="<%= master.id %>"
                                data-level="<%=master.hierarchy.level%>" selected><%= master.fullname %>
                        </option>
                        <% } %>
                    </select>
                </div>
                <p><label for="hierarchySelect">Статус: </label><select id="hierarchySelect">
                    <% if(hierarchy != null) { %>
                    <option value="<%=hierarchy.id %>" data-level="<%=hierarchy.level%>" selected><%=hierarchy.title
                        %>
                    </option>
                    <% } else { %>
                    <option value="" selected></option>
                    <% } %>
                </select></p>
                {#            <p><label for="departmentSelect">Отдел церкви: </label><input type="text" id="departmentSelect" value="<%=fields.department.value %>" readonly></p> #}
                {#            <p><label for="master_hierarchy">Ответсвенный: </label><input type="text" id="master_hierarchy" value="<%=fields.master_hierarchy.value %>" readonly></p>#}
                {#            <p><label for="hierarchy">Статус: </label><input type="text" id="hierarchy" value="<%=fields.hierarchy.value %>" readonly></p>#}
            </div>
        </div>
        <div class="container">
            <div class="col-6">
                <p class="label_block">Телефон:</p>
                <p class="label_block">Домашний телефон:</p>
                <p class="label_block">E-mail:</p>
                <p class="label_block">Skype:</p>
                <p class="label_block">Страна:</p>
                <p class="label_block">Область:</p>
                <p class="label_block">Нас.пункт:</p>
                <p class="label_block">Адрес:</p>
                <p class="label_block">Дата покаяния:</p>
            </div>
            <div class="col-6">
                <p><input type="text" id="phone_number" value="<%=phone_number %>"></p>
                <p><input type="text" id="extra_phone_numbers"
                    <% if (extra_phone_numbers.lenght) { %>
                    value="<%=extra_phone_numbers.join(', ') %>
                    <% } %>
                </p>
                <p><input type="text" id="email" value="<%=email %>"></p>
                <p><input type="text" id="skype" value="<%=skype %>"></p>
                <p><input type="text" id="country" value="<%=country %>"></p>
                <p><input type="text" id="region" value="<%=region %>"></p>
                <p><input type="text" id="city" value="<%=city %>"></p>
                <p><input type="text" id="address" value="<%=address %>"></p>
                <% if (repentance_date) { %>
                <p><input type="text" id="repentance_date" value="<%=repentance_date.split('.').reverse().join('-') %>">
                </p>
                <% } else { %>
                <p><input type="text" id="repentance_date" value=""></p>
                <% } %>
            </div>
        </div>
    </script>
{% endblock %}
