<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM — stats</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/libs/jquery.scrollbar.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet"
          href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-6" style="height:130px;">
            <div class="form-group">
                <div class='input-group date' id='datepicker10'>
                    <input type='text' id="date_field" class="form-control"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
                </div>
            </div>
            <button id="apply_date" type="button" class="btn btn-default">Применить</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Статистика партнеров</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">Всего партнеров
                        <p style="font-size:4em;text-align: center">
                            <span id="count_partners" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well is-green">Партнеров оплатило
                        <p style="font-size:4em;text-align: center">
                            <span id="paid_partners" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well is-yelloow">Партнеров частично оплатило
                        <p style="font-size:4em;text-align: center">
                            <span id="partial_paid_partners" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well is-pink">Партнеров не оплатило
                        <p style="font-size:4em;text-align: center">
                            <span id="unpaid_partners" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                Статистика сделок
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        Всего сделок
                        <p style="font-size:4em;text-align: center">
                            <span id="total_deals" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        Оплаченных сделок
                        <p style="font-size:4em;text-align: center">
                            <span id="paid_deals" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">Неоплаченных сделок
                        <p style="font-size:4em;text-align: center">
                            <span id="unpaid_deals" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">Запланированная сумма
                        <p style="font-size:4em;text-align: center">
                            <span id="planned_sum_deals" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">Выполнено
                        <p style="font-size:4em;text-align: center">
                            <span id="paid_sum_deals" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">% выполнения
                        <p style="font-size:4em;text-align: center">
                            <span id="percent_paid_sum_deals" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="well">Сумма всех сделок за месяц
                        <p style="font-size:4em;text-align: center">
                            <span id="sum_deals" class="label label-primary"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Партнеры</h3>
        </div>
        <table class="table table-striped" id="partners_table">
            <thead>
            <tr>
                <th>Имя</th>
                <th>К-во сделок</th>
                <th>Оплаченных сделок</th>
                <th>Неоплаченных сделок</th>
                <th>Всего оплаченно</th>
                <th>Всего не оплаченно</th>
                <th>Всего запланированно</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{#<script src='/static/libs/jquery-1.12.1.min.js'></script>#}
{#<script src='/static/libs/jquery.scrollbar.min.js'></script>#}
{#<script src='/static/libs/jquery-ui.min.js'></script>#}

<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/bower_components/moment/min/moment-with-locales.min.js"></script>
<script type="text/javascript"
        src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src='{% static "js/urls.js" %}'></script>

<script src="/static/js/stats.js"></script>
</body>
</html>