{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}
{% load payment_tags %}
{% block header.top.h1 %}<h1>Партнёрство / Таблица платежей</h1>{% endblock %}

{% block extra_styles %}
    {{ block.super }}
    <style>
        .details {
            text-decoration: underline;
            cursor: pointer;
        }

        #ohoho {
            margin-bottom: 40px;
        }
    </style>
{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a href="{% url 'partner:deals' %}">Сделки</a></li>
                <li><a href="{% url 'partner:list' %}">Список партнёров</a></li>
                <li><a class="active" href="{% url 'partner:payments' %}">Таблица платежей</a></li>
                {% if user.can_see_managers_summary %}
                    <li><a href="{% url 'partner:partnership_summary-list' %}">План по менеджерам</a></li>
                {% endif %}
                <li><a href="{% url 'partner:partnership_summary-detail' manager_id="all" %}">Статистика</a></li>
            </ul>
        </div>

        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                <li>
                    <button id="filter_button"
                            class="header__button"
                            data-count="0"
                    >
                        Фильтр
                    </button>
                </li>
                <li>
                    <button id="export_table" data-export-url="{% url "payment-export" %}"
                            class="download header__button">Export
                    </button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main.content %}
    <div class="content">
        <div class="top-pag">
            <div class="table__count"></div>
            <div class="pagination payments__pagination"></div>
        </div>

        <div class="table-wrap clearfix"><!--Table -->
            <div class="query-none" style="display:none">
                <p></p>
            </div>
            <div class="table scrollbar-inner" id="paymentsList"></div>
        </div><!--End Table-wrap -->
        <div class="table__count"></div>
        <div class="pagination payments__pagination"></div>
    </div><!-- End tab-content-->
{% endblock %}

{% block popup %}
    {% update_payment_form %}
    <div class="popap popap_slide" id='filterPopup'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Фильтр
            </h2>
            <div class="popup_body">
                <div class="container">
                    <label>
                        <span class="label_block">Валюта</span>
                        <select class="selectdb" data-filter="currency_sum" id="currency_sum">
                            <option value="">ВСЕ</option>
                            {% for currency in currencies %}
                                <option value="{{ currency.id }}">{{ currency.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Сумма платежа</span>
                        <p class="birthday">
                            <input type="number" placeholder="от" data-filter="sum_from" id="sum_from" class="select_from_filter">
                            <input type="number" placeholder="до" data-filter="sum_to" id="sum_to" class="select_to_filter">
                        </p>
                    </label>
                    <label>
                        <span class="label_block">Дата поступления платежа</span>
                        <p class="birthday">
                            <input type="text" placeholder="от" data-filter="sent_from" id="sent_date_from" class="select_from_filter">
                            <input type="text" placeholder="до" data-filter="sent_to" id="sent_date_to" class="select_to_filter">
                        </p>
                    </label>
                    <label>
                        <span class="label_block">Дата создания платежа</span>
                        <p class="birthday">
                            <input type="text" placeholder="от" data-filter="create_from" id="date_from" class="select_from_filter">
                            <input type="text" placeholder="до" data-filter="create_to" id="date_to" class="select_to_filter">
                        </p>
                    </label>
                    <label>
                        <span class="label_block">Дата сделки</span>
                        <p class="birthday">
                            <input type="text" placeholder="от" data-filter="purpose_date_from" id="purpose_date_from" class="select_from_filter">
                            <input type="text" placeholder="до" data-filter="purpose_date_to" id="purpose_date_to" class="select_to_filter">
                        </p>
                    </label>
                    <label>
                        <span class="label_block">Супервайзер</span>
                        <select data-filter="manager" id="manager">
                            <option value="">ВСЕ</option>
{#                            {% for supervisor in supervisors %}#}
{#                                <option value="{{ supervisor.id }}">{{ supervisor.fullname }}</option>#}
{#                            {% endfor %}#}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Менеджер</span>
                        <select data-filter="responsible_id" id="search_purpose_manager_fio">
                            <option value="">ВСЕ</option>
{#                            {% for manager in managers %}#}
{#                                <option value="{{ manager.id }}">{{ manager.fullname }}</option>#}
{#                            {% endfor %}#}
                        </select>
{#                        <input type="text" data-filter="search_purpose_manager_fio" placeholder="Ответсвенный"#}
{#                                   id="search_purpose_manager_fio">#}
                    </label>
                    <label>
                        <span class="label_block">Поиск по описанию</span>
                        <input type="text" data-filter="search_description" placeholder="Описание или часть"
                                   id="search_description">
                    </label>
                    <label>
                        <span class="label_block">Тип сделки</span>
                        <select id="﻿payment_status" class="selectdb" data-filter="deal_type">
                            <option value="">ВСЕ</option>
                            <option value="1">Партнерские</option>
                            <option value="2">﻿Десятины</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="container">
                <button class="clear-filter"><i class="fa fa-refresh" aria-hidden="true"></i>Очистить</button>
                <button class="close-popup">Отменить</button>
                <button class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_user_modal.buttons.create %}
{% endblock %}

{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск (введите не менее трех символов)">
{% endblock %}
{% block extra_scripts %}
    <script src='{% static "js/payments.bundle.js" %}'></script>
{% endblock %}
{% block template_tables %}
    <script type="text/template" id="databasePayments">
        <table id="table-1">
            <thead>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <th data-order="<%=table_columns[key].ordering_title%>"><%=table_columns[key].title %></th>
                <% } %>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for( var index in results) { %>
            <tr>
                <% for( var key in table_columns) { %>
                <% if(table_columns[key].active) { %>
                <% if (key == 'manager') { %>
                <% if (results[index][key] != null) { %>
                <td><a href="<%= '/account/' + results[index][key].id  %>">
                    <%= results[index][key].first_name + ' ' + results[index][key].middle_name + ' ' +
                    results[index][key].last_name %>
                </a>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if(key == 'purpose_fio') { %>
                <% if (results[index][key] != null) { %>
                <td class="edit">
                    <a href="<%= '/account/' + results[index].purpose_id  %>" title="<%= results[index][key] %>">
                        <%= results[index][key] %></a>
                    {% if user.is_partner_supervisor_or_high %}
                    <span class="quick-edit" data-id="<%= results[index].id %>" data-name="<%= results[index].purpose_fio %>">
                    </span>
                    {% endif %}
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'purpose_type' ) { %>
                <% if (results[index][key] != null ) { %>
                <td>
                    <% if (results[index][key] == '1' ) { %>
                    партнерские
                    <% } else { %>
                    десятины
                    <% } %>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else { %>
                <td><% if (results[index][key] === true ) { %>
                    <p class="text__center">✔</p>
                    <% } else if (results[index][key] === false){ %>

                    <% } else { %>
                    <%= results[index][key] %>
                    <% } %>
                </td>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
        <table id="header-fixed"></table>
    </script>
{% endblock %}
