<div id="popup-create_payment" class="popap">
    <div class="pop_cont">
        <div class="popup_text">
            <h2>Создание платежа</h2>
        </div>
        <form action="" id="payment-form" method="post">
            <div class="popup_body">
                <div class="container container_block">
                    <div class="block_line">
                        <p>Плательщик:</p>
                        <p id="payment_name"></p>
                    </div>
                    <div class="block_line">
                        <p>Ответственный:</p>
                        <p id="payment_responsible"></p>
                    </div>
                    <div class="block_line">
                        <p>Дата подачи отчета:</p>
                        <p id="payment_date"></p>
                    </div>
                    <div class="block_line">
                        <p>Суммa:</p>
                        <p id="payment_sum"></p>
                    </div>
                    <div class="block_line">
                        <p>Остаток до закрытия:</p>
                        <p id="close_sum"></p>
                    </div>
                </div>
                <div class="container container_block">
                    <input id="purpose-id" type="hidden" value="{{ purpose.id }}" name="id">
                    <label>
                        <span class="label_block">Введите курс:</span>
                        <input type="number" name="rate" id="new_payment_rate"
                               value="" min="0" step="0.01" required>
                        <input id="operation" type="hidden" name="operation" value="/">
                    </label>
                    <label>
                        <span class="label_block">Сумма платежа в грн:</span>
                        <input maxlength="6" min="0"
                               onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43 || event.charCode == 0"
                               name="sum" type="number" id="new_payment_sum" step="1" required>
                        {#                        <select name="currency" id="new_payment_currency" required>#}
                        {#                            {% for currency in currencies %}#}
                        {#                                <option value="{{ currency.id }}"#}
                        {#                                        {% if currency == purpose.currency %}selected{% endif %}>#}
                        {#                                    {{ currency.short_name }}#}
                        {#                                </option>#}
                        {#                            {% endfor %}#}
                        {#                        </select>#}
                    </label>
                    <label>
                        <span class="label_block">Дата поступления платежа:</span>
                        <input type="text" name="sent_date" id="sent_date" required>
                    </label>
                    <textarea class="note" name="description" maxlength="40" placeholder="Добавить коментарий"></textarea>
                </div>
                {#                    <div class="rate">#}
                {#                        <label for="new_payment_rate">Курс:</label>#}
                {#                        <input type="number" name="rate" id="new_payment_rate" value="1.000" min="0" step="0.001"#}
                {#                               required>#}
                {#                        <label for="operation">#}
                {#                            <i class="fa fa-exchange" aria-hidden="true"></i>#}
                {#                        </label>#}
                {#                        <input id="operation" name="operation" value="*" readonly>#}
                {#                    </div>#}
                <div class="result">
                    <p>Итог:</p>
                    <p><span id="user_payment">0</span> / <span id="all_payments">0</span></p>
                </div>
            </div>
            <div class="container">
                <button id="close-payment">Отменить</button>
                <button type="submit" id="complete-payment">Завершить</button>
            </div>
        </form>
    </div>
</div>
