{% load i18n %}
{% load payment_tags %}

<table class="table-striped">
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Sum" %}</th>
        <th>{% trans "Manager" %}</th>
        {% if can_edit %}
            <th></th>
            <th></th>
            <th></th>
        {% endif %}
        <th>{% trans "Purpose" %}</th>
    </tr>
    {% for payment in payments %}
        <tr>
            <td>{{ payment.sent_date }}</td>
            <td>{{ payment.effective_sum_str }}
                {% if payment.sum != payment.effective_sum %}
                    ({{ payment.sum_str }} * {{ payment.rate }})
                {% endif %}
            </td>
            <td><a href="{{ payment.manager.get_absolute_url }}">{{ payment.manager_name }}</a></td>
            {% if can_edit %}
                <td>
                    <button class="edit_payment"
                            data-payment-id="{{ payment.id }}"
                            data-payment-date="{{ payment.sent_date|date:'Y-m-d' }}"
                            data-payment-sum="{{ payment.sum }}"
                            data-payment-currency-id="{{ payment.currency_sum_id }}"
                            data-payment-currency-name="{{ payment.currency_sum.short_name }}"
                            data-payment-rate="{{ payment.rate }}"
                            data-payment-description="{{ payment.description }}"
                            data-payment-operation="{{ payment.operation }}"
                    >{% trans "Edit" %}</button>
                </td>
                <td>
                    <button class="move_payment"
                            data-payment-id="{{ payment.id }}"
                    >{% trans "Move" %}</button>
                </td>
                <td>
                    <button class="delete_payment"
                            data-payment-id="{{ payment.id }}"
                    >{% trans "Delete" %}</button>
                </td>
            {% endif %}
        <td><a href="{{ payment.purpose.payment_page_url }}">{{ payment.content_type.model }}: {{ payment.purpose }}</a></td>
        </tr>
    {% endfor %}
    <tr></tr>
</table>
