.hidden, .none, .hidden-partner, .dn, .no_visible{
  display: none;
}

.inline {
  display: inline-block;
}

.text__center {
  text-align: center;
}
.padding-wrap{
  padding: 0 20px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  clear: both;
}

.ticket_code {
  .is-ban {
    color: #ff0000;
    text-decoration: line-through;
  }
}

.padding-table{
  padding: 0 30px;
}
.is-green{
  background-color: #cbe8ba;
}
.is-yelloow{
  background-color: #fefac0;
}
.is-pink{
  background-color: #ffc3ae;
}
.is-blue{
  background-color: #c9f1fd;
}

.input__is_center {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  &:before {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto !important;
  }
}