.hidden, .none, .hidden-partner, .dn, .no_visible{
  display: none;
}

.inline {
  display: inline-block;
}

.text__center {
  text-align: center;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  clear: both;
}

