{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}
{% load summit_tags %}
{% load payment_tags %}

{% block header.top.h1 %}
    <h1 id="summit-title" data-summit-id="{{ summit.id }}">
        САММИТЫ |
        {{ summit.type }} |
        <span>{{ summit }}</span>
    </h1>
{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a class="active" href="{{ summit.get_absolute_url }}">Участники</a></li>
                <li><a href="{% url 'summit:stats' pk=summit.id %}">Посещаемость</a></li>
                <li><a href="{% url 'summit:report' pk=summit.id %}">По ответственному</a></li>
                <li><a href="{% url 'summit:history-stats' pk=summit.id %}">Статистика</a></li>
            </ul>
        </div>
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                {% if summit.status == 'open' %}
                    {% is_summit_supervisor_or_high user summit as is_supervisor %}
                    {% if is_supervisor %}
                    <li>
                        <button id="send_schedules">Отправить расписание</button>
                    </li>
                    <li>
                        <button id="send_codes">Отправить коды</button>
                    </li>
                    {% endif %}
                    <li>
                        <button id="add">Добавить пользователя</button>
                    </li>
                {% endif %}
                <li>
                    <button id="filter_button"
                            data-count="0"
                    >
                        Фильтр
                    </button>
                </li>
                <li>
                    <button id="export_table" data-export-url="{% url "summit-profile-export" pk=summit.id %}" class="download header__button">Export</button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
{#                {% if user.can_see_any_summit_ticket %}#}
{#                    <li>#}
{#                        <button id="load-tickets"><i class="fa fa-address-card-o" aria-hidden="true"></i></button>#}
{#                    </li>#}
{#                {% endif %}#}
            </ul>
        </div>
    </div>
{% endblock %}

{% block pagination_top %}
    <div class="top-pag">
        <div class="table__count"></div>
        <div class="pagination users__pagination"><!--pagination -->
        </div><!--End pagination -->
    </div>
{% endblock %}

{% block table %}
    <div class="table-wrap clearfix">
        <div data-summit="{{ summit.id }}" id="summitUsersList" class="table scrollbar-inner"></div>
    </div>
{% endblock %}

{% block pagination_bottom %}
    <div class="table__count"></div>
    <div class="pagination users__pagination"></div>
{% endblock %}
{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск" name="unregsearch">
{% endblock %}

{% block create_user %}
    <div id="popup" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3 class="pop_title">Информация об участнике</h3>
                </div>
                <div class="padding-wrap">
                    <div class="user-info">
                        <img id="client_img" src="" alt="Фото пользователя">
                        <h3 id="client_name"></h3>
                        <label>
                            <span class="label-wrapp">Отдел:</span>
                            <span id="client_department"></span>
                        </label>
                        <label>
                            <span class="label-wrapp">Текущий бишоп:</span>
                            <span id="client_bisop"></span>
                        </label>
                        <label>
                            <span class="label-wrapp">E-mail:</span>
                            <input id="client_email" name="email" readonly/>
                            <button class="edit"></button>
                            <button class="save__info"></button>
                        </label>
                        <label>
                            <span class="label-wrapp">Телефон:</span>
                            <input id="client_phone" name="phone_number" readonly/>
                            <span class="comment"></span>
                            <button class="edit"></button>
                            <button class="save__info"></button>
                        </label>
                        <label>
                            <span class="label-wrapp">Автор регистрации:</span>
                            <select id="client_author_reg"></select>
                        </label>
                    </div>
                    <div class="splash-bauttons">
                        <button id="close">Отменить</button>
                        <button id="complete">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupParticipantInfo" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Информация об участнике</h3>
                    <span class="close close-popup">&times;</span>
                </div>
                <h2 id="fullNameCard"></h2>
                <form class="form__wrap" id="participantInfoForm">
                    <textarea maxlength="150" name="description" id="userDescription"
                              placeholder="Добавить коментарий"></textarea>
                </form>
                <div class="splash-bauttons">
                    <button id="preDeleteAnket" class="delete_btn">Удалить</button>
                    <button class="close">Отменить</button>
                    <button id="applyChanges">Применить</button>
                </div>
            </div>
        </div>
    </div>
    {% create_payment_form %}
    <div id="popup-payments" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Платежи</h3>
                    <span class="close close-popup">&times;</span>
                </div>
                <table></table>
                <div class="splash-bauttons">
                    <button id="close-payments">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div id="popupForNew" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3><span>←</span> Информация об участнике</h3>
                </div>
                <div class="user-info">
                    <div class="left-side">
                        <p>Клиент:</p>
                        <p>Ответственный:</p>
                    </div>
                    <div class="right-side">
                        <p id="client-nameNew"></p>
                        <p id="responsible-nameNew"></p>
                    </div>
                </div>
                <div class="summa-wrap">
                    <div class="code">
                        <input placeholder="Номер пропуска" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                               type="text" id="code">
                        <input id="check" type="checkbox">
                    </div>
                </div>
                <textarea placeholder="Добавить коментарий"></textarea>
                <div class="splash-bauttons">
                    <button class="close-popup">Отменить</button>
                    <button id="completeNew">Завершить</button>
                </div>
            </div>
        </div>
    </div><!--End Pop-up-splash-->
    {% include 'partials/create_user.html' with addToSummit="true" %}

{% endblock %}

{% block popup.filter.content %}
    {% include "partials/filter/select.html" with label="Отдел" options=departments name="department" %}
    {% include "partials/filter/select.html" with label="Ветка по автору" options=authors name="author_tree" %}
    {% include "partials/filter/select.html" with label="Иерархия" options=hierarchies name="hierarchy" %}
    {% include "partials/filter/select.html" with label="Автор регистрации" options=authors name="author" %}
    {% include "partials/filter/input.html" with label="Email" name="email" input_type="email" placeholder="email или часть" %}
    {% include "partials/filter/select.html" with label="Еmail отправлен" options=true_false_options name="has_email" custom_classes="select__custom" %}
    {% include "partials/filter/input.html" with label="Номер телефона" name="phone_number" input_type="tel" placeholder="номер телефона или часть" %}
    {% include "partials/filter/input.html" with label="Страна" name="country" placeholder="страна или часть названия" %}
    {% include "partials/filter/input.html" with label="Город" name="city" placeholder="город или часть названия" %}
    {% include "partials/filter/select.html" with label="Фотография" options=true_false_options name="has_photo" custom_classes="select__custom" %}
    {% trans "Печатный билет" as ticket_label %}
    {% include "partials/filter/select.html" with label=ticket_label options=ticket_status_options name="ticket_status" custom_classes="select__custom" %}
    {% trans "Электронный билет" as eticket_label %}
    {% include "partials/filter/select.html" with label=eticket_label options=true_false_options name="e_ticket" custom_classes="select__custom" %}
    {% trans "Присутствие" as visited_label %}
    {% include "partials/filter/select.html" with label=visited_label options=visited_options name="is_visited" custom_classes="select__custom" %}
    {% trans "Диапазон дат присутствия" as date_range_label %}
    {% include "partials/filter/fromto.html" with label=date_range_label name="date" custom_classes="select_date_filter" pclass="birthday" %}
    {% trans "Облако свидетелей" as has_achievement_label %}
    {% include "partials/filter/select.html" with label=has_achievement_label options=true_false_options name="has_achievement" custom_classes="select__custom" %}
    {% trans "Партнеры" as is_partner_label %}
    {% include "partials/filter/select.html" with label=is_partner_label options=true_false_options name="is_partner" custom_classes="select__custom" %}
{% endblock %}

{% block extra_scripts %}
    {% block template_tables %}
        {% is_summit_supervisor_or_high user summit as is_supervisor %}
        <script type="text/template" id="databaseUsers">
            <table id="table-1">
                <thead>
                <tr>
                    <% for( var key in user_table) { %>
                    <% if(user_table[key].active) { %>
                    <th data-order="<%=user_table[key].ordering_title%>"><%=user_table[key].title %></th>
                    <% } %>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% for( var index in results) { %>
                <tr>
                    <% for( var key in user_table) { %>
                    <% if(user_table[key].active) { %>
                    <% if (key == 'full_name') { %>
                    <% if (results[index][key] != null) { %>
                    <td{% if is_supervisor %} class="edit"{% endif %} class="edit">
                        <% if (results[index].has_achievement) { %>
                        <span class="achiev"></span>
                        <% } %>
                        <a href="<%= results[index].link %>"
                           data-link="<%= results[index].link %>"
                           data-id="<%=results[index].user_id %>"
                        <% if(results[index].id) { %>
                        data-ankets="<%= results[index].id %>"
                        <% } %>><%= results[index][key] %>
                        </a>
                        <span class="quick-edit"></span>

                    </td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if(key == 'code') { %>
                    <% if (results[index][key] != null) { %>
                    <td class="edit"><a
                            href="/api/generate_code/<%= results[index].code %>.pdf?code=<%= results[index].code %>"
                            data-link="<%= results[index].link %>" data-id="<%=results[index].id %>"><%=
                        results[index][key] %></a></td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if(key == 'get_title') { %>
                    <% if (results[index][key] != null) { %>
                    <td class="edit"><a href="<%= results[index].link %>" data-link="<%= results[index].link %>"
                                        data-id="<%=results[index].id %>"><%= results[index][key] %></a><span
                            class="quick-edit"></span></td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if (key == 'master' || key == 'pastor' || key == 'leader') { %>
                    <% if (results[index][key] != null) { %>
                    <td><%= results[index][key].fullname %></td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if (key == 'ticket_status') { %>
                    <% if (results[index][key] != null) { %>
                    <td data-id="<%= results[index][key][0] %>" data-user-id="<%= results[index]['id'] %>"
                        class="ticket_status">
                        <span class="text"><%= results[index][key][1] %></span>
                        <div
                            <% if( results[index][key][0] != 'print' && results[index][key][0] != 'given' ) { %>
                                style="display:none"
                            <% } %>
                        >
                            <input id="<%= 'ticked_' + (index + 1)%>" type="checkbox" name="attended"
                                <% if(results[index][key][0] == 'given') { %>checked<% }%> >
                            <label for="<%= 'ticked_' + (index + 1) %>"></label>
                        </div>
                    </td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if (key == 'e_ticket') { %>
                        <% if (results[index][key]) { %>
                        <td style="position: relative">
                            <input id="<%= 'e_ticked_' + (index + 1) %>" type="checkbox" name="e_ticked"
                                <% if(results[index][key]) { %> checked <% } %> disabled>
                            <label for="<%= 'e_ticked_' + (index + 1) %>" class="input__is_center"> </label>
                        </td>
                        <% } else { %>
                        <td><%= results[index].reg_code %></td>
                        <% } %>
                    <% } else if (key == 'has_email') { %>
                        <td>
                            <% if (results[index][key] === true) { %>
                                <p class="text__center">✔</p>
                            <% } else { %>
                            {% if is_supervisor %}
                                <button class="send_email inline__button"
                                        data-id="<%= results[index].id%>">
                                    Отправить код
                                </button>
                            {% endif %}
                            <% } %>
                        </td>
                    <% } else if (key == 'hierarchy' || key == 'church' || key == 'author' ) { %>
                        <% if (results[index][key] != null ) { %>
                            <td><%= results[index][key].title %></td>
                        <% } else { %>
                        <td></td>
                        <% } %>
                    <% } else if (key == 'departments' || key == 'divisions') { %>
                    <% if ( Array.isArray(results[index][key]) && results[index][key].length != 0) { %>
                    <% if (results[index][key].length == 1) { %>
                    <td><%= results[index][key][0].title %></td>
                    <% } else { %>
                    <td><%= results[index][key].reduce(function(sum, item, i) {
                        return i < results[index][key].length - 1 ? sum + item.title + ', ' : sum + item.title
                        }, "") %>
                    </td>
                    <% } %>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else { %>
                    <td><% if (results[index][key] === true ) { %>
                        <p class="text__center">✔</p>
                        <% } else if (results[index][key] === false){ %>

                        <% } else { %>
                        <%= results[index][key] %>
                        <% } %>
                    </td>
                    <% } %>
                    <% } %>
                    <% } %>
                </tr>
                <% } %>
                </tbody>
            </table>
            <table id="header-fixed"></table>
        </script>
    {% endblock %}
    <script src="{% static "js/add_user.bundle.js" %}"></script>
    <script src="{% static "js/summit_detail.bundle.js" %}"></script>
{% endblock %}
