{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}
{% load summit_tags %}
{% load payment_tags %}

{% block header.top.h1 %}
    <h1 id="summit-title" data-summit-id="{{ summit.id }}">
        САММИТЫ |
        {{ summit.type }} |
        <span>{{ summit }}</span>
    </h1>
{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a class="active" href="{{ summit.get_absolute_url }}">Участники</a></li>
                <li><a href="{% url 'summit:stats' pk=summit.id %}">Посещаемость</a></li>
                <li><a href="{% url 'summit:report' pk=summit.id %}">По ответственному</a></li>
                <li><a href="{% url 'summit:history-stats' pk=summit.id %}">Статистика</a></li>
            </ul>
        </div>
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                <li>
                    <button id="add">Добавить пользователя</button>
                </li>
                <li>
                    <button id="filter_button"
                            data-count="0"
                    >
                        Фильтр
                    </button>
                </li>
                <li>
                    <button id="export_table" data-export-url="{% url "summit-profile-export" pk=summit.id %}" class="download header__button">Export</button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
{#                {% if user.can_see_any_summit_ticket %}#}
{#                    <li>#}
{#                        <button id="load-tickets"><i class="fa fa-address-card-o" aria-hidden="true"></i></button>#}
{#                    </li>#}
{#                {% endif %}#}
            </ul>
        </div>
    </div>
{% endblock %}

{% block pagination_top %}
    <div class="top-pag">
        <div class="table__count"></div>
        <div class="pagination users__pagination"><!--pagination -->
        </div><!--End pagination -->
    </div>
{% endblock %}

{% block table %}
    <div class="table-wrap clearfix">
        <div data-summit="{{ summit.id }}" id="summitUsersList" class="table scrollbar-inner"></div>
    </div>
{% endblock %}

{% block pagination_bottom %}
    <div class="table__count"></div>
    <div class="pagination users__pagination"></div>
{% endblock %}
{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск" name="unregsearch">
{% endblock %}

{% block create_user %}
    <div id="popup" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3 class="pop_title">Информация об участнике</h3>
                </div>
                <div class="padding-wrap">
                    <div class="user-info">
                        <label>
                            <span class="label-wrapp">Участник:</span>
                            <p id="client-name"></p>
                        </label>
                        <label>
                            <span class="label-wrapp">Ответственный:</span>
                            <p id="responsible-name"></p>
                        </label>
                        <label class="textarea">
                            <textarea placeholder="Добавить коментарий"></textarea>
                        </label>
                    </div>
                    <div class="splash-bauttons">
                        <button id="close">Отменить</button>
                        <button id="complete">Завершить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupParticipantInfo" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Информация об участнике</h3>
                    <span class="close close-popup">&times;</span>
                </div>
                <h2 id="fullNameCard"></h2>
                <form class="form__wrap" id="participantInfoForm">
                    <textarea maxlength="150" name="description" id="userDescription"
                              placeholder="Добавить коментарий"></textarea>
                </form>
                <div class="splash-bauttons">
                    <button id="preDeleteAnket" class="delete_btn">Удалить</button>
                    <button class="close">Отменить</button>
                    <button id="applyChanges">Применить</button>
                </div>
            </div>
        </div>
    </div>
    {% create_payment_form %}
    <div id="popup-payments" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3>Платежи</h3>
                    <span class="close close-popup">&times;</span>
                </div>
                <table></table>
                <div class="splash-bauttons">
                    <button id="close-payments">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div id="popupForNew" class="pop-up-splash">
        <div class="flex-wrap">
            <div class="splash-screen">
                <div class="top-text">
                    <h3><span>←</span> Информация об участнике</h3>
                </div>
                <div class="user-info">
                    <div class="left-side">
                        <p>Клиент:</p>
                        <p>Ответственный:</p>
                    </div>
                    <div class="right-side">
                        <p id="client-nameNew"></p>
                        <p id="responsible-nameNew"></p>
                    </div>
                </div>
                <div class="summa-wrap">
                    <div class="code">
                        <input placeholder="Номер пропуска" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                               type="text" id="code">
                        <input id="check" type="checkbox">
                    </div>
                </div>
                <textarea placeholder="Добавить коментарий"></textarea>
                <div class="splash-bauttons">
                    <button class="close-popup">Отменить</button>
                    <button id="completeNew">Завершить</button>
                </div>
            </div>
        </div>
    </div><!--End Pop-up-splash-->
    {% create_user_form %}

{% endblock %}

{% block popup %}
    <div class="popap popap_slide" id='filterPopup'>
        <div class="pop_cont">
            <div class='popup_text'>
                <h2>Фильтр</h2>
            </div>
            <div class="popup_body">
                <div class="container">
                    <label>
                        <span class="label_block">Отдел</span>
                        <select class="selectdb" data-filter="department" id="departments_filter">
                            <option value="">ВСЕ</option>
                            {% for department in departments %}
                                <option value="{{ department.id }}">{{ department.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Ветка</span>
                        <select class="select__db" data-filter="master_tree" id="master_tree">
                            <option value="">ВСЕ</option>
                            {% for master in masters %}
                                <option value="{{ master.id }}">{{ master.fullname }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Иерархия</span>
                        <select class="select__db" data-filter="hierarchy" id="hierarchy">
                            <option value="">ВСЕ</option>
                            {% for hierarchy in hierarchies %}
                                <option value="{{ hierarchy.id }}">{{ hierarchy.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Ответственный</span>
                        <select class="select__db" data-filter="master" id="master">
                            <option value="">ВСЕ</option>
                            {% for master in masters %}
                                <option value="{{ master.id }}">{{ master.fullname }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Email</span>
                        <input type="email" data-filter="search_email" placeholder="email" id="search_email">
                    </label>
                    <label>
                        <span class="label_block">Еmail отправлен</span>
                        <select class="select__db select__custom" data-filter="has_email" name="has_email" id="has_email">
                            <option>ВСЕ</option>
                            <option value="true">Да</option>
                            <option value="false">Нет</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Номер телефона</span>
                        <input type="tel" data-filter="search_phone_number" placeholder="номер телефона"
                                   id="search_phone_number">
                    </label>
                    <label>
                        <span class="label_block">Страна</span>
                        <input type="text" data-filter="search_country" placeholder="страна" id="search_country">
                    </label>
                    <label>
                        <span class="label_block">Город</span>
                        <input type="text" data-filter="search_city" placeholder="город" id="search_city">
                    </label>
                    <label>
                        <span class="label_block">Фотография</span>
                        <select class="select__db select__custom" data-filter="has_photo" name="has_photo" id="has_photo">
                            <option>ВСЕ</option>
                            <option value="true">Есть</option>
                            <option value="false">Нет</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">{% trans "Статус билета" %}</span>
                        <select class="select__db select__custom" data-filter="ticket_status" name="ticket_status" id="ticket_status">
                            <option>ВСЕ</option>
                            <option value="none">{% trans "Не создан" %}</option>
                            <option value="download">{% trans "Создан" %}</option>
                            <option value="print">{% trans "Напечатано" %}</option>
                            <option value="given">{% trans "Выдано" %}</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">{% trans "Электронный билет" %}</span>
                        <select class="select__db select__custom" data-filter="e_ticket" name="e_ticket" id="Eticket">
                            <option>ВСЕ</option>
                            <option value="true">Есть</option>
                            <option value="false">Нет</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">{% trans "Присутствие" %}</span>
                        <select class="select__db select__custom" data-filter="is_visited" name="visited" id="visited">
                            <option>ВСЕ</option>
                            <option value="1">{% trans "Присутствовали" %}</option>
                            <option value="2">{% trans "Отсутствовали" %}</option>
                        </select>
                    </label>
                    <label>
                        <span class="label_block">{% trans "Диапазон дат присутствия" %}</span>
                        <p class="birthday">
                            <input type="text" placeholder="от" data-filter="from_date" id="date_from" class="select_date_filter">
                            <input type="text" placeholder="до" data-filter="to_date" id="date_to" class="select_date_filter">
                        </p>
                    </label>
                </div>
            </div>
            <div class="container">
                <button class="clear-filter"><i class="fa fa-refresh" aria-hidden="true"></i>Очистить</button>
                <button class="close-popup">Отменить</button>
                <button class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    {% block template_tables %}
        {% is_summit_supervisor_or_high user summit as is_supervisor %}
        <script type="text/template" id="databaseUsers">
            <table id="table-1">
                <thead>
                <tr>
                    <% for( var key in user_table) { %>
                    <% if(user_table[key].active) { %>
                    <th data-order="<%=user_table[key].ordering_title%>"><%=user_table[key].title %></th>
                    <% } %>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% for( var index in results) { %>
                <tr>
                    <% for( var key in user_table) { %>
                    <% if(user_table[key].active) { %>
                    <% if (key == 'full_name') { %>
                    <% if (results[index][key] != null) { %>
                    <td{% if is_supervisor %} class="edit"{% endif %} class="edit"><a href="<%= results[index].link %>"
                                        data-link="<%= results[index].link %>"
                                        data-id="<%=results[index].user_id %>"
                        <% if(results[index].id) { %>
                        data-ankets="<%= results[index].id %>"
                        <% } %>><%= results[index][key] %></a>
                        <span class="quick-edit"></span>
                    </td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if(key == 'code') { %>
                    <% if (results[index][key] != null) { %>
                    <td class="edit"><a
                            href="/api/v1.0/generate_code/<%= results[index].code %>.pdf?code=<%= results[index].code %>"
                            data-link="<%= results[index].link %>" data-id="<%=results[index].id %>"><%=
                        results[index][key] %></a></td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if(key == 'get_title') { %>
                    <% if (results[index][key] != null) { %>
                    <td class="edit"><a href="<%= results[index].link %>" data-link="<%= results[index].link %>"
                                        data-id="<%=results[index].id %>"><%= results[index][key] %></a><span
                            class="quick-edit"></span></td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if (key == 'master' || key == 'pastor' || key == 'leader') { %>
                    <% if (results[index][key] != null) { %>
                    <td><%= results[index][key].fullname %></td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if (key == 'ticket_status') { %>
                    <% if (results[index][key] != null) { %>
                    <td data-id="<%= results[index][key][0] %>" data-user-id="<%= results[index]['id'] %>"
                        class="ticket_status">
                        <span class="text"><%= results[index][key][1] %></span>
                        <div
                            <% if( results[index][key][0] != 'print' && results[index][key][0] != 'given' ) { %>
                                style="display:none"
                            <% } %>
                        >
                            <input id="<%= 'ticked_' + (index + 1)%>" type="checkbox" name="attended"
                                <% if(results[index][key][0] == 'given') { %>checked<% }%> >
                            <label for="<%= 'ticked_' + (index + 1) %>"></label>
                        </div>
                    </td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if (key == 'e_ticket') { %>
                        <% if (results[index][key]) { %>
                        <td style="position: relative">
                            <input id="<%= 'e_ticked_' + (index + 1) %>" type="checkbox" name="e_ticked"
                                <% if(results[index][key]) { %> checked <% } %> disabled>
                            <label for="<%= 'e_ticked_' + (index + 1) %>" class="input__is_center"> </label>
                        </td>
                        <% } else { %>
                        <td><%= results[index].reg_code %></td>
                        <% } %>
                    <% } else if (key == 'hierarchy' || key == 'church' ) { %>
                        <% if (results[index][key] != null ) { %>
                            <td><%= results[index][key].title %></td>
                        <% } else { %>
                        <td></td>
                        <% } %>
                    <% } else if (key == 'departments' || key == 'divisions') { %>
                    <% if ( Array.isArray(results[index][key]) && results[index][key].length != 0) { %>
                    <% if (results[index][key].length == 1) { %>
                    <td><%= results[index][key][0].title %></td>
                    <% } else { %>
                    <td><%= results[index][key].reduce(function(sum, item, i) {
                        return i < results[index][key].length - 1 ? sum + item.title + ', ' : sum + item.title
                        }, "") %>
                    </td>
                    <% } %>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else { %>
                    <td><% if (results[index][key] === true ) { %>
                        <p class="text__center">✔</p>
                        <% } else if (results[index][key] === false){ %>

                        <% } else { %>
                        <%= results[index][key] %>
                        <% } %>
                    </td>
                    <% } %>
                    <% } %>
                    <% } %>
                </tr>
                <% } %>
                </tbody>
            </table>
            <table id="header-fixed"></table>
        </script>
    {% endblock %}
    <script src="{% static "js/add_user.bundle.js" %}"></script>
    <script src="{% static "js/summit_detail.bundle.js" %}"></script>
{% endblock %}
