{% extends "layout.html" %}
{% load static %}

{% block header.top.h1 %}<h1>Саммиты</h1>{% endblock %}


{% block header.buttons.add %}
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block header.buttons.change_table %}
{% endblock %}

{% block main.content %}
    <div id="summits" class="summits-wrap">
        {% for summit_type in summit_types %}
            <div><a href="{{ summit_type.id }}"><img data-id="{{ summit_type.id }}" src="{{ summit_type.image.url }}" alt=""/></a></div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/summits-list.js" %}"></script>
{% endblock %}
