{% extends "layout_main.html" %}
{% load static %}
{% load summit_tags %}
{% load payment_tags %}

{% block header.top.h1 %}
    <h1 id="summit-title">
        <a href="{% url 'summits' %}">САММИТЫ | </a>
        <span>{{ summit_type.title }}</span>
    </h1>
{% endblock %}

{% block header.buttons.filter %}
    {% if summit_type.club_name %}
        <div class="col-4">
            <select name="summit_type" id="summit_type">
                <option value="0">Все</option>
                <option value="1">{{ summit_type.club_name }}</option>
                <option value="2">Не {{ summit_type.club_name|lower }}</option>
            </select>
        </div>
    {% endif %}
{% endblock %}
{% block header.buttons %}
    <div class="top-panel">
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                <li>
                    <button id="add">Добавить пользователя</button>
                </li>
                <li>
                    <button id="filter_button">Фильтр</button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block header.buttons.export %}
{% endblock %}

{% block pagination_top %}
    <div class="top-pag">
        <div id="carousel" class="carousel">
            <span class="arrow-left"></span>
            <div class="gallery">
                <ul id="date" class="images">
                    {% for summit in summit_type.summits.all reversed %}
                        <li{% if forloop.first %} class="active"{% endif %}>
                            <span data-id={{ summit.id }}>
                                {% if summit.description %}
                                    {{ summit.description }}
                                {% else %}
                                    {{ summit.start_date }}
                                {% endif %}
                            </span></li>
                    {% endfor %}
                </ul>
            </div>
            <span class="arrow-right"></span>
        </div>

        <div class="pagination"><!--pagination -->
            <div class="pag-wrap"></div>
        </div><!--End pagination -->
    </div>
{% endblock %}

{% block table %}
    <div class="table-wrap clearfix">
        <div data-summit-type="{{ summit_type.id }}" id="summitUsersList" class="table scrollbar-inner"></div>
        <div class="preloader">
            <div class="gif">
            </div>
        </div>
    </div>
{% endblock %}
{% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination users__pagination"></div>
    {% endblock %}
{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск" name="unregsearch">
{% endblock %}

{% block create_user %}
    <div id="popup" class="pop-up-splash">
        <div class="splash-screen">
            <div class="top-text">
                <h3><span>←</span> Информация об участнике</h3>
            </div>
            <div class="user-info">
                <div class="left-side">
                    <p>Клиент:</p>
                    <p>Ответственный:</p>
                </div>
                <div class="right-side">
                    <p id="client-name"></p>
                    <p id="responsible-name"></p>
                </div>
            </div>
            <div class="summa-wrap">
                <div class="summa">
                    <p>Сумма:</p>
                    <input maxlength="6" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           readonly="readonly" type="text" id="summit-value">
                    <span id="changeSum" class="change-summ"></span>
                </div>
            </div>
            <textarea placeholder="Добавить коментарий"></textarea>
            <div class="splash-bauttons">
                <button id="close">Отменить</button>
                <button id="complete">Завершить</button>
            </div>
        </div>
    </div>
    <div id="popupDelete" class="pop-up-splash">
        <div class="splash-screen">
            <div class="top-text">
                <h3>Информация об участнике</h3>
                <span>&times;</span>
            </div>
            <div class="summa-wrap">
                <div class="summa">
                    <p>Сумма:</p>
                    <input maxlength="6" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           readonly="readonly" type="text" id="summit-valueDelete">
                    <span id="changeSumDelete" class="change-summ"></span>
                </div>
                <div class="member_club_block">
                    <input type="checkbox" id="member">
                    <label for="member">Учасник <span id="member_club">Облако свидетелей</span>:</label>
                </div>
                <div class="member_club_block">
                    <input type="checkbox" id="send_email">
                    <label for="send_email"><span id="send_email_label">Отправить билет</span>:</label>
                </div>
            </div>
            <textarea maxlength="40" placeholder="Добавить коментарий"></textarea>
            <div class="splash-bauttons">
                <button id="deleteAnket"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Удалить</button>
                <button id="closeDelete">Отменить</button>
                <button id="completeDelete">Завершить</button>
            </div>
        </div>
    </div>
    {% create_payment_form %}
    <div id="popup-payments" class="pop-up-splash">
        <div class="splash-screen">
            <div class="top-text">
                <h3>Платежи</h3>
                <span>&times;</span>
            </div>
            <table></table>
            <div class="splash-bauttons">
                <button id="close-payments">Закрыть</button>
            </div>
        </div>
    </div>
    <div id="popupForNew" class="pop-up-splash">
        <div class="splash-screen">
            <div class="top-text">
                <h3><span>←</span> Информация об участнике</h3>
            </div>
            <div class="user-info">
                <div class="left-side">
                    <p>Клиент:</p>
                    <p>Ответственный:</p>
                </div>
                <div class="right-side">
                    <p id="client-nameNew"></p>
                    <p id="responsible-nameNew"></p>
                </div>
            </div>
            <div class="summa-wrap">
                <div class="code">
                    <input placeholder="Номер пропуска" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           type="text" id="code">
                    <input id="check" type="checkbox">
                </div>
                <div class="summa">
                    <p>Сумма:</p>
                    <input maxlength="6" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           readonly="readonly" type="text" id="summit-valueNew">
                    <span id="changeSumNew" class="change-summ"></span>
                </div>
            </div>
            <textarea placeholder="Добавить коментарий"></textarea>
            <div class="splash-bauttons">
                <button id="closeNew">Отменить</button>
                <button id="completeNew">Завершить</button>
            </div>
        </div>
    </div><!--End Pop-up-splash-->
    {% create_user_form %}

{% endblock %}

{% block popup %}
    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Фильтр
            </h2>
            <div class="popup_body">
                <div class="container">
                    <div class="col-6">
                        <p class="label_block">
                            <label for="departments_filter">Отдел</label>
                        </p>
                        <p class="label_block">
                            <label for="search_email">Фильтр по email</label>
                        </p>
                        <p class="label_block">
                            <label for="search_phone_number">Фильтр по номеру телефона</label>
                        </p>
                        <p class="label_block">
                            <label for="search_country">Фильтр по стране</label>
                        </p>
                        <p class="label_block">
                            <label for="search_city">Фильтр по городу</label>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="input_block">
                            <select class="selectdb" data-filter="user__department" id="departments_filter">
                                <option value="">ВСЕ</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <input type="email" data-filter="user__email" placeholder="email" id="search_email">
                        </p>
                        <p class="input_block">
                            <input type="tel" data-filter="user__phone_number" placeholder="номер телефона" id="search_phone_number">
                        </p>
                        <p class="input_block">
                            <input type="text" data-filter="user__country" placeholder="страна" id="search_country">
                        </p>
                        <p class="input_block">
                            <input type="text" data-filter="user__city" placeholder="город" id="search_city">
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <a href="#" onclick="refreshFilter(this)" class="apply-filter"><i class="fa fa-refresh"
                                                                                  aria-hidden="true"></i>
                    Очистить</a>
                <button onclick="hidePopup(this)" class="close-popup">Отменить</button>
                <button onclick="applyFilter(this, createSummitUsersTable)" class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "libs/cropper/dist/cropper.min.js" %}"></script>
    <script src="{% static "libs/air-datepicker/dist/js/datepicker.min.js" %}"></script>
    <script src="{% static "js/add_user.js" %}"></script>
    <script src="{% static "js/summit.js" %}"></script>

{% endblock %}
