{% extends "layout_main.html" %}
{% load static %}

{% block header.top.h1 %}
    <h1 id="summit-title">
        <a href="{% url 'summits' %}">САММИТЫ | </a>
        <span>{{ summit_type.title }}</span>
    </h1>
{% endblock %}

{% block header.top.select %}
    <select class="selectdb" id="dep_filter">
        <option value="0">ВСЕ</option>
        {% for department in departments %}
            <option value="{{ department.id }}">{{ department.title }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block header.search.filter %}
    <div class="filter">
        <select name="filter" id="filter">
            <option value="search">Все поля</option>
            <option value="department__title">Отдел</option>
            <option value="country">Страна</option>
            <option value="city">Населенный пункт</option>
            <option value="district">Район</option>
        </select>
    </div>
{% endblock %}

{% block header.buttons.filter %}
    <div class="col-4">
        <select name="summit_type" id="summit_type">
            <option value="0">Все</option>
            <option value="1">Облако свидетелей</option>
            <option value="2">Не облако свидетелей</option>
        </select>
    </div>
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block pagination_top %}
    <div class="top-pag">
        <div id="carousel" class="carousel">

            <span class="arrow-left"></span>

            <div class="gallery">
                <ul id="date" class="images">
                    {% for summit in summit_type.summits.all %}
                        <li{% if forloop.first %} class="active"{% endif %}>
                            <span data-id={{ summit.id }}>
                                {% if summit.description %}
                                    {{ summit.description }}
                                {% else %}
                                    {{ summit.start_date }}
                                {% endif %}
                            </span></li>
                    {% endfor %}
                </ul>
            </div>

            <span class="arrow-right"></span>

        </div>

        <div class="pagination"><!--pagination -->
            <div class="pag-wrap"></div>
        </div><!--End pagination -->
    </div>
{% endblock %}

{% block table %}
    <div class="table-wrap clearfix">
        <div id="users_list" class="table scrollbar-inner"></div>
        <div class="preloader">
            <div class="gif">
            </div>
        </div>
    </div>
{% endblock %}

{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск" name="unregsearch">
{% endblock %}

{% block create_user %}
    <div id="popup" class="pop-up-splash">
        <div class="splash-screen">
            <div class="top-text">
                <h3><span>←</span> Информация об участнике</h3>
            </div>
            <div class="user-info">
                <div class="left-side">
                    <p>Клиент:</p>
                    <p>Ответственный:</p>
                </div>
                <div class="right-side">
                    <p id="client-name"></p>
                    <p id="responsible-name"></p>
                </div>
            </div>
            <div class="summa-wrap">
                <div class="summa">
                    <p>Сумма:</p>
                    <input maxlength="6" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           readonly="readonly" type="text" id="summit-value">
                    <span id="changeSum" class="change-summ"></span>
                </div>
            </div>
            <textarea placeholder="Добавить коментарий"></textarea>
            <div class="splash-bauttons">
                <button id="close">Отменить</button>
                <button id="complete">Завершить</button>
            </div>
        </div>
    </div>
    <div id="popupDelete" class="pop-up-splash">
        <div class="splash-screen">
            <div class="top-text">
                <h3>Информация об участнике</h3>
                <span>&times;</span>
            </div>
            <div class="summa-wrap">
                <div class="summa">
                    <p>Сумма:</p>
                    <input maxlength="6" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           readonly="readonly" type="text" id="summit-valueDelete">
                    <span id="changeSumDelete" class="change-summ"></span>
                </div>
                <div class="member_club_block">
                    <input type="checkbox" id="member">
                    <label for="member">Учасник <span id="member_club">Облако свидетелей</span>:</label>
                </div>
                <div class="member_club_block">
                    <input type="checkbox" id="send_email">
                    <label for="send_email"><span id="send_email_label">Отправить билет</span>:</label>
                </div>
            </div>
            <textarea maxlength="40" placeholder="Добавить коментарий"></textarea>
            <div class="splash-bauttons">
                <button id="deleteAnket"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Удалить</button>
                <button id="closeDelete">Отменить</button>
                <button id="completeDelete">Завершить</button>
            </div>
        </div>
    </div>
    <div id="popupForNew" class="pop-up-splash">
        <div class="splash-screen">
            <div class="top-text">
                <h3><span>←</span> Информация об участнике</h3>
            </div>
            <div class="user-info">
                <div class="left-side">
                    <p>Клиент:</p>
                    <p>Ответственный:</p>
                </div>
                <div class="right-side">
                    <p id="client-nameNew"></p>
                    <p id="responsible-nameNew"></p>
                </div>
            </div>
            <div class="summa-wrap">
                <div class="code">

                    <input placeholder="Номер пропуска" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           type="text" id="code">

                    <input id="check" type="checkbox">

                </div>
                <div class="summa">
                    <p>Сумма:</p>
                    <input maxlength="6" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           readonly="readonly" type="text" id="summit-valueNew">
                    <span id="changeSumNew" class="change-summ"></span>
                </div>
            </div>
            <textarea placeholder="Добавить коментарий"></textarea>
            <div class="splash-bauttons">
                <button id="closeNew">Отменить</button>
                <button id="completeNew">Завершить</button>
            </div>
        </div>
    </div><!--End Pop-up-splash-->
    {% include 'partials/create_user_summit.html' %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/select2.js" %}"></script>
    <script src="{% static "js/add_user_summit.js" %}"></script>
    <script src="{% static "js/cropper.min.js" %}"></script>

    <script src="{% static "js/summits.js" %}"></script>
{% endblock %}
