{% extends "layout_main.html" %}
{% load static %}

{% block header.top.h1 %}<h1 id="summit-title"></h1>{% endblock %}

{% block header.top.select %}
    <select class="selectdb" id="dep_filter">
        <option value="0">ВСЕ</option>
        {% for department in departments %}
            <option value="{{ department.id }}">{{ department.title }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block header.search.filter %}
    <div class="filter">
        <select name="filter" id="filter">
            <option value="search">Все поля</option>
            <option value="department__title">Отдел</option>
            <option value="country">Страна</option>
            <option value="city">Населенный пункт</option>
            <option value="district">Район</option>
        </select>
    </div>
{% endblock %}

{% block header.buttons.filter %}
    <div class="col-4">
        <select name="summit_type" id="summit_type">
            <option value="0">Все</option>
            <option value="1">Облако свидетелей</option>
            <option value="2">Не облако свидетелей</option>
        </select>
    </div>
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block pagination_top %}
    <div class="top-pag">
        <div id="carousel" class="carousel">

            <span class="arrow-left"></span>

            <div class="gallery">
                <ul id="date" class="images">
                </ul>
            </div>

            <span class="arrow-right"></span>

        </div>

        <div class="pagination"><!--pagination -->
            <div class="pag-wrap"></div>
        </div><!--End pagination -->
    </div>
{% endblock %}

{% block table %}
    <div class="table-wrap clearfix">
        <div id="users_list" class="table scrollbar-inner"></div>
        <div class="preloader">
            <div class="gif">
            </div>
        </div>
    </div>
{% endblock %}

{% block choose_user_modal.search_field %}
    <input id="searchUsers" type="text" placeholder="Поиск" name="unregsearch">
{% endblock %}

{% block create_user %}
    {% include 'partials/create_user_summit.html' %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/select2.js" %}"></script>
    <script src="{% static "js/add_user_summit.js" %}"></script>
    <script src="{% static "js/cropper.min.js" %}"></script>

    <script src="{% static "js/summits.js" %}"></script>
{% endblock %}
