{% load partner_tags %}
<form action="/" name="editPartnership" data-action="update-user" data-partner="{{ partner.id }}" id="partnership">
    <input type="hidden" data-id="user" value="{{ bla.id }}">
    {% if is_supervisor %}
        <button class="edit" data-edit-block="editPartnership"></button>
        <button class="save__info" type="submit"></button>
    {% endif %}
    <div class="popup_body">
        <div class="container">
            <label>
                <span class="label_block">
                    {% if partner %}Активный{% else %}Партнер{% endif %}
                </span>
                {% if partner.is_active %}
                    <input type="checkbox" id="partnershipCheck" data-block="partner" checked disabled>
                {% else %}
                    <input type="checkbox" id="partnershipCheck" readonly disabled>
                {% endif %}
                <div></div>
            </label>
        </div>
    </div>
    <div class="popup_body {% if not partner %} hidden {% endif %} " id="partnershipBlock">
        <div class="container">
            <label>
                <span class="label_block">Партнёр с:</span>
                <input type="text" class="sel__date" data-id="date" value="{{ partner.date|date:"d.m.Y" }}"
                       readonly disabled>
            </label>
            <label>
                <span class="label_block">Сумма сделки:</span>
                <div class="input">
                    <input type="text" data-id="value" value="{{ partner.value }}"
                           id="payment_value"
                           readonly disabled>
                    <select id="payment_currency" class="no_select" data-id="currency" required
                            readonly disabled>
                        {% for currency in currencies %}
                            <option value="{{ currency.id }}"
                                    {% if currency == partner.currency %}selected{% endif %}>
                                {{ currency.short_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </label>
            <label>
                <span class="label_block">Менеджер:</span>
                <select id="responsible" data-id="responsible" readonly disabled>
                    <option value="">Выберите менеджера</option>
                    {% get_simple_managers as managers %}
                    {% for manager in managers %}
                        <option value="{{ manager.id }}"
                                {% if partner.responsible.id == manager.id %}selected{% endif %}>{{ manager.fullname }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                <span class="label_block">База:</span>
                <select id="group" class="par__group" data-id="group" readonly disabled>
                    <option value="" selected disabled>Выберите базу</option>
                    {% for el in partner_groups %}
                        <option value="{{ el.id }}"
                                {% if partner.group.id == el.id %}selected{% endif %}>{{ el.title }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
    </div>
</form>
