{% load i18n %}
<h2>{% trans "Deals" %}</h2>
<table>
    <tr>
        <th>{% trans "Date created" %}</th>
        <th>{% trans "Partner" %}</th>
        <th>{% trans "Paid sum" %}</th>
        <th>{% trans "Planed sum" %}</th>
        <th>{% trans "Currency" %}</th>
    </tr>
    {% for deal in deals %}
        <tr>
            <td>{{ deal.date_created|date:"d b Y" }}</td>
            <td><a href="{{ deal.partnership.user.get_absolute_url }}">{{ deal.full_name }}</a></td>
            <td>{{ deal.total_sum }}</td>
            <td>{{ deal.value }}</td>
            <td>{{ deal.currency.name }}</td>
        </tr>
    {% endfor %}
    <tr></tr>
</table>