@media screen and (min-width: 1700px) {

}

@media screen and (max-width: 1430px) {
	.anketa-photo {
		width: 140px;
		height: 140px;
	}
}
@media screen and (max-width: 1200px) {
  .user-fio {
    & .right-info-r {
      width: 60%;
      float: right;
      padding: 1.5em 0 .5em;
      & h3#fullname {
        font: 1.2em "UbuntuMedium", sans-serif;
      }
    }
  }
}