{% load i18n %}
{% load static %}

<div class="popap popap_slide" id='filterPopup'>
    <div class="pop_cont">
        <div class='popup_text'>
            <h2>Фильтр</h2>
        </div>
        <div class="popup_body">
            <div class="container">
                {% include "partials/filter/select.html" with label="Отдел" options=departments name="department" %}
                {% include "partials/filter/select.html" with label="Ветка по автору" options=authors name="author_tree" %}
                {% include "partials/filter/select.html" with label="Иерархия" options=hierarchies name="hierarchy" %}
                {% include "partials/filter/select.html" with label="Автор регистрации" options=authors name="author" %}
                {% include "partials/filter/input.html" with label="Email" name="email" input_type="email" placeholder="email" %}
                {% include "partials/filter/select.html" with label="Еmail отправлен" options=true_false_options name="has_email" custom_classes="select__custom" %}
                {% include "partials/filter/input.html" with label="Номер телефона" name="phone_number" input_type="tel" placeholder="номер телефона" %}
                {% include "partials/filter/input.html" with label="Страна" name="country" placeholder="страна" %}
                {% include "partials/filter/input.html" with label="Город" name="city" placeholder="город" %}
                {% include "partials/filter/select.html" with label="Фотография" options=true_false_options name="has_photo" custom_classes="select__custom" %}
                {% trans "Печатный билет" as ticket_label %}
                {% include "partials/filter/select.html" with label=ticket_label options=ticket_status_options name="ticket_status" custom_classes="select__custom" %}
                {% trans "Электронный билет" as eticket_label %}
                {% include "partials/filter/select.html" with label=eticket_label options=true_false_options name="e_ticket" custom_classes="select__custom" %}
                {% trans "Присутствие" as visited_label %}
                {% include "partials/filter/select.html" with label=visited_label options=visited_options name="is_visited" custom_classes="select__custom" %}
                {% trans "Диапазон дат присутствия" as date_range_label %}
                {% include "partials/filter/fromto.html" with label=date_range_label name="date" custom_classes="select_date_filter" pclass="birthday" %}
                {% trans "Облако свидетелей" as has_achievement_label %}
                {% include "partials/filter/select.html" with label=has_achievement_label options=true_false_options name="has_achievement" custom_classes="select__custom" %}
                {% trans "Партнеры" as is_partner_label %}
                {% include "partials/filter/select.html" with label=is_partner_label options=true_false_options name="is_partner" custom_classes="select__custom" %}
            </div>
        </div>
        <div class="container">
            <button class="clear-filter"><i class="fa fa-refresh" aria-hidden="true"></i>Очистить</button>
            <button class="close-popup">Отменить</button>
            <button class="apply-filter">Применить</button>
        </div>
    </div>
</div>
