{% load static %}
<!DOCTYPE html>
<!--[if IE]>
<html class="ie" lang="ru">
<p>Ваш браузер устарел. <a href="https://www.google.ru/chrome/browser/desktop/index.html">Скачать</a></p>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="ru">

<head>

    <meta charset="UTF-8">

    <title>CRM</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href='{% static "img/favicon.png" %}' type="image/x-icon">
    <link rel="stylesheet" href='{% static "libs/normalize-css/normalize.css" %}'>
    <link rel="stylesheet" href='{% static "css/fonts.css" %}'>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
</head>

<body>
<div class="page-width vocrm-login ">
        <div class="account">
        {% block body %}
        <div class="login-wrap">
            <div class="logo">
                <a data-title="Дэшборд" href="/">vo<span>crm</span></a>
            </div>
            <div class="splash-screen" id="login_popup">
                <div class="top-text">
                    <h3>Войти в систему</h3>
                </div>
                <div class="entry-input1">
                    <input type="mail" id="login">
                </div>
                <div class="entry-input2">
                    <input type="password" id="psw">
                </div>
                <div class="splash-bauttons">
                    <input type="checkbox" id="save-profile">
                    <label class="disable" for="save-profile">Чужой компьютер</label>
                    <button id="entry" autocomplete="on">Войти</button>
                </div>
                <a href="{% url "restore" %}" class="restore">Получить новый пароль</a>
                <div class="invalid" autocomplete="on">Неверно введён e-mail или пароль</div>
            </div>
        </div>
        {% endblock %}

<!--End Pop-up-splash-->
</div>


</div><!--End page-width -->


<div class="popap" id='popup_div'>
    <div class="pop_cont">
        <p id='popup_text'></p>
        <span onclick='hidePopup()' class="close">x</span>
    </div>
</div>

{% block script %}
    <script src={% static "js/vendor.bundle.js" %}></script>
    <script src={% static "js/main.bundle.js" %}></script>
    <script src={% static "js/entry.bundle.js" %}></script>
{% endblock %}
</body>
</html>