{% extends "login/login.html" %}
{% load static %}

{% block body %}
    <div class="login-wrap">
        <div class="splash-screen getpassword">
            <div class="top-text">
                <h3><a id="prev_page" href="{% url "entry" %}">← </a>Получить новый пароль</h3>
            </div>
            <div class="entry-input1">
                <input type="mail" placeholder="E-mail" id="send_letter">
            </div>
            <div class="splash-bauttons">
                <button id="getpass">Получить новый пароль</button>
            </div>
            <div class="invalid">Неверно введён e-mail</div>
        </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src={% static "js/vendor.bundle.js" %}></script>
    <script src={% static "js/main.bundle.js" %}></script>
    <script src={% static "js/restorepass.bundle.js" %}></script>
{% endblock %}