{% extends "layout_main.html" %}
{% load static %}

{% block body_id %} id="database"{% endblock %}

{% block header.top.h1 %}<h1>База данных / Церкви</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="tabs">
            <ul class="nav tabs_link">
                <li><a class="active" href="{% url 'churches' %}">Церкви</a></li>
                <li><a href="{% url 'home_groups' %}">Домашние группы</a></li>
                <li><a href="{% url 'people' %}">Люди</a></li>
            </ul>
        </div>
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                <li>
                    <button id="add">Добавить церковь</button>
                </li>
                <li>
                    <button id="filter_button">Фильтр</button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block main.content %}
    {% block pagination_top %}
        <div class="top-pag">
            <div class="table__count"></div>
            <div class="pagination users__pagination"><!--pagination -->
            </div><!--End pagination -->
        </div>
    {% endblock %}

    {% block table %}
        <div class="table-wrap  clearfix" id="churches"><!--Table -->
            <div class="table scrollbar-inner" id="tableChurches"></div>
            <div class="query-none">
                <p></p>
            </div>
        </div><!--End Table -->
        <div class="preloader">
            <div class="gif"></div>
        </div>
    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination users__pagination"></div>
    {% endblock %}
{% endblock %}

{% block create_user %}
    {% include 'partials/create_user.html' %}
{% endblock %}

{% block popup %}
    <div class="popap" id="quickEditCartPopup">
        <div class="pop_cont">
            <div class="popup_text">
                <h2>Карточка церкви</h2>
                <span onclick="hidePopup(this)" class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="popup_body">
            </div>
            <div class="container">
                <button onclick="hidePopup(this)" class="close-popup">Отменить</button>
                <button onclick="saveChurches(this)" class="save-user">Сохранить</button>
            </div>
        </div>
    </div>
    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Фильтр
            </h2>
            <div class="popup_body">
                <div class="container">
                    <div class="col-6">
                        <p class="label_block">
                            <label for="departments_filter">Отдел</label>
                        </p>
                        <p class="label_block">
                            <label for="hierarchies_filter">Пастор</label>
                        </p>
                        <p class="label_block">
                            <label for="masters_filter">Открыта</label>
                        </p>
                        <p class="label_block">
                            <label for="search_email">Дата открытия</label>
                        </p>
                        <p class="label_block">
                            <label for="search_phone_number">Фильтр по стране</label>
                        </p>
                        <p class="label_block">
                            <label for="search_country">Фильтр по городу</label>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="input_block">
                            <select class="selectdb" data-filter="department" id="departments_filter">
                                <option value="">ВСЕ</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" data-filter="pastor" id="pastor_filter">
                                <option value="">ВСЕ</option>
                                {% for pastor in pastors %}
                                    <option value="{{ pastor.id }}">{{ pastor.fullname }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <input type="checkbox" data-filter="is_open" id="search_is_open">
                        </p>
                        <p class="input_block">
                            <input type="text" data-filter="opening_date" id="search_date_open">
                        </p>
                        <p class="input_block">
                            <input type="text" data-filter="country" placeholder="страна или часть названия" id="search_country">
                        </p>
                        <p class="input_block">
                            <input type="text" data-filter="city" placeholder="город или часть названия" id="search_city">
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <a href="#" onclick="refreshFilter(this)" class="apply-filter"><i class="fa fa-refresh"
                                                                                  aria-hidden="true"></i>
                    Очистить</a>
                <button onclick="hidePopup(this)" class="close-popup">Отменить</button>
                <button onclick="applyFilter(this, createChurchesTable)" class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
    <div class="popap" id='addChurch'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Создание новой церкви
            </h2>
            <form action="" onsubmit="addChurch(event, this, createChurchesTable)">
                <div class="popup_body">
                    <div class="container">
                        <div>
                            <p>Дата открытия</p>
                            <p>Открыта</p>
                            <p>Название</p>
                            <p class="end__block">Выбирите отдел</p>
                            <p>Страна</p>
                            <p>Город</p>
                            <p class="end__block">Пастор</p>
                            <p>Адрес служения</p>
                            <p>Телефон</p>
                            <p>Сайт</p>
                        </div>
                        <div class="col-7">
                            <p><input type="text" id="added_churches_date" required></p>
                            <p><input type="checkbox" id="added_churches_is_open"></p>
                            <p><input type="text" id="added_churches_title"></p>
                            <p class="end__block"><select name="department" id="department_select">
                                {% for item in departments %}
                                    <option value="{{ item.id }}">{{ item.title }}</option>
                                {% endfor %}

                            </select></p>
                            <p><input type="text" id="added_churches_country" required></p>
                            <p><input type="text" id="added_churches_city" required></p>
                            <p class="end__block"><select name="pastor" id="pastor_select" disabled required>
                                <option value="0">Выберите пастора</option>
                            </select></p>
                            <p><input type="text" id="added_churches_address"></p>
                            <p><input type="tel" id="added_churches_phone"></p>
                            <p><input type="url" id="added_churches_site"></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <button type="submit" class="add-church">Создать</button>
                    <button onclick="hidePopup(this)" class="close-popup">Отменить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "libs/air-datepicker/dist/js/datepicker.min.js" %}"></script>
    <script src="{% static "js/database_churches.js" %}"></script>
    <script src="{% static "libs/cropper/dist/cropper.min.js" %}"></script>
    <script type="text/template" id="quickEditCart">
        <div class="container bb-1">
             <div class="header">
                 <p><input type="text" class="title" id="church_title" value="<%=get_title %>"></p>
                 <p><label for="is_open">Открыта</label><input type="checkbox" id="is_open_church"<% if(is_open) { %> checked <% } %> ></p>
                 <% if(opening_date) { %>
                     <p><label for="opening_date">Датат открытия</label><input type="text" class="date" id="opening_date" value="<%= opening_date.split('.').reverse().join('-') %>"></p>
                 <% } else { %>
                     <p><label for="opening_date">Датат открытия</label><input type="text" id="opening_date" class="date" value=""></p>
                 <% } %>
                 <p class="hidden"><input type="text" id="churchID" value="<%= id %>"></p>
             </div>
        </div>
        <div class="container start">
            <div>
                <p class="label_block">Отдел:</p>
                <p class="label_block">Пастор:</p>
                <p class="label_block">Страна</p>
                <p class="label_block">Нас.пункт:</p>
                <p class="label_block">Адрес:</p>
                <p class="label_block">Телефон:</p>
                <p class="label_block">Сайт:</p>
            </div>
            <div class="col-7">
                <div><select name="" id="editDepartmentSelect">
                    <option value="<%= department %>"><%= department %></option>
                </select></div>
                <div><select name="" id="editPastorSelect">
                    <option value="<%= pastor %>"><%= pastor %></option>
                </select></div>
                <p><input type="text" id="country" value="<%=country %>"></p>
                <p><input type="text" id="city" value="<%=city %>"></p>
                <p><input type="text" id="address" value="<%=address %>"></p>
                <p><input type="text" id="phone_number" value="<%=phone_number %>"></p>
                <p><input type="text" id="web_site" value="<%=website %>"></p>
            </div>
        </div>
    </script>
{% endblock %}