{% extends "layout_main.html" %}
{% load static %}
{% load summit_tags %}
{% block body_id %} id="database"{% endblock %}

{% block header.top.h1 %}<h1>База данных</h1>{% endblock %}

{% block header.buttons.filter %}
    <li>
        <button id="filter_button">Фильтр</button>
    </li>
{% endblock %}
{% block header.buttons.export %}
    <form action="{% url "users_v1_1-export" %}" method="post">
        <label for="fields">Fields*</label>
        <input type="text" id="fields" name="fields" required>
        <label for="ids">Ids</label>
        <input type="text" id="ids" name="ids">
        <button type="submit">Export</button>
    </form>
{% endblock %}

{#{% block create_user %}#}
{#    {% include 'partials/create_user.html' %}#}
{#{% endblock %}#}


{% block popup %}
    {% create_user_form %}

    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Фильтр
            </h2>
            <div class="popup_body">
                <div class="container">
                    <div class="col-6">
                        <p class="label_block">
                            <label for="departments_filter">Отдел</label>
                        </p>
                        <p class="label_block">
                            <label for="hierarchies_filter">Иерархия</label>
                        </p>
                        <p class="label_block">
                            <label for="masters_filter">Ответсвенный</label>
                        </p>
                        <p class="label_block">
                            <label for="search_email">Фильтр по email</label>
                        </p>
                        <p class="label_block">
                            <label for="search_phone_number">Фильтр по номеру телефона</label>
                        </p>
                        <p class="label_block">
                            <label for="search_country">Фильтр по стране</label>
                        </p>
                        <p class="label_block">
                            <label for="search_city">Фильтр по городу</label>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="input_block">
                            <select class="selectdb" id="departments_filter">
                                <option value="0">ВСЕ</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" id="hierarchies_filter">
                                <option value="0">ВСЕ</option>
                                {% for hierarchy in hierarchies %}
                                    <option value="{{ hierarchy.id }}">{{ hierarchy.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" id="masters_filter">
                                <option value="0">ВСЕ</option>
                                {% for master in masters %}
                                    <option value="{{ master.id }}">{{ master.fullname }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <input type="email" placeholder="email или часть" id="search_email">
                        </p>
                        <p class="input_block">
                            <input type="tel" placeholder="номер телефона или часть" id="search_phone_number">
                        </p>
                        <p class="input_block">
                            <input type="text" placeholder="страна или часть названия" id="search_country">
                        </p>
                        <p class="input_block">
                            <input type="text" placeholder="город или часть названия" id="search_city">
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <a href="#" onclick="refreshFilter(this)" class="apply-filter"><i class="fa fa-refresh"
                                                                                  aria-hidden="true"></i>
                    Очистить</a>
                <button onclick="hidePopup(this)" class="close-popup">Отменить</button>
                <button onclick="applyFilter(this, createUsersTable)" class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
    <div class="popap" id="quickEditCartPopup">
        <div class="pop_cont">
            <div class="popup_text">
                <h2>Карточка пользователя</h2>
                <span onclick="hidePopup(this)" class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="popup_body">
            </div>
            <div class="container">
                <button onclick="hidePopup(this)" class="close-popup">Отменить</button>
                <button onclick="saveUser(this)" class="save-user">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "libs/air-datepicker/dist/js/datepicker.min.js" %}"></script>
    <script src="{% static "libs/cropper/dist/cropper.min.js" %}"></script>
    <script src="{% static "js/add_user.js" %}"></script>
    <script src="{% static "js/database_users.js" %}"></script>
    <script type="text/template" id="quickEditCart">
   <div class="container bb-1">
       <div>
            <img class="user-image" src="<%= image %>" alt="<%=id%>">
        </div>
        <div class="col-7">
            <p><input type="text" class="fullname" value="<%=fullname %>"></p>
            <p><label for="departmentSelect">Отдел церкви: </label><select id="departmentSelect">
                <% if(department != null) { %>
                    <option value="<%=department.id %>" selected><%=department.title %></option>
                <% } else { %>
                    <option value="" selected></option>
                <% } %>
            </select></p>
            <div><label for="master_hierarchy">Ответственный: </label>
                <select id="master_hierarchy">
                    <% if(master != null) { %>
                        <option value="<%= master.fullname %>" data-id="<%= master.id %>" data-level="<%=master.hierarchy.level%>" selected><%= master.fullname %></option>
                    <% } %>
                </select>
            </div>
            <p><label for="hierarchySelect">Статус: </label><select id="hierarchySelect">
                <% if(hierarchy != null) { %>
                <option value="<%=hierarchy.id %>" data-level="<%=hierarchy.level%>" selected><%=hierarchy.title %></option>
                <% } else { %>
                    <option value="" selected></option>
                <% } %>
            </select></p>
{#            <p><label for="departmentSelect">Отдел церкви: </label><input type="text" id="departmentSelect" value="<%=fields.department.value %>" readonly></p> #}
{#            <p><label for="master_hierarchy">Ответсвенный: </label><input type="text" id="master_hierarchy" value="<%=fields.master_hierarchy.value %>" readonly></p>#}
{#            <p><label for="hierarchy">Статус: </label><input type="text" id="hierarchy" value="<%=fields.hierarchy.value %>" readonly></p>#}
        </div>
   </div>
    <div class="container">
        <div class="col-6">
            <p class="label_block">Телефон:</p>
            <p class="label_block">Домашний телефон:</p>
            <p class="label_block">E-mail:</p>
            <p class="label_block">Skype:</p>
            <p class="label_block">Страна:</p>
            <p class="label_block">Область:</p>
            <p class="label_block">Нас.пункт:</p>
            <p class="label_block">Адрес:</p>
            <p class="label_block">Дата покаяния:</p>
        </div>
        <div class="col-6">
            <p><input type="text" id="phone_number" value="<%=phone_number %>"></p>
            <p><input type="text" id="extra_phone_numbers"
                        <% if (extra_phone_numbers) { %>
                        value="<%=extra_phone_numbers.join(', ') %>
                <% } %>
            </p>
            <p><input type="text" id="email" value="<%=email %>"></p>
            <p><input type="text" id="skype" value="<%=skype %>"></p>
            <p><input type="text" id="country" value="<%=country %>"></p>
            <p><input type="text" id="region" value="<%=region %>"></p>
            <p><input type="text" id="city" value="<%=city %>"></p>
            <p><input type="text" id="address" value="<%=address %>"></p>
            <% if (repentance_date) { %>
                <p><input type="text" id="repentance_date" value="<%=repentance_date.split('.').reverse().join('-') %>"></p>
            <% } else { %>
                <p><input type="text" id="repentance_date" value=""></p>
            <% } %>
        </div>
    </div>
</script>
{% endblock %}