{% extends "layout_main.html" %}
{% load static %}

{% block body_id %} id="database"{% endblock %}

{% block header.top.h1 %}<h1>База данных</h1>{% endblock %}

{% block header.buttons.export %}

{% endblock %}

{% block create_user %}
    {% include 'partials/create_user.html' %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/add_user.js" %}"></script>
    <script src="{% static "js/database_users.js" %}"></script>
    <script src="{% static "libs/cropper/dist/cropper.min.js" %}"></script>
{% endblock %}