{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block header.top.h1 %}<h1>Менеджеры</h1>{% endblock %}

{% block main.content %}

        
       
        <table id="managers">
            <tr>
            <th id="manager-title">ФИО</th>
            
            </tr>
            <tr id="manager-row"></tr>
            
        

        </table>
        <table id="hg-table">
            <tr id="hg-head">
                <th>Домашние группы</th>
            </tr>
            
           
        </table>
        
    
{% endblock %}
{% block extra_scripts %}
        <script src="{% static "js/database_managers.bundle.js" %}"></script>
{% endblock %}