{% extends "layout_database.html" %}
{% load static %}

{% block header.top.h1 %}<h1>База данных / Люди</h1>{% endblock %}

{% block header.buttons.top %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% if user.can_create_user %}
                <li>
                    <button id="add" class="header__button">Добавить пользователя</button>
                </li>
            {% endif %}
            <li>
                <button id="filter_button"
                        class="header__button"
                        data-count="0">
                    Фильтр
                </button>
            </li>
            {% if user.can_export_user_list %}
                <li>
                    <button id="export_table" data-export-url="{% url "users_v1_1-export" %}" class="download header__button">Export</button>
                </li>
            {% endif %}
            <li>
                <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
            </li>
        </ul>
    </div>
{% endblock %}

{% block table %}
    <div class="table table-wrap  clearfix" id="database_users">
        <div class="table scrollbar-inner" id="baseUsers"></div>
        <div class="query-none">
            <p></p>
        </div>
    </div>
{% endblock %}

{% block popup %}
    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <div class='popup_text'>
                <h2>Фильтр</h2>
            </div>
            <div class="popup_body">
                <div class="container">
                    <label>
                        <span class="label_block">Отдел</span>
                        <select class="selectdb" data-filter="department" id="departments_filter">
                                <option value="">ВСЕ</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.title }}</option>
                                {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Церковь</span>
                        <select class="selectdb" data-filter="church_id" id="church_filter">
                            <option value="">ВСЕ</option>
                            {% for church in churches %}
                                <option value="{{ church.id }}">{{ church.get_title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Ветка</span>
                        <select class="selectdb" data-filter="master_tree" id="tree_filter">
                                <option value="">ВСЕ</option>
                                {% for master in masters %}
                                    <option value="{{ master.id }}">{{ master.fullname }}</option>
                                {% endfor %}
                        </select>
                     </label>
                    <label>
                        <span class="label_block">Иерархия</span>
                        <select class="selectdb" data-filter="hierarchy" id="hierarchies_filter">
                                <option value="">ВСЕ</option>
                                {% for hierarchy in hierarchies %}
                                    <option value="{{ hierarchy.id }}">{{ hierarchy.title }}</option>
                                {% endfor %}
                        </select>
                     </label>
                    <label>
                        <span class="label_block">Ответсвенный</span>
                        <select class="selectdb" data-filter="master" id="masters_filter">
                                <option value="">ВСЕ</option>
                                {% for master in masters %}
                                    <option value="{{ master.id }}">{{ master.fullname }}</option>
                                {% endfor %}
                        </select>
                     </label>
                    <label>
                        <span class="label_block">Фильтр по email</span>
                        <input type="email" data-filter="search_email" placeholder="email или часть" id="search_email">
                     </label>
                    <label>
                        <span class="label_block">Фильтр по номеру телефона</span>
                        <input type="tel" data-filter="search_phone_number" placeholder="номер телефона или часть" id="search_phone_number">
                     </label>
                    <label>
                        <span class="label_block">Фильтр по стране</span>
                        <input type="text" data-filter="search_country" placeholder="страна или часть названия" id="search_country">
                     </label>
                    <label>
                        <span class="label_block">Фильтр по городу</span>
                        <input type="text" data-filter="search_city" placeholder="город или часть названия" id="search_city">
                     </label>
                    <label>
                        <span class="label_block">Фильтр по дню рождению</span>
                        <div class="birthday">
                            <input type="text" placeholder="от" data-filter="from_date" id="date_from" class="select_date_filter">
                            <input type="text" placeholder="до" data-filter="to_date" id="date_to" class="select_date_filter">
                        </div>
                    </label>
                    <label>
                        <span class="label_block">Партнер</span>
                        <select class="selectdb" data-filter="is_partner" id="partner_filter">
                                <option value="">ВСЕ</option>
                                <option value="true">Да</option>
                                <option value="false">Нет</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="container">
                <button onclick="refreshFilter(this)" class="clear-filter"><i class="fa fa-refresh"
                                                                                  aria-hidden="true"></i>
                    Очистить</button>
                <button class="close-popup">Отменить</button>
                <button onclick="applyFilter(this, createUsersTable)" class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
    <div class="popap" id="quickEditCartPopup">
        <div class="pop_cont">
            <div class="popup_text">
                <h2>Карточка пользователя</h2>
                <span class="close close-popup"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="popup_body">
            </div>
            <div class="container">
                <button class="close-popup change__text">Отменить</button>
                <button onclick="saveUser(this)" class="save-user">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "libs/cropper/dist/cropper.min.js" %}"></script>
    <script src="{% static "js/add_user.js" %}"></script>
    <script src="{% static "js/database_users.js" %}"></script>
    <script type="text/template" id="quickEditCart">
   <div class="container bb-1">
       <div>
            <img class="user-image" src="<%= image %>" alt="<%=id%>">
        </div>
        <div class="col-7">
            <p><input type="text" class="fullname" value="<%=fullname %>"></p>
            <p><label for="departmentSelect">Отдел церкви: </label><select id="departmentSelect" multiple>
                <% if(departments.length > 0) { %>
                    <% departments.forEach(function(department) { %>
                        <option value="<%=department.id %>" selected><%=department.title %></option>
                    <% }) %>
                <% } else { %>
                    <option value="" selected></option>
                <% } %>
            </select></p>
            <div><label for="master_hierarchy">Ответственный: </label>
                <select id="master_hierarchy">
                    <% if(master != null) { %>
                        <option value="<%= master.fullname %>" data-id="<%= master.id %>" data-level="<%=master.hierarchy.level%>" selected><%= master.fullname %></option>
                    <% } %>
                </select>
            </div>
            <p><label for="hierarchySelect">Статус: </label><select id="hierarchySelect">
                <% if(hierarchy != null) { %>
                <option value="<%=hierarchy.id %>" data-level="<%=hierarchy.level%>" selected><%=hierarchy.title %></option>
                <% } else { %>
                    <option value="" selected></option>
                <% } %>
            </select></p>
{#            <p><label for="departmentSelect">Отдел церкви: </label><input type="text" id="departmentSelect" value="<%=fields.department.value %>" readonly></p> #}
{#            <p><label for="master_hierarchy">Ответсвенный: </label><input type="text" id="master_hierarchy" value="<%=fields.master_hierarchy.value %>" readonly></p>#}
{#            <p><label for="hierarchy">Статус: </label><input type="text" id="hierarchy" value="<%=fields.hierarchy.value %>" readonly></p>#}
        </div>
   </div>
    <div class="container">
        <div class="col-6">
            <p class="label_block">Телефон:</p>
            <p class="label_block">Домашний телефон:</p>
            <p class="label_block">E-mail:</p>
            <p class="label_block">Skype:</p>
            <p class="label_block">Страна:</p>
            <p class="label_block">Область:</p>
            <p class="label_block">Нас.пункт:</p>
            <p class="label_block">Адрес:</p>
            <p class="label_block">Дата покаяния:</p>
        </div>
        <div class="col-6">
            <p><input type="text" id="phone_number" value="<%=phone_number %>"></p>
            <p><input type="text" id="extra_phone_numbers"
                <% if (extra_phone_numbers instanceof Array && extra_phone_numbers.length > 0) { %>
                    value="<%=extra_phone_numbers.join(', ') %>"
                <% } %>
                >
            </p>
            <p><input type="text" id="email" value="<%=email %>"></p>
            <p><input type="text" id="skype" value="<%=skype %>"></p>
            <p><input type="text" id="country" value="<%=country %>"></p>
            <p><input type="text" id="region" value="<%=region %>"></p>
            <p><input type="text" id="city" value="<%=city %>"></p>
            <p><input type="text" id="address" value="<%=address %>"></p>
            <% if (repentance_date) { %>
                <p><input type="text" id="repentance_date" value="<%=repentance_date.split('.').reverse().join('-') %>"></p>
            <% } else { %>
                <p><input type="text" id="repentance_date" value=""></p>
            <% } %>
        </div>
    </div>
</script>
{% endblock %}