<!DOCTYPE html>
<!--[if IE]>
<html class="ie" lang="ru">
<p>Ваш браузер устарел. <a href="https://www.google.ru/chrome/browser/desktop/index.html">Скачать</a></p>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="ru">
<meta http-equiv="Cache-control" content="no-cache">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/libs/reset-css/reset.css">
    <link href="/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/main.css">

</head>

<body style="display: block">
<div id="main">
    <div class="jumbotron eng_works">
        <h1>Сайт на обслуживании, зайдите позже!</h1>
        <p class="error_txt">На данный момент на сайте проводятся технические работы. Зайдите пожалуйста позже.<br>
            Извините за неудобства.
        </p>
    </div>
</div>

</body>
</html>
