{% extends "bootstrap/base.html" %}

{% block title %}Title{% endblock %}
{% block scripts %}
{{ super() }}
<link rel="shortcut_icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/stylez.css') }} ">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }} ">
{% endblock %}


{#{% block navbar %}#}
{#<div class="navbar navbar-inverse" role="navigation">#}
{#    <div class="container">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#        </div>#}
{#        <div class="navbar-collapse collapse">#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
