<h1>Карточка Церкви:</h1>
<h2>Название Церкви: {{church.get_title }} </h2>

<h2><strong> Основная информация: </strong></h2>
<hr>
    Дата открытия: {{ church.opening_date }}
    <br>
    Отдел: {{ church.department }}
    <br>
    Пастор: {{ church.pastor }}
    <br>
    Город: {{ church.city }}
    <br>
    Адрес: {{ church.address }}
    <br>
    Телефон: {{ church.phone_number }}
    <br>
    Сайт: {{ church.website }}
<hr>

<h2><strong> Сводная информация: </strong></h2>
<hr>
    Количество прихожан: {{ parishioners_count }}
    <br>
    Количеств Лидеров: {{ leaders_count }}
    <br>
    Количество Домашних групп: {{ home_groups_count }}
    <br>
    Количество Отцов: {{ fathers_count }}
    <br>
    Количество Юношей: {{ juniors_count }}
    <br>
    Количество Младенцев: {{ babies_count }}
    <br>
    Количество Партнеров: {{ partners_count }}
<hr>
