{% extends "layout_main.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load partner_tags %}

{% block body_id %} id="database"{% endblock %}

{% block header.top.h1 %}<h1>Карточка Церкви</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                <li class="dropdown">
                    <button class="add">Добавить</button>
                    <ul class="top-buttons-submenu">
                        <li>
                            <button id="addUserToChurch">Пользователя</button>
                        </li>
                        <li>
                            <button id="addHomeGroupToChurch">Домашнюю группу</button>
                        </li>
                    </ul>
                </li>
                <li>
                    <button id="export_table" data-export-url="{% url "church-export-users" pk=church.id %}"
                            class="download header__button">Export
                    </button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block main.content %}
    <div class="content content_anketa">
        <div class="left-contentwrap accordion" id="editChurchForm" data-id="{{ church.id }}" data-partner="{{ church.partners.exists }}">
            <div class="left-content">
                <div class="user-fiowrap">
                    <div class="user-fio">
                        <div class="right-info-r">
                            <button class="edit" id="editNameBtn" data-edit-block="editNameBlock"></button>
                            <hgroup>
                                <h3 id="fullName">{{ church.get_title }}</h3>
                            </hgroup>
                        </div>
                        <div class="anketa-photo">
                            {% if church.image %}
                                <img src="{{ church.image.url }}" alt="photo">
                            {% else %}
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <ul class="right-info">
                    <li class="hidden" id="editNameBlock" data-edit="editNameBtn">
                        <div class="right-info__block">
                            <h4>Данные церкви</h4>
                            <div class="success__block"></div>
                            <form action="/" name="editName" data-action="update-user">
                                <button class="save__info after__hidden" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Название</span>
                                            <input type="text" name="title" id="first_name" value="{{ church.get_title }}">
                                        </label>
                                        <label>
                                            <span class="label_block">Фото</span>
                                            <input type="file" id="file">
                                        </label>
                                        <p>Размер файла не должен превышать 10 МБ.</p>
                                        <p>Типы файлов, которые поддерживаются: jpg, jpeg, png.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editContact">
                        <div class="right-info__block">
                            <h4>Контактные данные</h4>
                            <div class="success__block"></div>
                            <form action="/" id="editContactForm" name="editContact" data-action="update-user">
                                <button class="edit" data-edit-block="editContact"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label id="phone_number-label">
                                            <span class="label_block">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                            </span>
                                            <div class="label_phone_block">
                                                <input type="text" id="phone_number" name="phone_number"
                                                       value="{{ church.phone_number }}" readonly>
                                                <span class="comment"></span>
                                            </div>
                                        </label>
                                        <label>
                                            <span class="label_block"><i class="fa fa-globe"
                                                                         aria-hidden="true"></i></span>
                                            <input type="text" name="website" value="{{ church.website }}" readonly>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editOpen">
                        <div class="right-info__block">
                            <h4>Контактные данные</h4>
                            <div class="success__block"></div>
                            <form action="/" id="editOpenForm" name="editOpen" data-action="update-user">
                                <button class="edit" data-edit-block="editOpen"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Открыта</span>
                                            <input type="checkbox" id="is_open"
                                                   {% if church.is_open %}checked{% endif %}
                                                   readonly disabled="disabled">
                                            <div></div>
                                        </label>
                                        <label>
                                            <span class="label_block">Дата открытия</span>
                                            <div class="input">
                                                <input type="text" class="date" id="opening_date"
                                                       value="{{ church.opening_date|date:"d.m.Y" }}"
                                                       disabled="disabled" readonly>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editDepartment">
                        <div class="right-info__block">
                            <h4>Контактные данные</h4>
                            <div class="success__block"></div>
                            <form action="/" id="editDepartmentForm" name="editDepartment" data-action="update-user">
                                <button class="edit" data-edit-block="editDepartment"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Отдел:</span>
                                            <select name="department" id="editDepartmentSelect" readonly="readonly"
                                                    disabled="disabled">
                                                <option value="{{ church.department.id }}">{{ church.department }}</option>
                                            </select>
                                        </label>
                                        <label>
                                            <span class="label_block">Пастор:</span>
                                            <div class="input">
                                                <select name="pastor" id="editPastorSelect" readonly="readonly"
                                                        disabled="disabled">
                                                    <option value="{{ church.pastor.id }}">{{ church.pastor }}</option>
                                                </select>
                                                <a href="{{ church.pastor.get_absolute_url }}" target="_blank">
                                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editAddress">
                        <div class="right-info__block">
                            <h4>Контактные данные</h4>
                            <div class="success__block"></div>
                            <form action="/" id="editAddressForm" name="editAddress" data-action="update-user">
                                <button class="edit close-map" data-edit-block="editAddress"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Нас. пункт:</span>
                                            <span data-id="{{ church.locality.id }}"
                                                  data-lng="{{ church.locality.latitude }}"
                                                  data-log="{{ church.locality.longitude }}"
                                                  class="select chooseCity">
                                                {{ church.locality|default:church.city }}
                                            </span>
                                            <a href="{% url 'search_city' %}" class="search_city_link" style="visibility: hidden">Выбрать</a>
                                        </label>
                                        <label>
                                            <span class="label_block">Страна:</span>
                                            <span class="select chooseCountry">{{ church.locality.country_name|default:church.country }}</span>
                                        </label>
                                        <label>
                                            <span class="label_block">Область:</span>
                                            <span class="select chooseRegion">{{ church.locality.area_name|default:church.region }}</span>
                                        </label>
                                        <label>
                                            <span class="label_block">Район:</span>
                                            <span class="select chooseDistrict">{{ church.locality.district_name }}</span>
                                        </label>
                                        <label>
                                            <span class="label_block">Точный адрес:</span>
                                            <span id="adress"
                                                  class="select"
                                                  data-title="{{ church.address }}"
                                                  data-lat="{{ church.latitude }}"
                                                  data-lng="{{ church.longitude }}">
                                                {{ church.address }}
                                            </span>
                                            {% if church.latitude and church.longitude %}
                                                <a href="#" id="address_show" class="address_btn"
                                                        data-title="{{ church.address }}"
                                                        data-lat="{{ church.latitude|unlocalize }}"
                                                        data-lng="{{ church.longitude|unlocalize }}"
                                                ><i class="material-icons">&#xE55B;</i></a>
                                            {% endif %}
                                            <a href="#" id="address_choose" class="address_btn address_isHide">Указать</a>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li id="editCurrency">
                        <div class="right-info__block">
                            <h4>Валюта</h4>
                            <div class="success__block"></div>
                            <form action="/" id="editCurrencyForm" name="editCurrency" data-action="update-user">
                                <button class="edit" data-edit-block="editCurrency"></button>
                                <button class="save__info" type="submit"></button>
                                <div class="popup_body">
                                    <div class="container">
                                        <label>
                                            <span class="label_block">Валюта:</span>
                                            <div class="input">
                                                <select id="report_currency" readonly="readonly" name="report_currency" disabled="disabled">
                                                    {% for currency in currencies %}
                                                        <option value="{{ currency.id }}"
                                                                {% if currency.id == church.report_currency %}selected{% endif %}>{{ currency.short_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="right-info__block">
                            <div class="popup_body">
                                <div class="container">
                                    <label>
                                        <span class="label_block">Прихожан:</span>
                                        <p class="count"><span id="parishioners_count">{{ parishioners_count }}</span>
                                        </p>
                                    </label>
                                    <label>
                                        <span class="label_block">Лидеров:</span>
                                        <p class="count"><span id="leaders_count">{{ leaders_count }}</span></p>
                                    </label>
                                    <label>
                                        <span class="label_block">Отцов:</span>
                                        <p class="count"><span id="fathers_count">{{ fathers_count }}</span></p>
                                    </label>
                                    <label>
                                        <span class="label_block">Юношей:</span>
                                        <p class="count"><span id="juniors_count">{{ juniors_count }}</span></p>
                                    </label>
                                    <label>
                                        <span class="label_block">Младенцев:</span>
                                        <p class="count"><span id="babies_count">{{ babies_count }}</span></p>
                                    </label>
                                    <label>
                                        <span class="label_block">Партнеров:</span>
                                        <p class="count"><span id="partners_count">{{ partners_count }}</span></p>
                                    </label>
                                    <label>
                                        <span class="label_block">Не партнеров:</span>
                                        <p class="count">
                                            <a href="{% url 'db:people' %}" id="no_partners-link">
                                            <span>{{ no_partners_count }}</span>
                                        </a>
                                        </p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-contentwrap">
            <div class="right-content">
                <div class="a-block a-map">
                    {% include "group/partials/map_script.html" %}
                </div>
                <div class="a-block">
                    <div class="top-s">
                        <h3>Партнерство</h3>
                    </div>
                    <div class="a-sdelki accordion-block" id="Sdelki">
                        <div class="tab-main_status tab-status">
                            <ul class="tab_main church-tabs">
                                {% for partner in church.partners.all %}
                                    <li {% if forloop.first %}
                                        class="active"
                                    {% endif %}
                                        data-tab="{{ forloop.counter }}"
                                        data-partner="{{ partner.id }}">
                                        <button>
                                            <span>{{ partner.title }}</span>
                                        </button>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if user.is_partner_supervisor_or_high %}
                                <button id="addMorePartners">Добавить партнерскую анкету</button>
                            {% endif %}
                        </div>
                        {% for partner in church.partners.all %}
                            <div class="partner_block_wrap {% if forloop.first %} active {% endif %}"
                                 data-partner="{{ partner.id }}"
                                 data-type="CH"
                                 data-main_tab="{{ forloop.counter }}">
                                <div class="partner_wrapper">
                                    <ul class="right-info">
                                        <li id="editPartnership{{ forloop.counter }}">
                                            <div class="right-info__block">
                                                <h4>Партнерские данные</h4>
                                                <div class="success__block"></div>
                                                {% include "account/partials/partner_form.html" with user=church partner=partner count=forloop.counter is_supervisor=request.user.is_partner_supervisor_or_high %}
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="note_wrapper">
                                        <label for="id_need_text{{ forloop.counter }}">Молитвенная нужда</label>
                                        {% if user.is_partner_manager_or_high %}
                                            <div class="btn-block">
                                                <button class="editText"></button>
                                                <button class="saveNote send_need"
                                                        data-type="CH"
                                                        data-partner="{{ partner.id }}">

                                                </button>
                                            </div>
                                        {% endif %}
                                        <textarea name="need_text" id="id_need_text{{ forloop.counter }}" rows="15"
                                                  cols="50"
                                                  readonly>{{ partner.need_text }}</textarea>
                                    </div>
                                </div>
                                <p class="payment_title">Сделки</p>
                                <div class="tab-status" id="tabStatus{{ forloop.counter }}">
                                    <ul class="tabs_deals church-tabs">
                                        <li data-status="False"
                                            class="active">
                                            <button><span>Незавершённые</span></button>
                                        </li>
                                        <li data-status="True">
                                            <button><span>Завершённые</span></button>
                                        </li>
                                    </ul>
                                    <button data-currency="{{ partner.currency.short_name }}"
                                            data-partner="{{ partner.id }}"
                                            class="create_new_deal">
                                        Добавить сделку
                                    </button>
                                </div>
                                <div class="deals_content"></div>
                                <p class="payment_title">Платежи</p>
                                <div class="payments_content"></div>
                            </div>
                            {% empty %}
                            <div class="a-sdelki">
                                <div class="partner_wrapper">
                                    <ul class="right-info">
{#                                        <li>Не партнер</li>#}
                                        <li id="editPartnership">
                                            <div class="right-info__block">
                                                <h4>Не партнер</h4>
{#                                                <div class="success__block"></div>#}
{#                                                {% include "account/partials/partner_form.html" with user=church partner=partner is_supervisor=request.user.is_partner_supervisor_or_high %}#}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                        {% include "partner/partials/create_deal.html" %}
                    </div>
                </div>
                <div class="a-block">
                    <div class="top-s">
                        <h3>Таблица</h3>
                    </div>
                    <div class="accordion-block">
                        <div class="top-panel tabs-panel">
                            <div class="tabs">
                                <ul class="tabs_link church-tabs">
                                    <li class="mb get_info">
                                        <button data-link="home_groups"
                                                data-export-url="{% url "church-export-groups" pk=church.id %}"
                                                data-editable="false"><span>Количество Домашних групп: <span
                                                id="home_groups_count">{{ home_groups_count }}</span></span></button>
                                    </li>
                                    <li class="get_info">
                                        <button data-link="all_users"
                                                data-export-url="{% url "church-export-all-users" pk=church.id %}"
                                                data-editable="false"><span>Общее количество людей: <span
                                                id="church_all_users">{{ church_all_users }}</span></span></button>
                                    </li>
                                    <li class="mb get_info">
                                        <button class="active"
                                                data-export-url="{% url "church-export-users" pk=church.id %}"
                                                data-link="users" data-editable="true"><span>Люди не в домашних группах: <span
                                                id="church_users">{{ church_users }}</span></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-pag">
                            <div class="table__count"></div>
                            <div class="pagination users__pagination"><!--pagination -->
                            </div><!--End pagination -->
                        </div>
                        <div class="table-wrap clearfix can_edit" id="church" data-id="{{ church.id }}"
                             data-department_id="{{ church.department.id }}"
                             data-department_title="{{ church.department }}">
                            <!--Table -->
                            <div class="table scrollbar-inner" id="tableUserINChurches"></div>
                            <div class="query-none">
                                <p></p>
                            </div>
                        </div><!--End Table -->
                        <div class="table__count"></div>
                        <div class="pagination users__pagination"></div>
                    </div>
                </div>
                <div class="a-block a-sdelki a-report">
                    <div class="top-s">
                        <h3>Отчеты</h3>
                        <a href="{% url 'events:church_report_list' %}">Все отчеты</a>
                    </div>
                    <div class="accordion-block">
                        <div class="tab-status">
                            <ul id="statusTabs" class="tabs_report church-tabs">
                                <li class="current">
                                    <button data-is_submitted="false"><span>Отчет к заполнению</span></button>
                                </li>
                                <li>
                                    <button data-is_submitted="true"><span>Заполненные отчеты</span></button>
                                </li>
                            </ul>

                            <button class="create_report">Добавить отчет</button>
                        </div>
                        <div class="table-wrap  clearfix" id="church_reports">
                            <!--Table -->
                            <div class="table scrollbar-inner" id="churchReports"></div>
                            <div class="query-none">
                                <p></p>
                            </div>
                        </div><!--End Table -->
                    </div>
                </div>
                <div class="a-block a-history">
                        <div class="top-s">
                            <h3>История изменений</h3>
                        </div>
                        <div class="accordion-block">
                            <div>
                                {% if church.log_messages %}
                                    <table>
                                        <tr>
                                            <th>{% trans "Редактор" %}</th>
                                            <th>{% trans "Тип" %}</th>
                                            <th>{% trans "Лог" %}</th>
                                            <th>{% trans "Время изменения" %}</th>
                                        </tr>
                                        {% for log_message in church.log_messages|slice:"20" %}
                                            <tr>
                                                <td>
                                                    <a href="{% url "account:detail" log_message.user_id %}">{{ log_message.user }}</a>
                                                </td>
                                                <td>{{ log_message.get_action_flag_display }}</td>
                                                <td>
                                                    <a href="{{ log_message.get_absolute_url }}">{{ log_message.get_change_message }}</a>
                                                </td>
                                                <td>{{ log_message.action_time|date:"d M Y H:i:s" }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block create_user %}
    {% include 'partials/create_user.html' %}
{% endblock %}

{% block popup %}
    {% include "event/partials/church_report.html" %}
    {% include "payment/partials/create_payment.html" with date="report" %}
    {% include "payment/partials/payments_detail.html" %}
    {% include "partials/find_duplicate_deals.html" %}

    <div class="popap popap_slide" id='addHomeGroup'>
        <div class="pop_cont">
            <div class="popup_text">
                <h2>Добавление домашней группы</h2>
                <span class="close close-popup"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <form action="" id="addHomeGroupForm">
                <div class="popup_body">
                    <div class="container container_block">
                        <label>
                            <span class="label_block">Дата открытия</span>
                            <input id="added_home_group_date" required>
                        </label>
                        <label>
                            <span class="label_block">Название</span>
                            <input type="text" id="added_home_group_title">
                        </label>
                        <label>
                            <span class="label_block">Церковь</span>
                            <p id="added_home_group_church" data-id="{{ church.id }}"
                               data-department="{{ church.department.id }}">{{ church.get_title }}</p>
                        </label>
                        <label>
                            <span class="label_block">Лидер</span>
                            <select id="added_home_group_pastor" required>
                                <option>Выберите пастора</option>
                            </select>
                        </label>
                        <label>
                                <span class="label_block">Нас.пункт:</span>
                                <span id="added_home_group_city" data-id="" class="chooseCity select select_small"></span>
                                <a href="{% url 'search_city' %}" class="search_city_link">Выбрать</a>
                            </label>
                            <label>
                                <span class="label_block">Страна</span>
                                <span class="select chooseCountry"></span>
                            </label>
                            <label>
                                <span class="label_block">Область</span>
                                <span class="select chooseRegion"></span>
                            </label>
                            <label>
                                <span class="label_block">Район</span>
                                <span class="select chooseDistrict"></span>
                            </label>
                        <label>
                            <span class="label_block">Адрес служения</span>
                            <input type="text" id="added_home_group_address">
                        </label>
                        <label>
                            <span class="label_block">Телефон</span>
                            <input type="tel" id="added_home_group_phone">
                        </label>
                        <label>
                            <span class="label_block">Сайт</span>
                            <input type="url" id="added_home_group_site">
                        </label>
                    </div>
                </div>
                <div class="container">
                    <button class="close-popup">Отменить</button>
                    <button type="submit" class="add-church">Создать</button>
                </div>
            </form>
        </div>
    </div>
    <div id="popup-create_partners" class="popap">
        <div class="pop_cont">
            <div class="popup_text">
                <h2>Добавление партнерской анкеты</h2>
            </div>
            <div class="popup_body">
                <div class="container container_block">
                    <input type="hidden" data-id="church" value="{{ church.id }}">
                    <label>
                        <span class="label_block">Отдел партнерства:</span>
                        {% get_partner_titles as titles %}
                        <select class="department_partner selectdb" data-id="title">
                            {% for t in titles %}
                                <option value="{{ t.0 }}">{{ t.1 }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Тег:</span>
                        <select class="group selectdb par__group" data-id="group">
                            <option value="" selected disabled>Выберите тег</option>
                            {% for el in partner_groups %}
                                <option value="{{ el.id }}">{{ el.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Активный</span>
                        <input type="checkbox" class="partnershipCheck">
                        <div></div>
                    </label>
                    <label>
                        <span class="label_block">Партнёр с:</span>
                        <input type="text" class="sel__date" data-id="date">
                    </label>
                    <label>
                        <span class="label_block">Сумма сделки:</span>
                        <div class="input">
                            <input type="text" data-id="value" class="payment_value">
                            <select class="payment_currency selectdb" data-id="currency">
                                {% for currency in currencies %}
                                    <option value="{{ currency.id }}">
                                        {{ currency.short_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </label>
                    <label>
                        <span class="label_block">Менеджер:</span>
                        <select class="responsible selectdb" data-id="responsible">
                            <option value="" selected disabled>Выберите менеджера</option>
                            {% get_simple_managers as managers %}
                            {% for manager in managers %}
                                <option value="{{ manager.id }}">{{ manager.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>
            <div class="container">
                <button id="close_addPartners">Отменить</button>
                <button id="send_addPartners" data-type="CH">Создать</button>
            </div>
        </div>
    </div>
    <div class="popap_slide" id='addChurchReport'>
        <div class="pop_cont">
            <div class="popup_text">
                <h2>Создание отчета</h2>
            </div>
            <form action="">
                <div class="popup_body">
                    <div class="container container_block">
                        <label>
                            <span class="label_block">Дата</span>
                            <input name="date_report" type="text" id="dateReport">
                        </label>
                    </div>
                </div>
                <div class="container">
                    <button class="close-popup">Отменить</button>
                    <button type="submit" class="add-report">Создать</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
{#    {% include "group/partials/map_script.html" %}#}
    <script src="{% static "js/churches_detail.bundle.js" %}"></script>
    <script src="{% static "js/add_user.bundle.js" %}"></script>
{% endblock %}

{% block template_tables %}
    <script type="text/template" id="databaseUsers">
        <table id="table-1">
            <thead>
            <tr>
                <% for( var key in user_table) { %>
                <% if(user_table[key].active) { %>
                <th data-order="<%=user_table[key].ordering_title%>"><%=user_table[key].title %></th>
                <% } %>
                <% } %>
            </tr>
            </thead>
            <tbody>
            <% for( var index in results) { %>
            <tr>
                <% for( var key in user_table) { %>
                <% if(user_table[key].active) { %>
                <% if (key == 'fullname') { %>
                <% if (results[index][key] != null) { %>
                <td class="edit">
                    <button class="delete_btn"></button>
                    <a href="<%= results[index].link %>"
                       data-link="<%= results[index].link %>"
                       data-id="<%=results[index].id %>"
                    <% if(results[index].ankets_id) { %>
                    data-ankets="<%= results[index].ankets_id %>"
                    <% } %>><%= results[index][key] %></a>
                </td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if(key == 'get_title') { %>
                <% if (results[index][key] != null) { %>
                <td class="edit"><a href="<%= results[index].link %>" data-link="<%= results[index].link %>"
                                    data-id="<%=results[index].id %>"><%= results[index][key] %></a><span
                        class="quick-edit"></span></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'locality') { %>
                <% if (results[index][key] != null) { %>
                <td><%= results[index][key].name %></td>
                <% } else { %>
                <td><%= results[index].city %></td>
                <% } %>
                <% } else if (key == 'master' || key == 'pastor' || key == 'leader') { %>
                <% if (results[index][key] != null) { %>
                <td><%= results[index][key].fullname %></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'hierarchy' || key == 'church' ) { %>
                <% if (results[index][key] != null ) { %>
                <td><%= results[index][key].title %></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else if (key == 'department') { %>
                <% if (results[index][key] != null ) { %>
                <td><%= results[index][key].title %></td>
                <% } else { %>
                <td></td>
                <% } %>
                <% }else if (key == 'departments' || key == 'divisions') { %>
                <% if ( Array.isArray(results[index][key]) && results[index][key].length != 0) { %>
                <% if (results[index][key].length == 1) { %>
                <td><%= results[index][key][0].title %></td>
                <% } else { %>
                <td><%= results[index][key].reduce(function(sum, item, i) {
                    return i < results[index][key].length - 1 ? sum + item.title + ', ' : sum + item.title
                    }, "") %>
                </td>
                <% } %>
                <% } else { %>
                <td></td>
                <% } %>
                <% } else { %>
                <td><% if (results[index][key] === true ) { %>
                    <p class="text__center">✔</p>
                    <% } else if (results[index][key] === false){ %>

                    <% } else { %>
                    <%= results[index][key] %>
                    <% } %>
                </td>
                <% } %>
                <% } %>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
        <table id="header-fixed"></table>
    </script>
    <script type="text/template" id="databaseChurchReports">
         <table>
                <thead>
                <tr>
                    <% for( var key in table_columns) { %>
                    <% if(table_columns[key].active) { %>
                    <th data-order="<%=table_columns[key].ordering_title%>"><%=table_columns[key].title %></th>
                    <% } %>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% for( var index in results) { %>
                <tr <% if (results[index].status === 3) { %>
                    class="tr_red"
            <% } %>
            >
                    <% for( var key in table_columns) { %>
                    <% if(table_columns[key].active) { %>
                    <% if(key == 'id') { %>
                    <td class="edit" data-id="<%= results[index][key] %>" id="reportId">
                        <%= results[index][key] %>
                    </td>
                    <% } else if (key == 'church') { %>
                    <% if (results[index][key] != null) { %>
                    <td>
                        <a href="/churches/<%= results[index][key].id %>"><%= results[index][key].title %></a>
                    </td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if(key == 'value') { %>
                    <% if (results[index].total_sum != null || results[index].value != null) { %>
                    <td>
                        <% if (results[index].status == '2') { %>
                        <button class="show_payments inline__button" data-id="<%=results[index].id%>">
                            <span><%= results[index].total_sum %> / <%= results[index].value %> <%= results[index].currency.short_name %></span>
                        </button>
                        <% } else { %>
                        <%= results[index].total_sum %> / <%= results[index].value %> <%= results[index].currency.short_name %>
                        <% } %>
                    </td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else if (key == 'action' ) { %>
                    <td>
                        <% if (results.length) { %>
                        <% if (!results[index].done && check_report_permissions && (results[index].status == 2) && ((results[index].total_sum.match(/\d+(\.\d+)?/g)[0] - results[index].value.match(/\d+(\.\d+)?/g)[0])>=0) ) { %>
                        <button class="complete inline__button"
                                data-id="<%= results[index].id%>"
                                data-name="<%=results[index].church.title%>"
                                data-date="<%=results[index].date%>"
                                data-responsible="<%=results[index].pastor.fullname%>"
                                data-total_sum="<%=results[index].total_sum %>"
                                data-value="<%=results[index].value%>"
                                data-currency-name="<%=results[index].currency.short_name %>"
                                data-currency-id="<%=results[index].currency.id %>"
                        >Закрыть отчет
                        </button>
                        <% } else if (!results[index].done && check_report_permissions && (results[index].status == 2) && ((results[index].total_sum.match(/\d+(\.\d+)?/g)[0] - results[index].value.match(/\d+(\.\d+)?/g)[0])<0) ) { %>
                        <button class="pay inline__button"
                                data-id="<%= results[index].id%>"
                                data-name="<%=results[index].church.title%>"
                                data-date="<%=results[index].date%>"
                                data-responsible="<%=results[index].pastor.fullname%>"
                                data-total_sum="<%=results[index].total_sum %>"
                                data-value="<%=results[index].value%>"
                                data-currency-name="<%=results[index].currency.short_name %>"
                                data-currency-id="<%=results[index].currency.id %>"
                        >Добавить платеж
                        </button>
                        <% } else if (results[index].done) { %>
                        <p class="text__center">✔</p>
                        <% } %>
                        <% } %>
                    </td>
                    <% } else if(key == 'pastor') { %>
                    <% if (results[index][key] != null) { %>
                    <td>
                        <a href="/account/<%= results[index][key].id %>"><%= results[index][key].fullname %></a>
                    </td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <% } else { %>
                    <td><% if (results[index][key] === true ) { %>
                        <p class="text__center">✔</p>
                        <% } else if (results[index][key] === false){ %>

                        <% } else { %>
                        <%= results[index][key] %>
                        <% } %>
                    </td>
                    <% } %>
                    <% } %>
                    <% } %>
                </tr>
                <% } %>
                </tbody>
            </table>
    </script>
{% endblock %}
