<h1>Карточка Церкви:</h1>
<h2>{{ church }}</h2>
<strong> Основная информация: </strong>
<hr>
    Дата открытия: {{ church.opening_date }}
    <br>
    Отдел: {{ church.department }}
    <br>
    Пастор: {{ church.pastor }}
    <br>
    Город: {{ church.city }}
    <br>
    Адрес: {{ church.address }}
    <br>
    Телефон: {{ church.phone_number }}
    <br>
    Сайт: {{ church.website }}
    <br><br>
<strong> Сводная информация: </strong>
<hr>
    Количество прихожан: {{ parishioners_count }}
    <br>
    Количество Домашних групп: {{ home_groups_count }}
    <br>
    Количеств Лидеров: {{ leaders_count }}
<br>
