<h1>Карточка Домашней Группы:</h1>
{% if home_groups.title %}
    <h2>Название Церкви: {{home_groups.title }}</h2>
{% else %}
    <h2>Название Церкви: {{home_groups.get_title }}</h2>
{% endif %}


<h2><strong> Основная информация: </strong></h2>
<hr>
        Дата Открытия: {{ opening_date }}
<br>
        Церковь: {{ church }}
<br>
        Лидер: {{ leader }}
<br>
        Адрес: {{ address }}
<br>
        Телефонный номер: {{ phone_number }}
<br>
        Веб сайт: {{ website }}
<hr>

<h2><strong> Сводная информация: </strong></h2>
<hr>
    Количество людей: {{ users_count }}
    <br>
    Количество Отцов: {{ fathers_count }}
    <br>
    Количество Юношей: {{ juniors_count }}
    <br>
    Количество Младенцев: {{ babies_count }}
    <br>
    Количество Партнеров: {{ partners_count }}
<hr>