{% extends "layout_main.html" %}
{% load static %}

{% block body_id %} id="database"{% endblock %}

{% block header.top.h1 %}<h1>Карточка Домашней Группы</h1> <h2>{{ home_group.get_title }}</h2>{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                <li>
                    <button id="add_userToHomeGroup" class="add">Добавить пользователя</button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block main.content %}

    <div class="container">
        <div class="col-3">
            <div class="info">
                <h2>Основная информация:</h2>
                <ul>
                    <li>Дата открытия: {{ home_group.opening_date }}</li>
                    <li>Церковь: {{ home_group.church }}</li>
                    <li>Лидер: {{ home_group.leader }}</li>
                    <li>Адрес: {{ home_group.address }}</li>
                    <li>Телефонный номер: {{ home_group.phone_number }}</li>
                    <li>Сайт: {% if home_group.website %}
                        <a href="{{ home_group.website }}">{{ home_group.website }}</a>
                    {% endif %}</li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="info">
                <h2>Сводная информация:</h2>
                <ul>
                    <li>Количество людей: {{ users_count }}</li>
                    <li>Количество Отцов: {{ fathers_count }}</li>
                    <li>Количество Юношей: {{ juniors_count }}</li>
                    <li>Количество Младенцев: {{ babies_count }}</li>
                    <li>Количество Партнеров: {{ partners_count }}</li>
                </ul>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    {% block pagination_top %}
        <div class="top-pag">
            <div class="table__count"></div>
            <div class="pagination users__pagination"><!--pagination -->
            </div><!--End pagination -->
        </div>
    {% endblock %}

    {% block table %}
        <div class="table-wrap  clearfix" id="home_group" data-id="{{ home_group.id }}" data-departament_id="{{ home_group.church.department.id }}" data-departament_title="{{ home_group.church.department }}"><!--Table -->
            <div class="table scrollbar-inner" id="tableUserINHomeGroups"></div>
            <div class="query-none">
                <p></p>
            </div>
        </div><!--End Table -->
        {#        <div class="preloader">#}
        {#            <div class="gif"></div>#}
        {#        </div>#}
    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination users__pagination"></div>
    {% endblock %}
{% endblock %}

{% block create_user %}
    {% include 'partials/create_user.html' %}
{% endblock %}

{% block popup %}
    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Фильтр
            </h2>
            <div class="popup_body">
                <div class="container">
                    <div class="col-6">
                        <p class="label_block">
                            <label for="departments_filter">Отдел</label>
                        </p>
                        <p class="label_block">
                            <label for="hierarchies_filter">Иерархия</label>
                        </p>
                        <p class="label_block">
                            <label for="masters_filter">Ответсвенный</label>
                        </p>
                        <p class="label_block">
                            <label for="search_email">Фильтр по email</label>
                        </p>
                        <p class="label_block">
                            <label for="search_phone_number">Фильтр по номеру телефона</label>
                        </p>
                        <p class="label_block">
                            <label for="search_country">Фильтр по стране</label>
                        </p>
                        <p class="label_block">
                            <label for="search_city">Фильтр по городу</label>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="input_block">
                            <select class="selectdb" id="departments_filter">
                                <option value="0">ВСЕ</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" id="hierarchies_filter">
                                <option value="0">ВСЕ</option>
                                {% for hierarchy in hierarchies %}
                                    <option value="{{ hierarchy.id }}">{{ hierarchy.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" id="masters_filter">
                                <option value="0">ВСЕ</option>
                                {% for master in masters %}
                                    <option value="{{ master.id }}">{{ master.fullname }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <input type="email" placeholder="email или часть" id="search_email">
                        </p>
                        <p class="input_block">
                            <input type="tel" placeholder="номер телефона или часть" id="search_phone_number">
                        </p>
                        <p class="input_block">
                            <input type="text" placeholder="страна или часть названия" id="search_country">
                        </p>
                        <p class="input_block">
                            <input type="text" placeholder="город или часть названия" id="search_city">
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <a href="#" onclick="refreshFilter(this)" class="apply-filter"><i class="fa fa-refresh"
                                                                                  aria-hidden="true"></i>
                    Очистить</a>
                <button onclick="hidePopup(this)" class="close-popup">Отменить</button>
                <button onclick="applyFilter(this, createUsersTable)" class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
    <div class="popap" id='addChurch'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Создание новой церкви
            </h2>
            <form action="" onsubmit="addChurch(event, this)">
                <div class="popup_body">
                    <div class="container">
                        <div>
                            <p>Дата открития</p>
                            <p>Открыта</p>
                            <p>Название</p>
                            <p class="end__block">Выбирите отдел</p>
                            <p>Страна</p>
                            <p>Город</p>
                            <p class="end__block">Пастор</p>
                            <p>Адрес служения</p>
                            <p>Телефон</p>
                            <p>Сайт</p>
                        </div>
                        <div class="col-7">
                            <p><input type="date" id="added_churches_date" required></p>
                            <p><input type="checkbox" id="added_churches_is_open"></p>
                            <p><input type="text" id="added_churches_title"></p>
                            <p class="end__block"><select name="department" id="department_select">
                                {% for item in departments %}
                                    <option value="{{ item.id }}">{{ item.title }}</option>
                                {% endfor %}

                            </select></p>
                            <p><input type="text" id="added_churches_country" required></p>
                            <p><input type="text" id="added_churches_city" required></p>
                            <p class="end__block"><select name="pastor" id="pastor_select" disabled>
                                <option value="0">Выберите пастора</option>
                            </select></p>
                            <p><input type="text" id="added_churches_address"></p>
                            <p><input type="tel" id="added_churches_phone"></p>
                            <p><input type="url" id="added_churches_site"></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <button type="submit" class="add-church">Создать</button>
                    <button onclick="hidePopup(this)" class="close-popup">Отменить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "libs/air-datepicker/dist/js/datepicker.min.js" %}"></script>
    <script src="{% static "js/home_groups_detail.js" %}"></script>
{% endblock %}
