{% extends "layout_main.html" %}
{% load static %}

{% block body_id %} id="database"{% endblock %}

{% block header.top.h1 %}<h1>Карточка Домашней Группы</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-panel">
        <div class="top-buttons-wrap">
            <ul class="top-buttons">
                <li>
                    <button id="add_userToHomeGroup" class="add">Добавить пользователя</button>
                </li>
                <li>
                    <button id="export_table" data-export-url="{% url "homegroup-export-users" pk=home_group.id %}" class="download header__button">Export</button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block header.buttons.export %}
{% endblock %}

{% block main.content %}
<h1>{{ home_group.get_title }}</h1>
    <div class="accordion">
        <h2 class="info-title">Основная информация:</h2>
        <div class="info">
            <form action="/" id="editHomeGroupForm" data-id="{{ home_group.id }}">
                <button class="edit"></button>
                <button class="save__info" type="submit"></button>
                <div class="success__block"></div>
                <div class="info-block info-block_edit">
                    <div class="title-wrapper">
                        <span>Дата открытия:</span>
                    </div>
                    <input type="text" class="date" id="opening_date" value="{{ home_group.opening_date }}"
                               disabled="disabled" readonly>
                    <div class="title-wrapper">
                        <span>Церковь:</span>
                    </div>
                    <div class="input">
                        <input type="text" id="church" value="{{ home_group.church }}" readonly>
                        <a href="/churches/{{ home_group.church.id }}">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="title-wrapper">
                        <span>Лидер домашней группы:</span>
                    </div>
                    <div class="input">
                        <select name="" id="homeGroupLeader" readonly="readonly" disabled="disabled">
                            <option value="{{ home_group.leader.id }}">{{ home_group.leader }}</option>
                        </select>
                        <a href="{{ home_group.leader.get_absolute_url }}">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="title-wrapper">
                        <span>Город:</span>
                    </div>
                    <input type="text" id="city" value="{{ home_group.city }}" readonly>
                    <div class="title-wrapper">
                        <span>Адрес:</span>
                    </div>
                    <input type="text" id="address" value="{{ home_group.address }}" readonly>
                    <div class="title-wrapper">
                        <span>Телефонный номер:</span>
                    </div>
                    <input type="text" id="phone_number" value="{{ home_group.phone_number }}" readonly>
                    <div class="title-wrapper">
                        <span>Сайт:</span>
                    </div>
                    <div class="input">
                        <input type="text" id="web_site" value="{{ home_group.website }}" readonly>
                        <a href="{{ home_group.website }}" target="_blank" id="site-link"
                           {% if not home_group.website %}class="link-hide"{% endif %}
                        >
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
            <h2 class="info-title">Сводная информация:</h2>
            <div class="info info-calc">
                <div class="info-block">
                    <div class="title-wrapper">
                        <span>Количество людей:</span>
                    </div>
                    <p><span id="users_count">{{ users_count }}</span></p>
                    <div class="title-wrapper">
                        <span>Количество Отцов:</span>
                    </div>
                    <p><span id="fathers_count">{{ fathers_count }}</p>
                    <div class="title-wrapper">
                        <span>Количество Юношей:</span>
                    </div>
                    <p><span id="juniors_count">{{ juniors_count }}</span></p>
                    <div class="title-wrapper">
                        <span>Количество Младенцев:</span>
                    </div>
                    <p><span id="babies_count">{{ babies_count }}</span></p>
                    <div class="title-wrapper">
                        <span>Количество Партнеров:</span>
                    </div>
                    <p><span id="partners_count">{{ partners_count }}</span></p>
                </div>
            </div>
    </div>
    {% block pagination_top %}
        <div class="top-pag">
            <div class="table__count"></div>
            <div class="pagination users__pagination"><!--pagination -->
            </div><!--End pagination -->
        </div>
    {% endblock %}

    {% block table %}
        <div class="table-wrap  clearfix" id="home_group" data-id="{{ home_group.id }}" data-departament_id="{{ home_group.church.department.id }}" data-departament_title="{{ home_group.church.department }}" data-church-id="{{ home_group.church.id }}"><!--Table -->
            <div class="table scrollbar-inner" id="tableUserINHomeGroups"></div>
            <div class="query-none">
                <p></p>
            </div>
        </div><!--End Table -->

    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination users__pagination"></div>
    {% endblock %}
{% endblock %}

{% block create_user %}
    {% include 'partials/create_user.html' %}
{% endblock %}

{% block popup %}
    <div class="popap" id='filterPopup'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Фильтр
            </h2>
            <div class="popup_body">
                <div class="container">
                    <div class="col-6">
                        <p class="label_block">
                            <label for="departments_filter">Отдел</label>
                        </p>
                        <p class="label_block">
                            <label for="hierarchies_filter">Иерархия</label>
                        </p>
                        <p class="label_block">
                            <label for="masters_filter">Ответсвенный</label>
                        </p>
                        <p class="label_block">
                            <label for="search_email">Фильтр по email</label>
                        </p>
                        <p class="label_block">
                            <label for="search_phone_number">Фильтр по номеру телефона</label>
                        </p>
                        <p class="label_block">
                            <label for="search_country">Фильтр по стране</label>
                        </p>
                        <p class="label_block">
                            <label for="search_city">Фильтр по городу</label>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="input_block">
                            <select class="selectdb" id="departments_filter">
                                <option value="0">ВСЕ</option>
                                {% for department in departments %}
                                    <option value="{{ department.id }}">{{ department.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" id="hierarchies_filter">
                                <option value="0">ВСЕ</option>
                                {% for hierarchy in hierarchies %}
                                    <option value="{{ hierarchy.id }}">{{ hierarchy.title }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <select class="selectdb" id="masters_filter">
                                <option value="0">ВСЕ</option>
                                {% for master in masters %}
                                    <option value="{{ master.id }}">{{ master.fullname }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p class="input_block">
                            <input type="email" placeholder="email или часть" id="search_email">
                        </p>
                        <p class="input_block">
                            <input type="tel" placeholder="номер телефона или часть" id="search_phone_number">
                        </p>
                        <p class="input_block">
                            <input type="text" placeholder="страна или часть названия" id="search_country">
                        </p>
                        <p class="input_block">
                            <input type="text" placeholder="город или часть названия" id="search_city">
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <button onclick="refreshFilter(this)" class="clear-filter">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Очистить</button>
                <button class="close-popup">Отменить</button>
                <button onclick="applyFilter(this, createUsersTable)" class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
    <div class="popap" id='addChurch'>
        <div class="pop_cont">
            <h2 class='popup_text'>
                Создание новой церкви
            </h2>
            <form onsubmit="addChurch(event, this)">
                <div class="popup_body">
                    <div class="container">
                        <div>
                            <p>Дата открития</p>
                            <p>Открыта</p>
                            <p>Название</p>
                            <p class="end__block">Выбирите отдел</p>
                            <p>Страна</p>
                            <p>Город</p>
                            <p class="end__block">Пастор</p>
                            <p>Адрес служения</p>
                            <p>Телефон</p>
                            <p>Сайт</p>
                        </div>
                        <div class="col-7">
                            <p><input type="date" id="added_churches_date" required></p>
                            <p><input type="checkbox" id="added_churches_is_open"></p>
                            <p><input type="text" id="added_churches_title"></p>
                            <p class="end__block"><select name="department" id="department_select">
                                {% for item in departments %}
                                    <option value="{{ item.id }}">{{ item.title }}</option>
                                {% endfor %}

                            </select></p>
                            <p><input type="text" id="added_churches_country" required></p>
                            <p><input type="text" id="added_churches_city" required></p>
                            <p class="end__block"><select name="pastor" id="pastor_select" disabled>
                                <option value="0">Выберите пастора</option>
                            </select></p>
                            <p><input type="text" id="added_churches_address"></p>
                            <p><input type="tel" id="added_churches_phone"></p>
                            <p><input type="url" id="added_churches_site"></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <button type="submit" class="add-church">Создать</button>
                    <button class="close-popup">Отменить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "libs/air-datepicker/dist/js/datepicker.min.js" %}"></script>
    <script src="{% static "libs/cropper/dist/cropper.min.js" %}"></script>
    <script src="{% static "js/add_user.js" %}"></script>
    <script src="{% static "js/home_groups_detail.js" %}"></script>
{% endblock %}
{% block template_tables %}
<script type="text/template" id="databaseUsers">
     <table>
        <thead>
        <tr>
            <% for( var key in user_table) { %>
                <% if(user_table[key].active) { %>
                    <th data-order="<%=user_table[key].ordering_title%>"><%=user_table[key].title %></th>
                <% } %>
            <% } %>
        </tr>
        </thead>
        <tbody>
            <% for( var index in results) { %>
            <tr>
                <% for( var key in user_table) { %>
                    <% if(user_table[key].active) { %>
                        <% if (key == 'fullname') { %>
                            <% if (results[index][key] != null) { %>
                                <td class="edit">
                                    <button class="delete_btn"></button>
                                    <a href="<%= results[index].link %>"
                                                    data-link="<%= results[index].link %>"
                                                    data-id="<%=results[index].id %>"
                                                    <% if(results[index].ankets_id) { %>
                                                        data-ankets="<%= results[index].ankets_id %>"
                                                    <% } %>><%= results[index][key] %></a>
                                    </td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% } else if(key == 'get_title') { %>
                            <% if (results[index][key] != null) { %>
                                <td class="edit"><a href="<%= results[index].link %>" data-link="<%= results[index].link %>" data-id="<%=results[index].id %>"><%= results[index][key] %></a><span class="quick-edit"></span></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% } else if (key == 'master' || key == 'pastor' || key == 'leader') { %>
                            <% if (results[index][key] != null) { %>
                                <td><%= results[index][key].fullname %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else if (key == 'hierarchy' || key == 'church' ) { %>
                            <% if (results[index][key] != null ) { %>
                                <td><%= results[index][key].title %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else if (key == 'department') { %>
                                <% if (results[index][key] != null ) { %>
                                <td><%= results[index][key].title %></td>
                                <% } else { %>
                                <td></td>
                                <% } %>
                            <% }else if (key == 'departments' || key == 'divisions') { %>
                            <% if ( Array.isArray(results[index][key]) && results[index][key].length != 0) { %>
                                <% if (results[index][key].length == 1) { %>
                                    <td><%= results[index][key][0].title %></td>
                                <% }  else { %>
                                    <td><%= results[index][key].reduce(function(sum, item, i) {
                                            return i < results[index][key].length - 1 ? sum + item.title + ', ' : sum + item.title
                                        }, "") %></td>
                                <% } %>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else { %>
                            <td><% if (results[index][key] === true ) { %>
                                <p class="text__center">✔</p>
                                <% } else if (results[index][key] === false){ %>

                                <% } else { %>
                                <%= results[index][key] %>
                                <% } %>
                            </td>
                        <% } %>
                    <% } %>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>
</script>
{% endblock %}
