<!DOCTYPE html>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css"/>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru"> <!--<![endif]-->
<meta http-equiv="Cache-control" content="no-cache">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href='{% static "img/favicon.png" %}' type="image/x-icon">
    <link rel="stylesheet" href='{% static "libs/reset-css/reset.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700" rel="stylesheet">
    <link href="{% static "libs/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/fonts.css" %}'>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>

</head>

<body>
<div class="jumbotron eng_works">
    <h1>Сайт на обслуживании, зайдите позже!</h1>
    <p>На данный момент на сайте проводятся технические работы. Зайдите пожалуйста позже.<br>
        Извините за неудобства.
    </p>
</div>
</body>
</html>
