<!DOCTYPE html>
<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="css/ie.css" />
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru"> <!--<![endif]-->

<head>

    <meta charset="UTF-8">

    <title>CRM</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/libs/jquery.scrollbar.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
</head>

<body>

<div class="page-width">

    <div id="sidebar"><!--Sidebar -->
        <div class="scrollbar-macosx">

            <div class="logo">
                <div><span>V</span><span>O</span></div>
                <div><span>C</span><span>R</span><span>M</span></div>
            </div>

            <ul id="nav-sidebar">
                <li><a data-title="База данных" href="/">База данных</a></li>
                <li><a data-title="Все отчеты" href="/reports/">Все отчеты</a></li>
                <li><a data-title="События" href="/events/">События</a></li>
                <li><a data-title="Партнёрство" href="/deals/">Партнёрство</a></li>
                <li><a data-title="Саммиты" href="/summits/">Саммиты</a></li>
                <li id="move-sidebar"><a data-title="Развернуть" href="#">Свернуть</a></li>
            </ul>
        </div>
    </div>

    <div class="main-wrap anketa" id="account_view">
        <div class="header">

            <ul class="top"><!-- Top -->
                <li>
                    <h1>Анкета пользователя</h1>
                </li>
                <li class="userImgWrap">
                    <div class="userimg"><!-- <img src="img/layer-1.jpg" alt="userphoto"> -->
                    </div>
                </li>
                <li class="sms"><span>0</span><span></span></li>
                <li style="visibility:hidden">
                    <div class="search">
                        <input type="text" placeholder="Поиск и фильтр" name="fullsearch">
                    </div>
                </li>
            </ul><!--End Top -->

            <div class="top-buttons-wrap">
                <ul class="top-buttons"><!-- top-buttons -->
                    {#                    <li>#}
                    {#                        <button id="deleteUser" class="b-del">Удалить</button>#}
                    {#                    </li>#}
                    <li>
                        <button class="b-red">Редактировать</button>
                    </li>

                </ul><!--top-buttons -->

            </div>

            <div class="user-hover photo-hover">
                <div class="hover-wrapper">
                    <div class="top-box" id="edit_profile">
                        <span></span>
                        <p>Мой профиль</p>
                    </div>
                    <div class="bottom-box"><a id="logout_button">
                        <span></span>
                        <p>Выйти</p></a>
                    </div>
                </div>
            </div>


            <div class="user-hover massage-hover">
                <div class="hover-wrapper">
                    <div class="top-box">
                        <p>У Вас <span>48</span> незавершённых сделок</p>
                    </div>
                    <div class="bottom-box">
                        <p>Сегодня день рождения у:</p>
                        <ul>
                            <li>Кичеев Данила Никонович</li>
                            <li>Никоненко Сергей Эдуардович</li>
                            <li>Ломтева Виктория Ипполитовна</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div><!--End header -->
        <div class="content">
            <div class="left-contentwrap">
                <div class="left-content">
                    <div class="user-fiowrap">
                        <div class="user-fio">
                            <div class="right-info-r">
                                <h3 id="fullname"></h3>
                            </div>
                            <div class="a-socials" data-soc="vkontakte">
                                <i class="fa fa-vk"></i>
                            </div>
                            <div class="a-socials" data-soc="facebook">
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="label"></div>
                            <div class="anketa-photo">
                                <img src="/static/img/no-usr.jpg" alt="photo">
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="right-info-r">
                                <ul>
                                    <li><i class="fa fa-phone"></i><span id="phone_number"></span></li>
                                    <li><i class="fa fa-envelope"></i><span id="email"></span></li>
                                    <li><i class="fa fa-skype"></i><span id="skype"></span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="left-info">
                                <ul>
                                    <li>Дата рождения:</li>
                                    <li>Страна:</li>
                                    <li>Область:</li>
                                    <li>Город:</li>
                                    <li>Адрес:</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><span id="born_date"> </span></li>
                                    <li><span id="country"> </span></li>
                                    <li><span id="region"> </span></li>
                                    <li><span id="city"> </span></li>
                                    <li><span id="address"> </span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="left-info">
                                <ul>
                                    <li>Отдел:</li>
                                    <li>Статус:</li>
                                    <li>Ответственный:</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><span id="department"> </span></li>
                                    <li><span id="hierarchy"> </span></li>
                                    <li><span id="master"> </span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="left-info">
                                <ul>
                                    <li>Департамент:</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><span id="divisions"></span></li>
                                </ul>
                            </div>
                        </li>
                        <li id="parntership_info">
                            <div class="left-info">
                                <ul>
                                    <li>Партнёр с:</li>
                                    <li>Сумма сделки:</li>
                                    <li>Менеджер:</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><span id="coming_date_"></span></li>
                                    <li><span id="partner_val"></span></li>
                                    <li><span id="responsible"></span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="left-info">
                                <ul>
                                    <li>Первое посещение:</li>
                                    <li>Покаяние:</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><span id="coming_date" class="date"></span></li>
                                    <li><span id="repentance_status"></span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div><!--End left-content -->
            </div>

            <div class="right-contentwrap">
                <div class="right-content">
                    <div class="a-sdelki">
                        <div class="top-s">
                            <h3>Сделки </h3>
                        </div>
                        <div style="display:block;padding:10px;">
                            <lable for="id_need_text" style="display:block;">Нужда</lable>
                            <textarea name="need_text" id="id_need_text" rows="4"
                                      style="width:100%;margin:10px 0;"></textarea>
                            <button id="send_need" style="display:block;">Сохранить нужду</button>
                        </div>
                        <div style="display:block;padding:10px;" id="create_deal_block">
                            <div style="display: inline-block; width: 49%;">
                                <lable for="id_deal_value" style="display:block;">Сумма</lable>
                                <input type="number" id="id_deal_value" required
                                       style="width:90%;margin:10px 0; padding: 5px 0;"></div>
                            <div style="display: inline-block; width: 49%;">
                                <lable for="id_deal_date" style="display:block;">Дата</lable>
                                <input type="text" id="id_deal_date" required style="width:100%;margin:10px 0;"></div>
                            <lable for="id_deal_description" style="display:block;">Примечание</lable>
                            <textarea name="deal_description" id="id_deal_description" rows="4"
                                      style="width:100%;margin:10px 0;" required></textarea>
                            <button id="send_new_deal" style="display:block;">Создать сделку</button>
                        </div>
                        <div class="tab-status">
                            <ul id="tabs1">
                                <li data-tab="1">
                                    <a href="#incomplete">Незавершённые (<span id="incomplete-count"></span>)</a>
                                </li>
                                <li data-tab="2">
                                    <a href="#overdue">Просроченные(<span id="overdue-count"></span>)</a>
                                </li>
                                <li data-tab="3">
                                    <a href="#completed">Завершённые(<span id="completed-count"></span>)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sdelki-content clearfix" data-tab-content="1">
                        </div>
                        <div class="sdelki-content clearfix" data-tab-content="2">
                        </div>
                        <div class="sdelki-content clearfix" data-tab-content="3">
                            <!--<div class="rows">
                                <div class="col">
                                    <p><span>Яглинцев Борис Елизарович</span></p>
                                </div>
                                <div class="col">
                                    <p>Последняя сделка:<span> 2016-04-06</span></p>
                                    <p>Сумма<span>500 ₴</span></p>

                                </div>
                            </div>
                            <div class="rows">
                                <div class="col">
                                    <p><span>Яглинцев Борис Елизарович</span></p>
                                </div>
                                <div class="col">
                                    <p>Последняя сделка:<span> 2016-04-06</span></p>
                                    <p>Сумма<span>500 ₴</span></p>
                                </div>
                            </div>
                            -->
                        </div>
                    </div><!--End a-sdelki -->

                    <div class="a-sammits">
                        <div class="top-s">
                            <h3>Саммиты</h3>
                        </div>
                        <div class="tab-status">
                            <ul id="tabs2">
                                <!--<li>
                                    <a href="#" >Четвёртое измерение</a>
                                </li>
                                <li>
                                    <a href="#" >Колледж «Гора Моисея»</a>
                                </li> -->
                            </ul>
                        </div>
                        <div class="summit_wrapper clearfix">

                        </div>
                        <!--<div class="sdelki-content">

                            <div class="rows">
                                <div class="col">
                                    <p>Колледж «Гора моисея», 2016 г.</p>
                                </div>
                                <div class="col">
                                    <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо- латин</p>
                                    <p>Сумма<span>500 ₴</span></p>
                                </div>
                            </div>
                            <div class="rows">
                                <div class="col">
                                    <p>Колледж «Гора моисея», 2015 г.</p>
                                </div>
                                <div class="col">
                                    <p>Его корни уходят в один фрагмент классической</p>
                                    <p>Сумма<span>500 ₴</span></p>
                                </div>
                            </div>


                        </div>-->
                    </div>    <!--End a-sammits -->
                </div><!--End right-content -->
            </div>
        </div>

    </div><!--End main-wrap -->
</div><!--End page-width -->
<div id="deletePopup" class="add-user-wrap"><!--Add -user -->
    <div class="splash-screen">
        <div class="top-text">
            <h3>Вы уверены, что хотите удалить пользователя?</h3>
            <span>&times;</span>
        </div>
        <div class="splash-buttons">
            <button id="no">Нет</button>
            <button id="yes">Да</button>
        </div>
    </div>
</div>

<div class="popap" id='popup_div'>
    <div class="pop_cont">
        <p id='popup_text'></p>
        <span onclick='hidePopup()' class="close">x</span>
    </div>
</div>


<script src='/static/libs/jquery-1.12.1.min.js'></script>
<script src='/static/libs/jquery.scrollbar.min.js'></script>
<script src='/static/libs/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script src='/static/js/lib.js'></script>
<script src='/static/js/main.js'></script>

<script src="/static/js/account.js"></script>
<!--<script src="/static/js/add_user.js"></script>-->
</body>
</html>