{% load static %}
{% load raven %}
<!DOCTYPE html>
<!--[if IE]>
<html class="ie" lang="ru">
<p>Ваш браузер устарел. <a href="https://www.google.ru/chrome/browser/desktop/index.html">Скачать</a></p>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="ru">
<meta http-equiv="Cache-control" content="no-cache">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CRM{% endblock %}</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href='{% static "img/favicon.png" %}' type="image/x-icon">

    {% block main_styles %}
        <link rel="stylesheet" href='{% static "libs/reset-css/reset.css" %}'>
        <link rel="stylesheet" href='{% static "libs/normalize-css/normalize.css" %}'>
        <link href="{% static "libs/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link rel="stylesheet" href='{% static "css/main.css" %}'>
    {% endblock %}

    {% block extra_styles %}{% endblock %}
</head>

<body{% block body_id %}{% endblock %}{% block datauser %} data-user="{{ request.user.id }}"{% endblock %}>

{% block layout %}
{% endblock %}
{% block preloader %}
    <div class="preloader">
            <div class="_preloader">
                <svg preserveaspectratio="" viewbox="-5 -5 65 65">
                    <circle class="cls-1" cx="26.1" cy="26.9" r="26.3"></circle>
                    <path class="cls-2" d="M25,0A24.92,24.92,0,0,1,42.68,7.32" transform="translate(1 2)">
                        <animatetransform attributename="transform" dur="1s" from="0 26 27" repeatcount="indefinite"
                                          to="360 26 27" type="rotate">
                        </animatetransform>
                    </path>
                </svg>
            </div>
        </div>
{% endblock %}
{% block main_scripts %}
    <script>
        var MAINURLS = {
            ticketsURL: '{% url 'summit:tickets' %}',
            staticImg: '{% static "img" %}'
        };
    </script>
    <script src="{% static "js/vendor.bundle.js" %}"></script>
{#    <script src="{% static "js/manifest.bundle.js" %}"></script>#}
    <script src="{% static "js/main.bundle.js" %}"></script>
{% endblock %}
{% block extra_scripts %}

{% endblock %}
{% block notifications_modal %}
<div id="create_special_pop" class="pop-up__table pop-up_special__table" style="display: none;">
    <div class="pop_cont">
        <div class="top-text">
            <h3>Уведомления</h3><span class="close_pop">×</span>
        </div>
        <div class="main-text">
            <div class="top-pag">
                <div class="table__count"></div>
                <div class="pagination special_users__pagination"></div>
            </div>
            <div id="table_special-users" class="table-wrap clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block template_tables %}
<script type="text/template" id="databaseUsers">
     <table id="table-1">
        <thead>
        <tr>
            <% for( var key in user_table) { %>
                <% if(user_table[key].active) { %>
                    <th data-order="<%=user_table[key].ordering_title%>"><%=user_table[key].title %></th>
                <% } %>
            <% } %>
        </tr>
        </thead>
        <tbody>
            <% for( var index in results) { %>
            <tr>
                <% for( var key in user_table) { %>
                    <% if(user_table[key].active) { %>
                        <% if (key == 'fullname') { %>
                            <% if (results[index][key] != null) { %>
                                <td class="edit"><a href="/account/<%= results[index].id %>"
                                                    title="<%= results[index][key] %>"
                                                    data-link="<%= results[index].link %>"
                                                    data-id="<%=results[index].id %>"
                                                    <% if(results[index].ankets_id) { %>
                                                        data-ankets="<%= results[index].ankets_id %>"
                                                    <% } %>><%= results[index][key] %></a>
                                    </td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% } else if(key == 'get_title') { %>
                            <% if (results[index][key] != null) { %>
                                <td class="edit"><a href="<%= results[index].link %>" data-link="<%= results[index].link %>" data-id="<%=results[index].id %>"><%= results[index][key] %></a><span class="quick-edit"></span></td>
                            <% } else { %>
                                <td class="edit"></td>
                            <% } %>
                        <% } else if (key == 'master' || key == 'pastor' || key == 'leader') { %>
                            <% if (results[index][key] != null) { %>
                                <td><%= results[index][key].fullname %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else if (key == 'hierarchy' || key == 'church' ) { %>
                            <% if (results[index][key] != null ) { %>
                                <td><%= results[index][key].title %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else if (key == 'get_church' ) { %>
                            <% if (results[index][key] != null ) { %>
                                <td><%= results[index][key].title %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else if (key == 'department') { %>
                                <% if (results[index][key] != null ) { %>
                                <td><%= results[index][key].title %></td>
                                <% } else { %>
                                <td></td>
                                <% } %>
                            <% }else if (key == 'departments' || key == 'user.departments' || key == 'divisions' || key == 'user.divisions') { %>
                            <% if ( Array.isArray(results[index][key]) && results[index][key].length != 0) { %>
                                <% if (results[index][key].length == 1) { %>
                                    <td><%= results[index][key][0].title %></td>
                                <% }  else { %>
                                    <td><%= results[index][key].reduce(function(sum, item, i) {
                                            return i < results[index][key].length - 1 ? sum + item.title + ', ' : sum + item.title
                                        }, "") %></td>
                                <% } %>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else { %>
                            <td><% if (results[index][key] === true ) { %>
                                <p class="text__center">✔</p>
                                <% } else if (results[index][key] === false){ %>

                                <% } else { %>
                                <%= results[index][key] %>
                                <% } %>
                            </td>
                        <% } %>
                    <% } %>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>
    <table id="header-fixed"></table>
</script>
{% endblock %}
<script type="text/template" id="sortForm">
    <h3><%=user[0]%></h3>
        <% for( var key in user[1]) { %>
        <li <% if(user[1][key].editable) { %>
            class="draggable"
            <% } else { %>
                disable
            <% } %> >
            <input type="checkbox" id="<%=key%>" data-key="<%=key%>" data-editable="<%= user[1][key].editable %>" <% if(user[1][key].active) { %>
            checked
            <% }%> value="<%=user[1][key].id %>">
            <label for="<%=key%>"><%=user[1][key].title%></label>
        </li>
         <% } %>
</script>
<script type="text/template" id="mainPopup">
    <div class="splash-screen">
        <div class="top-text">
            <h3></h3>
        </div>
    </div>
    <div class="columns-wrap">
    </div>
    <div class="splash-buttons">
    </div>
</script>
<script src="https://cdn.ravenjs.com/3.8.1/raven.min.js"></script>
<script>Raven.config('{% sentry_public_dsn %}').install()</script>
{% block ws %}
    <script src="{% static "js/websocket.bundle.js" %}"></script>
{% endblock %}
<div class="bg"></div>

</body>
</html>
