{% load static %}
{% load raven %}
<!DOCTYPE html>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css"/>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>{% block title %}CRM{% endblock %}</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href='{% static "img/favicon.png" %}' type="image/x-icon">

    {% block main_styles %}
        <link rel="stylesheet" href='{% static "libs/reset-css/reset.css" %}'>
        <link rel="stylesheet" href='{% static "libs/normalize-css/normalize.css" %}'>
        <link rel="stylesheet" href='{% static "libs/jquery.scrollbar/jquery.scrollbar.css" %}'>
        <link rel="stylesheet" href='{% static "libs/jquery-ui/themes/base/jquery-ui.min.css" %}'>
        <link rel="stylesheet" href='{% static "css/fonts.css" %}'>
        <link rel="stylesheet" href='{% static "libs/select2/dist/css/select2.min.css" %}'>
        <link rel="stylesheet" href='{% static "css/media.css" %}'>
        <link rel="stylesheet" href='{% static "css/main.css" %}'>
    {% endblock %}

    {% block extra_styles %}{% endblock %}
</head>

<body{% block body_id %}{% endblock %}>

{% block layout %}
{% endblock %}

{% block main_scripts %}
    <link rel="stylesheet" href='{% static "libs/air-datepicker/dist/css/datepicker.min.css" %}'>
    <link href="{% static "libs/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <script src='{% static "libs/jquery/dist/jquery.min.js" %}'></script>
    <script src='{% static "libs/jquery.scrollbar/jquery.scrollbar.min.js" %}'></script>
    <script src='{% static "libs/jquery-ui/jquery-ui.min.js" %}'></script>
    <script src='{% static "libs/select2/dist/js/select2.min.js" %}'></script>
    <script src='{% static "libs/lodash/dist/lodash.min.js" %}'></script>
    <script src='{% static "libs/es6-promise/es6-promise.min.js" %}'></script>
    <script src='{% static "libs/fetch/fetch.js" %}'></script>
    <script src='{% static "js/lib.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>
{% endblock %}
{% block extra_scripts %}
{% endblock %}
<script type="text/template" id="showDeals">
    <% results.forEach(function(item) { %>
    <div class="rows-wrap" id="<%=item.id%>">
        <% if(!item.done && can_close_deal) { %>
            <% if((parseInt(item.total_sum) - parseInt(item.value)) >= 0 ){ %>
                <button class="complete"
                        data-id="<%= item.id%>"
                        data-name="<%=item.full_name%>"
                        data-date="<%=item.date_created%>"
                        data-responsible="<%=item.responsible_name%>"
                        data-total_sum="<%=item.total_sum %>"
                        data-value="<%=item.value%>"
                >Завершить</button>
            <% } %>
        <% } %>
        <% if(!item.done && check_payment_permissions) { %>
            <% if((parseInt(item.total_sum) - parseInt(item.value)) < 0 ){ %>
                <button class="pay"
                        data-id="<%=item.id%>"
                        data-name="<%=item.full_name%>"
                        data-date="<%=item.date_created%>"
                        data-responsible="<%=item.responsible_name%>"
                        data-total_sum="<%=item.total_sum %>"
                        data-value="<%=item.value%>"
                >Платеж</button>
            <% } %>
        <% } %>
        <div class="rows">
            <div class="col">
                <p>
                    <span><%=item.full_name%></span>
                </p>
            </div>
            <div class="col">
                <p>Сделка за: <span><%= item.date_created %></span></p>
                <p>Менеджер: <span><%= item.responsible_name %></span></p>
                <p>Сумма: <a href="#" class="show_payments" data-id="<%=item.id%>"><span><%= item.total_sum %>/<%= item.value %></span></a></p>
            </div>
        </div>
    </div>
    <% }) %>
</script>
<script type="text/template" id="databaseUsers">
     <table>
        <thead>
        <tr>
            <% for( var key in user_table) { %>
                <% if(user_table[key].active) { %>
                    <th data-order="<%=user_table[key].ordering_title%>"><%=user_table[key].title %></th>
                <% } %>
            <% } %>
        </tr>
        </thead>
        <tbody>
            <% for( var index in results) { %>
            <tr>
                <% for( var key in user_table) { %>
                    <% if(user_table[key].active) { %>
                        <% if (key == 'fullname') { %>
                            <% if (results[index][key] != null) { %>
                                <td class="edit"><a href="<%= results[index].link %>"
                                                    data-link="<%= results[index].link %>"
                                                    data-id="<%=results[index].id %>"
                                                    <% if(results[index].ankets_id) { %>
                                                        data-ankets="<%= results[index].ankets_id %>"
                                                    <% } %>><%= results[index][key] %></a><span class="quick-edit"></span></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% } else if(key == 'get_title') { %>
                            <% if (results[index][key] != null) { %>
                                <td class="edit"><a href="<%= results[index].link %>" data-link="<%= results[index].link %>" data-id="<%=results[index].id %>"><%= results[index][key] %></a><span class="quick-edit"></span></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% } else if (key == 'master' || key == 'pastor' || key == 'leader') { %>
                            <% if (results[index][key] != null) { %>
                                <td><%= results[index][key].fullname %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else if (key == 'department' || key == 'hierarchy' || key == 'church' ) { %>
                            <% if (results[index][key] != null ) { %>
                                <td><%= results[index][key].title %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else if (key == 'divisions') { %>
                            <% if ( Array.isArray(results[index][key]) && results[index][key].length != 0) { %>
                                <% if (results[index][key].length == 1) { %>
                                    <td><%= results[index][key][0].title %></td>
                                <% }  else { %>
                                    <td><%= results[index][key].reduce(function(sum, item) {
                                            return sum.title + ', ' + item.title
                                        }) %></td>
                                <% } %>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else { %>
                            <td><% if (results[index][key] === true ) { %>
                                <p class="text__center">✔</p>
                                <% } else if (results[index][key] === false){ %>

                                <% } else { %>
                                <%= results[index][key] %>
                                <% } %>
                            </td>
                        <% } %>
                    <% } %>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>
</script>
<script type="text/template" id="sortForm">
    <h3><%=user[0]%></h3>
        <% for( var key in user[1]) { %>
        <li <% if(user[1][key].editable) { %>
            class="draggable"
            <% } else { %>
                disable
            <% } %> >
            <input type="checkbox" id="<%=key%>" <% if(user[1][key].active) { %>
            checked
            <% }%> value="<%=user[1][key].id %>">
            <label for="<%=key%>"><%=user[1][key].title%></label>
        </li>
         <% } %>
</script>
<script type="text/template" id="mainPopup">
    <div class="splash-screen">
        <div class="top-text">
            <h3></h3>
        </div>
    </div>
    <div class="columns-wrap">
    </div>
    <div class="splash-buttons">
    </div>
</script>

<script>Raven.config('{% sentry_public_dsn %}').install()</script>
{% block ws %}
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>

    <script>
        socket = new WebSocket("ws://" + window.location.host + "/ws/user/{{ request.user.id }}/");
        socket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            if (true || +data.user_id != {{ request.user.id }}) {
                var message_text = data.editor_name + ' создал платеж на ' + data.sum;
                alertify.logPosition("bottom right");
                alertify.delay(30000).maxLogItems(10).closeLogOnClick(true).log(message_text);
            }
        };
        socket.onopen = function () {
        };
    </script>
{% endblock %}
</body>
</html>
