{% load static %}
<!DOCTYPE html>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css"/>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">

    <title>{% block title %}CRM{% endblock %}</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href='{% static "img/favicon.png" %}' type="image/x-icon">

    {% block main_styles %}
        <link rel="stylesheet" href='{% static "libs/reset-css/reset.css" %}'>
        <link rel="stylesheet" href='{% static "libs/normalize-css/normalize.css" %}'>
        <link rel="stylesheet" href='{% static "libs/jquery.scrollbar/jquery.scrollbar.css" %}'>
        <link rel="stylesheet" href='{% static "libs/jquery-ui/themes/base/jquery-ui.min.css" %}'>
        <link rel="stylesheet" href='{% static "css/fonts.css" %}'>
        <link rel="stylesheet" href='{% static "libs/select2/dist/css/select2.min.css" %}'>
        <link rel="stylesheet" href='{% static "css/media.css" %}'>
        <link rel="stylesheet" href='{% static "css/main.css" %}'>
    {% endblock %}

    {% block extra_styles %}{% endblock %}
</head>

<body{% block body_id %}{% endblock %}>

{% block layout %}
{% endblock %}

{% block main_scripts %}
    <link rel="stylesheet" href='{% static "libs/air-datepicker/dist/css/datepicker.min.css" %}'>
    <script src='{% static "libs/jquery/dist/jquery.min.js" %}'></script>
    <script src='{% static "libs/jquery.scrollbar/jquery.scrollbar.min.js" %}'></script>
    <script src='{% static "libs/jquery-ui/jquery-ui.min.js" %}'></script>
    <script src='{% static "libs/select2/dist/js/select2.min.js" %}'></script>
    <script src='{% static "libs/lodash/dist/lodash.min.js" %}'></script>
    <script src='{% static "js/lib.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
{% block popup %}
{% endblock %}
<script type="text/template" id="databaseUsers">
     <table>
        <thead>
        <tr>
            <% for( var key in user_table) { %>
                <% if(user_table[key].active) { %>
                    <th data-order="<%=user_table[key].ordering_title%>"><%=user_table[key].title %></th>
                <% } %>
            <% } %>
        </tr>
        </thead>
        <tbody>
            <% for( var index in results) { %>
            <tr>
                <% for( var key in user_table) { %>

                    <% if(user_table[key].active) { %>
                        <% if (key == 'fullname' ) { %>
                            <% if (results[index][key] != null) { %>
                                <td><a href="#" class="quick" data-link="<%=results[index].link %>" data-id="<%=results[index].id %>"><%= results[index][key] %></a></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% } else if (key == 'master' ) { %>
                            <% if (results[index][key] != null) { %>
                                <td><%= results[index][key].fullname %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else if (key == 'department' || key == 'hierarchy') { %>
                            <% if (results[index][key] != null ) { %>
                                <td><%= results[index][key].title %></td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else if (key == 'divisions') { %>
                            <% if ( Array.isArray(results[index][key]) && results[index][key].length != 0) { %>
                                <% if (results[index][key].length == 1) { %>
                                    <td><%= results[index][key][0].title %></td>
                                <% }  else { %>
                                    <td><%= results[index][key].reduce(function(sum, item) {
                                            return sum.title + ', ' + item.title
                                        }) %></td>
                                <% } %>
                            <% } else { %>
                                <td></td>
                            <% } %>
                        <% }  else { %>
                            <td><%=results[index][key]%></td>
                        <% } %>
                    <% } %>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>
</script>
<script type="text/template" id="sortForm">
    <h3><%=user[0]%></h3>
        <% for( var key in user[1]) { %>
        <li <% if(user[1][key].editable) {%>
            class="draggable"
            <% } else { %>
                disable
            <% } %> >
            <input type="checkbox" id="<%=key%>" <% if(user[1][key].active) { %>
            checked
            <% }%> value="<%=user[1][key].id %>">
            <label for="<%=key%>"><%=user[1][key].title%></label>
        </li>
         <% } %>
</script>
<script type="text/template" id="mainPopup">
    <div class="splash-screen">
        <div class="top-text">
            <h3></h3>
        </div>
    </div>
    <div class="columns-wrap">

    </div>
    <div class="splash-buttons">

    </div>
</script>
<script type="text/template" id="quickEditCart">
    <input type="text" value="<%= fields.fullname.value %>">
</script>
</body>
</html>
