<!DOCTYPE html>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css"/>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="ru"> <!--<![endif]-->

<head>

    <meta charset="UTF-8">

    <title>CRM</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/libs/jquery.scrollbar.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet"/>
    <link href="/static/css/select2.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/cropper.min.css">
</head>
<body>

<div class="page-width">

    <div id="sidebar"><!--Sidebar -->
        <div class="scrollbar-macosx">

            <div class="logo">
                <div><span>V</span><span>O</span></div>
                <div><span>C</span><span>R</span><span>M</span></div>
            </div>

            <ul id="nav-sidebar">
                <li><a data-title="База данных" href="/">База данных</a></li>
                <li><a data-title="Все отчеты" href="/reports/">Все отчеты</a></li>
                <li><a data-title="События" href="/events/">События</a></li>
                <li><a data-title="Партнёрство" href="/deals/">Партнёрство</a></li>
                <li><a data-title="Саммиты" href="/summits/">Саммиты</a></li>
                <li id="move-sidebar"><a data-title="Развернуть" href="#">Свернуть</a></li>
            </ul>
        </div>
    </div>

    <div class="main-wrap anketa" id="account_view">
        <div class="header">

            <ul class="top"><!-- Top -->
                <li>
                    <h1>Редактирование профиля</h1>
                </li>
                <li class="userImgWrap">
                    <div class="userimg"><!-- <img src="/static/img/layer-1.jpg" alt="userphoto"> -->
                    </div>
                </li>
                <li class="sms"><span>0</span><span></span></li>
                <li style="visibility:hidden">
                    <div class="search">
                        <input type="text" placeholder="Поиск и фильтр" name="fullsearch">
                    </div>
                </li>
            </ul><!--End Top -->

            <div class="top-buttons-wrap">
                <ul class="top-buttons"><!-- top-buttons -->
                    <li>
                        <button class="small" id="revert_edit">Отменить</button>
                    </li>
                    <li>
                        <button id="save">Сохранить</button>
                    </li>

                </ul><!--top-buttons -->

            </div>

            <div class="user-hover photo-hover">
                <div class="hover-wrapper">
                    <div class="top-box" id="edit_profile">
                        <span></span>
                        <p>Мой профиль</p>
                    </div>
                    <div class="bottom-box"><a href="/api/logout/">
                        <span></span>
                        <p>Выйти</p></a>
                    </div>
                </div>
            </div>


            <div class="user-hover massage-hover">
                <div class="hover-wrapper">
                    <div class="top-box">
                        <p>У Вас <span>48</span> незавершённых сделок</p>
                    </div>
                    <div class="bottom-box">
                        <p>Сегодня день рождения у:</p>
                        <ul>
                            <li>Кичеев Данила Никонович</li>
                            <li>Никоненко Сергей Эдуардович</li>
                            <li>Ломтева Виктория Ипполитовна</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div><!--End header -->
        <div class="content">
            <div class="editprofile edit">
                <div class="columns-wrapper">
                    <div class="col-1">
                        <div id="edit-photo" class="anketa-photo">
                            <img src="/static/img/no-usr.jpg" alt="photo">
                        </div>
                        <div class="butt-wrap">
                            <input type="file" name="f">
                            <button id="file_upload">Загрузить</button>
                            <p>Размер файла не должен превышать <br/>10 МБ.</p>
                            <p>Типы файлов, которые поддерживаются:<br/> jpg, jpeg, png.</p>
                        </div>
                    </div><!--End col-1-->

                    <div class="col-2">
                        <div class="col-table">
                            <div class="left-info">
                                <ul>
                                    <li>Фамилия*</li>
                                    <li>Имя*</li>
                                    <li>Отчество</li>
                                    <li>Дата рождения*</li>
                                    <li>Телефон*</li>
                                    <li>Доп.телефон</li>
                                    <li>E-mail*</li>
                                    <li>Skype</li>
                                    <li>Страна*</li>
                                    <li>Область*</li>
                                    <li>Город*</li>
                                    <li>Район</li>
                                    <li>Адрес</li>
                                    <li>Facebook</li>
                                    <li>Vkontakte</li>
                                    <li>Одноклассники</li>

                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><input type="text" id="last_name"></li>
                                    <li><input type="text" id="first_name"></li>
                                    <li><input type="text" id="middle_name"></li>
                                    <li><input type="text" id="datepicker_born_date"></li>
                                    <li><input placeholder="+380633333333"
                                               onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43"
                                               type="text" id="phone_number"></li>
                                    <li><input type="text"></li>
                                    <li><input type="text" id="email"></li>
                                    <li><input type="text" id="skype"></li>
                                    <li>
                                        <!--
                                        <select name="" id="">
                                            <option value="">Украина</option>
                                        </select>
                                             -->
                                        <select id="country_drop" style="width:205px"></select>
                                    </li>
                                    <li><select id="region_drop" disabled style="width:205px"></select></li>
                                    <li><select id="town_drop" disabled style="width:205px"></select></li>


                                    <li><input type="text" id="district"></li>

                                    <li><input type="text" id="address"></li>
                                    <li><input type="text" id="facebook"></li>
                                    <li><input type="text" id="vkontakte"></li>
                                    <li><input type="text" id="odnoklassniki"></li>
                                    <!--<li><input type="text"></li>-->
                                </ul>
                            </div>
                        </div>
                        </ul>
                    </div><!--End col-2-->
                    <div class="col-3">
                        <div class="col-table">
                            <div class="left-info">
                                <ul>
                                    <li>Отдел*</li>
                                    <!--<li>Пототдел</li>-->
                                    <li>Статус*</li>
                                    <li>Статус ответственного*</li>
                                    <li>Ответственный*</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><select id="department_drop" style="width:205px"></select></li>
                                    <!--<li><select name="" id="">
                                        <option value="">Бортничи</option>
                                    </select></li>


                                        <select  id="statuses_drop_parent" style="width:205px"></select>

                                    -->
                                    <li><select id="statuses_drop" style="width:205px"></select></li>

                                    <li><select id="statuses_drop_parent" style="width:205px"></select></li>
                                    <li><select id="leader_drop" style="width:205px"></select></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-table ">
                            <div class="left-info">
                                <ul>
                                    <li>Департамент</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><select id="division_drop" style="width:205px" multiple=""></select></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-table manager_view">
                            <div id="create_partner">
                                <div class="left-info">
                                    <ul>
                                        <li>Партнёр</li>
                                    </ul>
                                </div>
                                <div class="right-info">
                                    <ul>
                                        <li><input type="checkbox" id="create_partner_info">
                                            <label for="create_partner_info"></label>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div id="partner_wrap">
                                <div class="left-info">
                                    <ul>
                                        <li>Партнёр</li>
                                        <li>Партнёр с</li>
                                        <li>Сумма сделки</li>
                                        <li>Менеджер</li>
                                    </ul>
                                </div>
                                <div class="right-info">
                                    <ul>
                                        <li><input type="checkbox" id="partner">
                                            <label for="partner"></label>
                                        </li>
                                        <li><input type="text" id="partner_date"></li>
                                        <li><input type="text" id="val_partnerships" maxlength="6"
                                                   onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                        </li>
                                        <li id="partner_name"><select id="partner_drop" style="width:205px"></select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-table">
                            <div class="left-info">
                                <ul>
                                    <li>Первое посещение*</li>
                                    <li>Дата покаяния</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><input name="first_visit" type="text" readonly="readonly" id="firsVisit"></li>
                                    <li><input name="repentance_date" type="text" readonly="readonly"
                                               id="repentanceDate"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-table">
                            <p style="text-align:center">Изменить пользователю пароль</p>
                            <div class="left-info">

                                <ul>
                                    <li>Старый пароль</li>
                                    <li>Новый пароль</li>
                                    <li>Подтвердите пароль</li>
                                </ul>
                            </div>
                            <div class="right-info">
                                <ul>
                                    <li><input type="text" class="pass" id="old_password"></li>
                                    <li><input type="text" class="pass" id="password1"></li>
                                    <li><input type="text" class="pass" id="password2"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-buttons-wrap">
                            <ul class="top-buttons"><!-- top-buttons -->
                                <li>
                                    <button class="small" id="revert_edit_password">Отменить</button>
                                </li>
                                <li>
                                    <button id="change_password">Сохранить</button>
                                </li>

                            </ul><!--top-buttons -->
                        </div>

                    </div><!--End col-3-->
                    <div class="splash-bauttons">
                    </div>
                </div><!--End colums-wrap-->
            </div>
        </div>

    </div><!--End main-wrap -->
</div><!--End page-width -->


<div class="popap" id='popup_div'>
    <div class="pop_cont">
        <p id='popup_text'></p>
        <span onclick='hidePopup()' class="close">x</span>
    </div>
</div>

<div id="impPopup">
    <div class="splash-screen">
        <div class="top-text">
            <h3>Редактирование картинки</h3>
            <span>×</span>
        </div>
        <div class="crArea">
            <img src="" alt="">
        </div>
        <div class="splash-buttons">
            <button class="cr">Изменить</button>
        </div>
    </div>
</div>


<script src='/static/libs/jquery-1.12.1.min.js'></script>
<script src='/static/libs/jquery.scrollbar.min.js'></script>
<script src='/static/libs/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script src='/static/js/lib.js'></script>
<script src='/static/js/main.js'></script>

<script src="/static/js/select2.js"></script>
<script src="/static/js/edit.js"></script>
<script src="/static/js/cropper.min.js"></script>
</body>
</html>