{% extends "base.html" %}
{% load staticfiles %}

{%block title%}
CRM
{%endblock%}


{%block body%}
    <div class="page-width vocrm-login ">

        <div  class="account">
            <div class="splash-screen" id="login_popup">
                <div class="top-text">
                    <h3>Восстановления пароля</h3>
                </div>
                <div class="entry-input2">
                    <input type="password" placeholder="Новый пароль">
                </div>
                    <div class="entry-input2">
                    <input type="password" placeholder="Повторите пароль">
                </div>
                <div class="splash-bauttons">
                    <button id="create" autocomplete="on">Изменить</button>
                </div>
            </div>
        </div><!--End Pop-up-splash-->
    </div>

    <div class="popap" id='popup_div'>
                <div class="pop_cont">
                  <p id='popup_text'></p>
                  <span onclick='hidePopup()' class="close">x</span>
                </div>
    </div>
 </div>
{%endblock%}

{%block scripts%}
    <script src="{% static 'js/editpass.js' %}"></script>
{%endblock%}






