{% extends "layout.html" %}
{% load i18n %}

{% block main_styles %}
    {{ block.super }}
{% endblock %}

{% block main.content %}
    <div class="jumbotron">
        <h1>{% block error_heading %}{% trans 'Sorry!' %}{% endblock %}</h1>
            {% block error_message %}{% endblock %}
        <p class="btn_group">
            <a class="btn" onclick="javascript:history.go(-1);">{% trans 'Return to previous page' %}</a>
            <a class="btn" href="{% url 'index' %}">{% trans "Go to homepage" %}</a>
        </p>
    </div>
{% endblock %}
