{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block layout %}
    <div class="page-width">
        {% block sidebar %}
            {% include "partials/layout/sidebar.html" %}
        {% endblock sidebar %}
        <div id="container">
            {% block main %}
                <div id="header">
                <div{% block main.attr %} {% endblock %}>
                    {% include "partials/layout/staff_line.html" %}
                    {% block header %}
                        {% include "partials/layout/header.html" %}
                        <div class="header">
                            {% block header.top %}
                                <ul class="top">
                                    {% block header.top.left %}
                                        <li>
                                            {% block header.top.h1 %}{% endblock %}
                                            {% block header.top.select %}
                                            {% endblock %}
                                        </li>
                                    {% endblock %}
                                    {% block header.top.right %}
                                        {% block header.user.button %}
                                            <li class="userImgWrap">
                                                <div class="userimg">
                                                    {% if request.user.image %}
                                                        <img src="{{ request.user.image.url }}" alt="userphoto"/>
                                                    {% else %}
                                                        <img src="{% static "img/no-usr.jpg" %}" alt="userphoto"/>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endblock %}
                                        {% block header.notification.button %}
                                            <li id="sms_notification" class="sms" data-count="{{ notifications.count }}">
                                                {% if notifications.count %}
                                                    <span>{{ notifications.count }}</span>
                                                {% else %}
                                                    <span style="display:none;"></span>
                                                {% endif %}
                                                <span></span>
                                            </li>
                                        {% endblock %}
                                        {% block header.search %}

                                        {% endblock %}
                                    {% endblock %}
                                </ul><!--End Top -->
                            {% endblock %}

                            {% block header.buttons %}

                            {% endblock %}

                            {% block header_user_drop %}
                                <div class="user-hover photo-hover">
                                    <div class="hover-wrapper">
                                        <div class="top-box">
                                            <a href="{{ request.user.get_absolute_url }}">
                                                <span></span>
                                                <p>Мой профиль</p>
                                            </a>
                                        </div>
                                        {% if user.can_see_any_summit_ticket %}
                                            <div class="top-box"><a href="{% url "summit:tickets" %}">
                                                <span></span>
                                                <p>{% trans "Summit tickets" %}</p></a>
                                            </div>
                                        {% endif %}
                                        <div class="bottom-box"><a id="logout_button">
                                            <span></span>
                                            <p>Выйти</p></a>
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}

                            {% block header_notification_drop %}
                                <div class="user-hover massage-hover">
                                    <div class="hover-wrapper">
                                        <div class="top-box">
                                            <p>У Вас <span></span> незавершённых сделок</p>
                                        </div>
                                        <div class="bottom-box">
                                            {#                                            {% if notifications.birthdays.exists %}#}
                                            {#                                                <p>Сегодня день рождения у:</p>#}
                                            {#                                                <ul id="birthday_notifications">#}
                                            {#                                                    {% for birthday in notifications.birthdays %}#}
                                            {#                                                        <li>#}
                                            {#                                                            <a href="{% url "account:detail" birthday.uid %}">{{ birthday.fullname }}</a>#}
                                            {#                                                        </li>#}
                                            {#                                                    {% endfor %}#}
                                            {#                                                </ul>#}
                                            {#                                            {% endif %}#}
                                            {% if notifications.summit_tickets.exists %}
                                                <p><a href="{% url "summit:tickets" %}">Сгенерированы новые билеты:</a>
                                                </p>
                                                <ul id="ticket_notifications">
                                                    {% for ticket in notifications.summit_tickets %}
                                                        <li>
                                                            <a href="{{ ticket.get_absolute_url }}">{{ ticket.title }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if notifications.profiles %}
                                                <p>Возникла ошибка при отправке кода на почту:
                                                </p>
                                                <ul id="profile_notifications">
                                                    {% for profile, date in notifications.profiles %}
                                                        <li>
                                                            <a href="{{ profile.get_absolute_url }}">{{ profile.fullname }} ({{ date }})</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            {% if notifications.count == 0 %}
                                                <p id="without_notifications">На сегодня нет уведомлений</p>
                                            {% endif %}
                                        </div>
                                        {% if notifications.exports_count %}
                                            <div id="export_notifications"
                                                 class="notification_row notification_row__export"
                                                 data-type="export">
                                                <p>Доступный экспорт: <span>{{ notifications.exports_count }}</span>
                                                </p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endblock %}

                        </div>
                    {% endblock %}

                </div>
            {% endblock main %}
            </div>
            <div id="main">
                {% block main.content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div id="right-sidebar">
        {% block table_sort_modal %}{% endblock %}
    </div>

    {% block add_user_modal %}{% endblock %}

    {% block choose_user_modal %}{% endblock %}

    {% block create_user %}{% endblock %}

    {% block popup %}
        {% block popup.filter %}
            <div class="popap popap_slide" id='filterPopup'>
                <div class="pop_cont">
                    <div class='popup_text'>
                        <h2>Фильтр</h2>
                    </div>
                    <div class="popup_body">
                        <div class="container">
                            {% block popup.filter.content %}{% endblock %}
                        </div>
                    </div>
                    <div class="container">
                        <button class="clear-filter"><i class="fa fa-refresh" aria-hidden="true"></i>Очистить</button>
                        <button class="close-popup">Отменить</button>
                        <button id="applyFilter" class="apply-filter">Применить</button>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block popup.other %}{% endblock %}
    {% endblock %}

{% endblock %}
