{% extends "layout.html" %}
{% load static %}

{% block main_styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "libs/cropper/dist/cropper.min.css" %}">
{% endblock %}

{% block header.search %}
    <li class="search__container">
        <div class="search">
            {% block header.search.field %}
                <input type="text" placeholder="Поиск" name="fullsearch">
            {% endblock %}
            {% block header.search.filter %}
            {% endblock %}
        </div>
    </li>
{% endblock %}
{% block header.buttons %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>
                    <button id="add">Добавить пользователя</button>
                </li>
            {% endblock %}

            {% block header.buttons.export %}
                <li>
                    <button class="exp">Экспортировать</button>
                </li>
            {% endblock %}
            {% block header.buttons.extra %}
            {% endblock %}
            {% block header.buttons.change_table %}
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}
{% block main.content %}
    {% block pagination_top %}
        <div class="top-pag">
            <div class="table__count"></div>
            <div class="pagination users__pagination"><!--pagination -->
            </div><!--End pagination -->
        </div>
    {% endblock %}

    {% block table %}
        <div class="table-wrap  clearfix" id="database_users"><!--Table -->
            <div class="table scrollbar-inner" id="baseUsers"></div>
            <div class="query-none">
                <p></p>
            </div>
        </div><!--End Table -->
        <div class="preloader">
            <div class="gif"></div>
        </div>
    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination users__pagination"></div>
    {% endblock %}
{% endblock %}

{% block table_sort_modal %}
    <div class="table-sorting">
        <div class="form-wrap scrollbar-macosx">
            <div class="top-text">
                <h2>Вы можете добавить столбцы и изменить их порядок</h2>
            </div>
            <div class="input-wrap">
                <ul id="sort-form"></ul>
            </div>
            <div class="dropbox-wrap"></div>
            <div class="butt-wrap">
                <button id="sort-off">Отменить</button>
                <button id="sort_save">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_user_modal %}
    <div class="add-user-wrap popup" id="addUser"><!--Add -user -->
        <div class="splash-screen">
            <div class="top-text">
                <h3>Добавить участника</h3>
                <span class="close">&times;</span>
            </div>
            <div class="splash-buttons">
                {% block add_user_modal.buttons.choose %}
                    <button id="choose">Выбрать из базы</button>
                {% endblock %}
                {% block add_user_modal.buttons.create %}
                    <button id="add_new">Создать нового</button>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block choose_user_modal %}
    <div class="choose-user-wrap popup" id="chooseUserINBases"><!--Choose -user -->
        <div class="splash-screen">
            <div class="top-text">
                <h3><span>←</span> Выбрать участника из базы</h3>
                <span class="close">&times;</span>
            </div>
            <div class="search">
                {% block choose_user_modal.search_field %}
                    <input type="text" placeholder="Поиск" name="fullsearch" id="searchUserFromDatabase">
                {% endblock %}
            </div>
            <div id="searchedUsers" class="scrollwrap scrollbar-macosx"></div>
        </div>
    </div><!--End Choose -user -->
{% endblock %}
