{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

		<div class="wrapper">
		<!--begin main-->
			<div class="main">
			<!--begin content-->
					<section class="container">
					{% block sidebar %}
						{% include 'include/sidebar.html' %}
					{% endblock %}
					<div class="reports_container">
						<h3 class="topic_cont">Сделки</h3>
						<div class="top_container_head">
							<div class="top_block_head_left">
								<ul>
									<li>
										<a href="" target = "partner_list" class="active">Cписок Партнеров</a>
									</li>
									<li>
										<a href=""  target = "partner_deals">Сделки </a>
									</li>
								<!--	<li>
										<a href="settings_meetings">Встречи</a>
									</li>
									-->
								</ul>
							</div>
						</div>


						<div class="popap" id='popup_div'>
							<div class="pop_cont">
								<p id='popup_text'></p>
								<span onclick='hidePopup()' class="close">x</span>
							</div>
						</div>

						<div id="dropbox_wrap">
                        </div>

						<div id="partner_wrap">

							<div id="partner_list"></div>
							<div id="partner_deals"></div>

						</div><!--content_block-->
					</div>
				</section>
			<!--end content-->
			</div>
		<!--end main-->
		</div>
{% endblock %}
{% block script %}
		<script src="{% static 'js/partners.js' %}"></script>
{% endblock %}
