<!DOCTYPE html>
<!--[if IE]>
<html class="ie" lang="ru">
<p>Ваш браузер устарел. <a href="https://www.google.ru/chrome/browser/desktop/index.html">Скачать</a></p>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Политика конфиденциальности</title>
    <style>
        body {
            font-family: Verdana, Arial, sans-serif;
            line-height: 1.5
        }

        .containet {
            max-width: 970px;
            margin: auto;
        }

        ol {
            counter-reset: item;
            margin-bottom: 12px;
        }

        li {
            display: block
        }

        li:before {
            content: counters(item, ".") " ";
            counter-increment: item
        }
    </style>
</head>
<body>
<div class="containet">
    <h1>Политика конфиденциальности</h1>
    <p>Политика конфиденциальности персональных данных (далее — Политика) действует в отношении всей информации, которую
        Администрация сервиса может получить о Пользователе во время использования им Сервиса, предоставляемого
        Администрацией сервиса, а также в ходе исполнения Администрацией сервиса любых соглашений и договоров с
        Пользователем.</p>

    <ol>
        <li>ОБЩИЕ ПОЛОЖЕНИЯ
            <ol>
                <li>Администрация сервиса обрабатывает персональные данные на законной и справедливой основе для
                    выполнения возложенных на Администрацию сервиса законодательством функций, полномочий и
                    обязанностей, осуществления прав и законных интересов Администрации сервиса и Пользователей.
                </li>
                <li>Использование Сервиса, а также его отдельных функций означает безоговорочное согласие Пользователя с
                    настоящей Политикой и указанными в ней условиями обработки его персональных данных; в случае
                    несогласия с этими условиями Пользователь должен воздержаться от использования Сервиса.
                </li>

            </ol>
        </li>
        <li>
            ОБРАБОТКА И КОНФИДЕНЦИАЛЬНОСТЬ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ
            <ol>
                <li>Настоящая Политика устанавливает обязательства Администрации сервиса по неразглашению и обеспечению
                    режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет при
                    использовании Сервиса.
                </li>
                <li>Категории персональных данных, которые Администрация сервиса может собирать с Пользователей для
                    предоставления доступа к функциям Сервиса: имя, адрес электронной почты, телефон.
                </li>
                <li>Администрация сервиса не проверяет достоверность персональных данных, предоставляемых Пользователем,
                    и не имеет возможности оценивать его дееспособность. Однако Администрация сервиса исходит из того,
                    что пользователь предоставляет достоверные и достаточные персональные данные и поддерживает их в
                    актуальном состоянии. Последствия предоставления недостоверной или недостаточной информации
                    определены в Пользовательском соглашении Сервиса, размещенном на странице Сервиса.
                </li>
            </ol>
        </li>
        <li>
            ЦЕЛИ СБОРА ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ
            <ol>
                <li>Администрация сервиса собирает и хранит только те персональные данные, которые необходимы для
                    предоставления полного или частичного функционала Сервиса или исполнения соглашений и договоров с
                    Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение
                    персональных данных в течение определенного законом срока.
                </li>
                <li>Администрация сервиса обрабатывает персональные данные Пользователя в следующих целях:
                    предоставление услуг нашего сервиса, идентификация пользователя, улучшение работы сервиса, а также
                    для связи с пользователем.
                </li>
            </ol>
        <li>
            УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЕЙ
            <ol>
                <li>Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным
                    способом, в том числе в информационных системах персональных данных с использованием средств
                    автоматизации или без использования таких средств.
                </li>
                <li>В отношении персональных данных Пользователя сохраняется их конфиденциальность, кроме случаев
                    добровольного предоставления Пользователем информации о себе для общего доступа неограниченному
                    кругу лиц.
                </li>
                <li>Администрация сервиса обязуется не передавать информацию, полученную от клиента, третьим лицам ни
                    при каких обстоятельствах.
                </li>
            </ol>
        </li>
        <li>
            ИЗМЕНЕНИЕ И УДАЛЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ. ОБЯЗАТЕЛЬНОЕ ХРАНЕНИЕ ДАННЫХ
        <li>Пользователь может в любой момент изменить (обновить, дополнить) предоставленные им персональные данные или
            их часть, воспользовавшись функцией редактирования персональных данных в персональном разделе Сервиса, либо
            направив соответствующий запрос по электронной почте, указанной в разделе 9 настоящей Политики
        </li>
        <li>Для удаления персональных данных пользователь может обратится в администрацию по email <a
                href="mailto:info@vo.org.ua">info@vo.org.ua</a>
        </li>
        </li>
        <li>
            МЕРЫ, ПРИМЕНЯЕМЫЕ ДЛЯ ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЯ
            <ol>
                <li>
                    Администрация сервиса принимает необходимые и достаточные организационные и технические меры для
                    защиты персональных данных Пользователя от неправомерного или случайного доступа, уничтожения,
                    изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней
                    третьих лиц.
                </li>
            </ol>
        </li>
        <li>
            РАЗРЕШЕНИЕ СПОРОВ
            <ol>
                <li>
                    Данные положения Политики регламентируют порядок разрешения споров между Администрацией сервиса и
                    Пользователем в досудебном и судебном порядке, а также определяет место рассмотрения спора и
                    применимое законодательство.
                </li>
            </ol>
        </li>
        <li>
            ИЗМЕНЕНИЕ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
            <ol>
                <li>
                    Администрация сервиса имеет право вносить изменения в настоящую Политику конфиденциальности. При
                    внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция
                    Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией
                    Политики. Действующая редакция всегда находится на странице по адресу <a
                        href="https://vocrm.net/privacy_policy">vocrm.net/privacy_policy</a>
                </li>
            </ol>
        </li>
        <li>ОБРАТНАЯ СВЯЗЬ. ВОПРОСЫ И ПРЕДЛОЖЕНИЯ
            <ol>
                <li>
                    Все предложения или вопросы по поводу настоящей Политики Пользователь вправе направлять в Службу
                    поддержки пользователей Администрации сервиса по электронной почте <a href="mailto:info@vo.org.ua">info@vo.org.ua</a>
                </li>
            </ol>
        </li>
        </li>
    </ol>
</div>
</body>
</html>