
{% load static %}
{% load raven %}
<!DOCTYPE html>
<!--[if IE]>
<html class="ie" lang="ru">
<p>Ваш браузер устарел. <a href="https://www.google.ru/chrome/browser/desktop/index.html">Скачать</a></p>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="ru">
<meta http-equiv="Cache-control" content="no-cache">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CRM{% endblock %}</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href='{% static "img/favicon.png" %}' type="image/x-icon">
    <link rel="stylesheet" href='{% static "libs/reset-css/reset.css" %}'>
    <link rel="stylesheet" href='{% static "libs/normalize-css/normalize.css" %}'>
    <link href="{% static "libs/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
</head>

<body data-user="{{ request.user.id }}">
<div id="search_city-container">
    <label for="search_city">Поиск города</label><input type="text" id="search_city">
    <hr>
    <div class="selected_block"></div>
    <hr>
    <div class="search_res-container">
        <div class="search_res-cont__block" id="cities">
            <span>Результат отсутствует</span>
        </div>
        <div class="search_res-cont__block" id="countries">
            <span>Результат отсутствует</span>
        </div>
        <div class="search_res-cont__block" id="areas">
            <span>Результат отсутствует</span>
        </div>
        <div class="search_res-cont__block" id="districts">
            <span>Результат отсутствует</span>
        </div>
    </div>
</div>
<script src="https://cdn.ravenjs.com/3.8.1/raven.min.js"></script>
<script>Raven.config('{% sentry_public_dsn %}').install()</script>
<script src="{% static "js/vendor.bundle.js" %}"></script>
<script src="{% static "js/main.bundle.js" %}"></script>
<script src="{% static "js/search_city.bundle.js" %}"></script>
</body>
</html>