
{% load static %}
{% load raven %}
<!DOCTYPE html>
<!--[if IE]>
<html class="ie" lang="ru">
<p>Ваш браузер устарел. <a href="https://www.google.ru/chrome/browser/desktop/index.html">Скачать</a></p>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="ru">
<meta http-equiv="Cache-control" content="no-cache">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CRM{% endblock %}</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href='{% static "img/favicon.png" %}' type="image/x-icon">
    <link rel="stylesheet" href='{% static "libs/reset-css/reset.css" %}'>
    <link rel="stylesheet" href='{% static "libs/normalize-css/normalize.css" %}'>
    <link href="{% static "libs/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
</head>

<body style="display: block" data-user="{{ request.user.id }}">
<div id="search_city-container">
    <label for="search_city">Поиск города</label>
    <input type="text" id="search_city" placeholder="Не менее 3-х букв">
    <hr>
    <div class="selected_block">
        <span id="selected_country" data-id="countries"></span>
        <span id="selected_area" data-id="areas"></span>
        <span id="selected_district" data-id="districts"></span>
    </div>
    <hr>
    <div class="search_res-container">
        <div class="search_res-cont__block">
            <ul id="cities">
                <li>Результат отсутствует</li>
            </ul>
        </div>
        <div class="search_res-cont__block">
            <ul id="countries">
                <li>Результат отсутствует</li>
            </ul>
        </div>
        <div class="search_res-cont__block">
            <ul id="areas">
                <li>Результат отсутствует</li>
            </ul>
        </div>
        <div class="search_res-cont__block">
            <ul id="districts">
                <li>Результат отсутствует</li>
            </ul>
        </div>
    </div>
    <div class="preloader">
        <div class="_preloader">
            <svg preserveaspectratio="" viewbox="-5 -5 65 65">
                <circle class="cls-1" cx="26.1" cy="26.9" r="26.3"></circle>
                <path class="cls-2" d="M25,0A24.92,24.92,0,0,1,42.68,7.32" transform="translate(1 2)">
                    <animatetransform attributename="transform" dur="1s" from="0 26 27" repeatcount="indefinite"
                                      to="360 26 27" type="rotate">
                    </animatetransform>
                </path>
            </svg>
        </div>
    </div>
</div>
<script src="https://cdn.ravenjs.com/3.8.1/raven.min.js"></script>
<script>Raven.config('{% sentry_public_dsn %}').install()</script>
<script src="{% static "js/vendor.bundle.js" %}"></script>
<script src="{% static "js/search_city.bundle.js" %}"></script>
</body>
</html>