{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}

{% block extra_styles %}
    <style>
        .container {
            width: 90%;
            margin: 10px;
            min-height: 400px;
            border: 1px solid green;
            display: flex;
            flex-direction: row;
        }
        .selected_block {
            margin: 20px;
        }
        .selected_block > span {
            border-radius:5px;
            background: darkred;
            color:white;
            padding:10px;
            margin:2px;
            cursor: pointer;
        }
        .child {
            display: flex;
            flex-direction: column;
        }
        .child > span {
            margin:5px;
            padding:5px;
            border: 1px dashed green;
        }
        .child ul > li {
            margin:5px;
            padding:5px;
            border: 1px dashed green;
            cursor: pointer;
        }
        .search_block {
            border: 1px solid blue;
            min-height: 400px;
            flex-grow: 2;
            padding: 10px;
        }

        .other_block {
            border: 1px solid blue;
            min-height: 400px;
            flex-grow: 1;
            padding: 10px;
        }
    </style>
{% endblock %}

{% block header.top.h1 %}<h1>Поиск города</h1>{% endblock %}

{% block header.buttons %}
{% endblock %}

{% block main.content %}
    <label for="search_city">Поиск города</label><input type="text" id="search_city">
    <hr>
    <div class="selected_block">
{#        <span class="selected_country">Japan</span>#}
{#        <span class="selected_country">Germany</span>#}
{#        <span class="selected_area">England</span>#}
{#        <span class="selected_district">England</span>#}
    </div>
    <hr>
    <div class="container">
        <div class="search_block child" id="cities">
            <span>Empty</span>
        </div>
        <div class="other_block child" id="countries">
            <span>Empty</span>
        </div>
        <div class="other_block child" id="areas">
            <span>Empty</span>
        </div>
        <div class="other_block child" id="districts">
            <span>Empty</span>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/search_city.bundle.js" %}"></script>
{% endblock %}