{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
				<div class="wrapper">
		<!--begin main-->
			<div class="main">
			<!--begin content-->
				<section class="container">
					{% block sidebar %}
						{% include 'include/sidebar.html' %}
					{% endblock %}
					<div class="profile">
						<h3 class="topic_cont">Настройки<span> / Профиль</span></h3>
						<div class="personal-data">
							<form>
								<h4>Персональные данные</h4>
								<input type="text" id='name' placeholder="Имя">
								<input type="text" id='surname' placeholder="Фамилия">
								<input type="text" id='pantronic' placeholder="Отчество">
								<input class="mail-input"type="text"  placeholder="email">
								<input id="tel-input" type="text"  placeholder="telephone">
								<a href="#" class="green-button" id="editUser" onclick ="editUser()">Сохранить</a>
							</form>
						</div><!--event-main-->
						<div class="edit-pass">
							<form>
								<h4>Изменить пароль</h4>
								<input type="password" name="old_pass" placeholder="Текущий пароль">
								<input type="password" name="new_pass" placeholder="Новый пароль">
								<input type="password" name="confirm_pass" placeholder="Подтвердите новый пароль">
								<a class="green-button" style="cursor:pointer" onclick="clickButton(this)">Изменить пароль</a>
							</form>
						</div>
						<div class="popap" id='popup_div'>
							<div class="pop_cont">
								<p id='popup_text'></p>
								<span onclick='hidePopup()' class="close">x</span>
							</div>
						</div><!--event-special-->
						<div class="exit">
							<a href="#" id="logout" class="red-button" onclick="logout()">Выйти</a>
						</div>
					</div>
				</section>
			<!--end content-->
			</div>
		<!--end main-->
		</div>
				{% endblock %}
{% block script %}
		<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}