{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
				<div class="wrapper">
		<!--begin main-->
			<div class="main">
			<!--begin content-->
	<section class="container">
					{% block sidebar %}
						{% include 'include/sidebar.html' %}
					{% endblock %}
<div class="reports_container settings_disciples">
						<h3 class="topic_cont">Настройки</h3>
						<div class="top_container_head">
							<div class="top_block_head_left">
								<ul>
									<li>
										<a href="/settings_events">События</a>
									</li>
									<li>
										<a href="#" id="showAll">Все Сотрудники</a>
									</li>
									<li>
										<a href="#" id="my_sub">Мои подчиненные</a>
									</li>
								</ul>
							</div>
						</div>
					<!--	<div class="filters_block">
							<strong class="topic_container">Поиск</strong>
						</div>
						-->
						<div class="popap" id='popup_div'>
							<div class="pop_cont">
								<p id='popup_text'></p>
								<span onclick='hidePopup()' class="close">x</span>
							</div>
						</div>

						<div class="content_block" id="database_users">
							<div class="search_cont">
							<input type="text" placeholder="Поиск" name="fullsearch">
								<div id="dropbox_wrap"></div>
							</div><!--search_cont-->
							<div class="settings-table">
								<div class="selectTabs">
								<ul class="lineTabs">
									<!--<li class="active"><a href="#">Вкладка 1</a></li>
									<li><a href="#">Вкладка 2</a></li>
									<li><a href="#">Вкладка 3</a></li>

								-->
								</ul>

								<div class="tab_content">
								<!--

								<table class="tab1">
									<tr>
										<td>ФИО<span class="arrow-table"></span></td>
										<td>Статус<span class="arrow-table"></span></td>
										<td>Телефон<span class="arrow-table"></span></td>
										<td>Эл.почта<span class="arrow-table"></span></td>
										<td>04.11.15<span class="arrow-table"></span></td>
										<td>Новый<span class="arrow-table"></span></td>
										<td>Покаяние<span class="arrow-table"></span></td>
										<td></td>
									</tr>

								</table>
										-->



								</div><!--tab_content-->
								<div id="subordinate_wrap">
								</div>
								</div>
							</div><!--settings-table-->
						</div><!--content_block-->
					</div>
				</section>
			<!--end content-->
			</div>
		<!--end main-->
		</div>
				{% endblock %}
{% block script %}
		<script src="{% static 'js/settings_disciples.js' %}"></script>
{% endblock %}
