<div id="sidebar"><!--Sidebar -->
    <div class="scrollbar-macosx">

        <div class="logo">
            <div><span>V</span><span>O</span></div>
            <div><span>C</span><span>R</span><span>M</span></div>
        </div>

        <ul id="nav-sidebar">
            <li><a data-title="База данных" href='{% url "index" %}'>База данных</a></li>
            <li><a data-title="Все отчеты" href='{% url "reports" %}'>Все отчеты</a></li>
            <li><a data-title="События" href='{% url "events" %}'>События</a></li>
            <li><a data-title="Партнёрство" href='{% url "deals" %}'>Партнёрство</a></li>
            <li><a data-title="Саммиты" href='{% url "summits" %}'>Саммиты</a></li>
            <li id="move-sidebar"><a data-title="Развернуть" href="#">Свернуть</a></li>
        </ul>
    </div>
</div>
