{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
				<div class="wrapper">
		<!--begin main-->
			<div class="main">
			<!--begin content-->
	<section class="container">
					{% block sidebar %}
						{% include 'include/sidebar.html' %}
					{% endblock %}
					<div id="synopsys_container">
						<ul id="synopsis_links">
						</ul>

						<div id="synopsis_info">
							
						</div>

					</div>

					<div id="create_sypopsys">
					create synopsys
					   <div class="user-data"> <!-- First col -->
                      <ul id="user-info">
                       <li><p>Суть истории</p><input type="text" placeholder="Суть истории"   name="history_description" ></li>
                       <li><p>ФИО</p><input type="text" placeholder="ФИО"   name="hero" ></li>
                       <li><p>Телефоны</p><input type="text" placeholder="Телефоны"   name="phone_number" ></li>


                    <!--   <li><p>Кто составил синопсис</p><input type="text" placeholder="Кто составил синопсис"   name="interviewer_fullname" ></li>-->
                     <!--  <li><p>Дата</p><input type="text" placeholder="Дата"   name="date" ></li> -->
                       <li><p>Информация про диагноз</p><input type="text" placeholder="Информация про диагноз"   name="diagnosis" ></li>
                       <li><p>Документы про болезнь</p><input type="text" placeholder="Документы про болезнь"   name="sick_docs" ></li>
                       <li><p>Описание болезн</p><input type="text" placeholder="Описание болезн"   name="sick_description" ></li>
                       


                       	<li><p>Проходили ли лечение, выводы врачей</p><input type="text" placeholder="Проходили ли лечение, выводы врачей"   name="healing_description" ></li>
                       <li><p>Как узнали о ДЦ Возрождение</p><input type="text" placeholder="Как узнали о ДЦ Возрождение"   name="how_to_know" ></li>
                       <li><p>Как получили исцеление или чудо</p><input type="text" placeholder="Как получили исцеление или чудо"   name="how_recovery" ></li>


                       <li><p>Кто молился, дата служения</p><input type="text" placeholder="Кто молился, дата служения"   name="recovery_information" ></li>
                       <li><p>Документы подтверждающие исцеление</p><input type="text" placeholder="Документы подтверждающие исцеление"   name="recovery_docs" ></li>
                       <li><p>Решение по сьемке материала</p><input type="text" placeholder="Решение по сьемке материала"   name="decision_description" ></li>


                       <li><p>Дата сьемки</p><input type="text" placeholder="Дата сьемки"   name="survey_date" ></li>
                       <li><p>Режисер</p><input type="text" placeholder="ФИО"   name="producer" ></li>

                       <input type="button" onclick="createSynonsis()"  value="Добавить синопсис">
                       </ul>
                       </div>
					<!--//hero i phone_number histori describ -->
					</div>
					<div class="popap" id='popup_div'>
								<div class="pop_cont">
									<p id='popup_text'></p>
									<span onclick='hidePopup()' class="close">x</span>
								</div>
					</div>
				</section>
			</div>
		<!--end main-->
		</div>
				{% endblock %}
{% block script %}
		<script src="{% static 'js/synopsys.js' %}"></script>
{% endblock %}

