{% load static %}
{% load raven %}
<!DOCTYPE html>
<!--[if IE]>
<html class="ie" lang="ru">
<p>Ваш браузер устарел. <a href="https://www.google.ru/chrome/browser/desktop/index.html">Скачать</a></p>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сканер билетов</title>
    <link rel="shortcut icon" href='{% static "img/favicon.png" %}' type="image/x-icon">
    <link rel="stylesheet" href='{% static "libs/reset-css/reset.css" %}'>
    <link rel="stylesheet" href='{% static "css/scanner.css" %}'>
</head>
<body>
<div class="scanner_wrapper">
    <form id="scanner_form">
        <input id="code" name="code" type="text" placeholder="код" autofocus>
    </form>
    <div class="photo_wrapper">
        <img id="user_photo" src="{% static "img/no-usr.jpg" %}" data-img_default="{% static "img/no-usr.jpg" %}" alt="Фото участника">
        <span>ЗАБАНЕН</span>
    </div>
    <p id="user_name">Фамилия Имя Отчество</p>
    <p>Прошел <span id="count">0</span> раз(а)</p>
</div>
<div class="preloader">
    <div class="_preloader">
        <svg preserveaspectratio="" viewbox="-5 -5 65 65">
            <circle class="cls-1" cx="26.1" cy="26.9" r="26.3"></circle>
            <path class="cls-2" d="M25,0A24.92,24.92,0,0,1,42.68,7.32" transform="translate(1 2)">
                <animatetransform attributename="transform" dur="1s" from="0 26 27" repeatcount="indefinite"
                                  to="360 26 27" type="rotate">
                </animatetransform>
            </path>
        </svg>
    </div>
</div>
<script src="{% static "js/vendor.bundle.js" %}"></script>
<script src="{% static "js/scanner.bundle.js" %}"></script>
</body>
</html>