    <div class="popap_slide home-group" id='editReport'>
    <form action="./"  id="homeReportForm" class="pop_cont">
        <div class='popup_text'><h2 id="report_title">Подача отчета</h2></div>
        <div class="popup_body">
            <div class="container">
                <label>
                    <span class="label_block">Домашняя группа</span>
                    <p id="reportHomeGroup"></p>
                </label>
                <label>
                    <span class="label_block">Лидер домашней группы</span>
                    <p id="reportLeader"></p>
                </label>
                <label>
                    <span class="label_block">Дата <span id="date_title"></span></span>
                    <input type="text"
                           id="reportDate"
                           name="date"
                           data-validation="required">
                </label>
                <label>
                    <span class="label_block label-block_temp">Сумма пожертвований</span>
                    <input type="text"
                           id="reportDonations"
                           name="total_sum"
                           data-validation="custom"
                           data-validation-regexp="^[0-9]{1,8}(\,[0-9]{1,2})?$">
                </label>
                <label>
                    <span class="label_block label-block_temp">Количество гостей</span>
                    <input type="text"
                           id="guestCount"
                           name="guest_count"
                           data-validation="custom"
                           data-validation-regexp="^[0-9]{1,3}$">
                </label>
                <label>
                    <span class="label_block label-block_temp">Количество новых</span>
                    <input type="text"
                           id="newCount"
                           name="new_count"
                           data-validation="custom"
                           data-validation-regexp="^[0-9]{1,3}$">
                </label>
                <label>
                    <span class="label_block label-block_temp">Количество покаяний</span>
                    <input type="text"
                           id="repentanceCount"
                           name="repentance_count"
                           data-validation="custom"
                           data-validation-regexp="^[0-9]{1,3}$">
                </label>

                <div id="extra_fields">
                    <label>
                        <span class="label_block label-block_temp">Валюта</span>
                        <select id="HomeReportCurrency" name="currency" style="background: white !important;">
                            <option value="" selected>------------</option>
                            {% for c in currency %}
                                <option value="{{ c.id }}">{{ c.name }}</option>
                            {% endfor %}

                        </select>
                    </label>
                    <label>
                        <span class="label_block label-block_temp">Пожертвования</span>
                        <input type="text"
                               id="HomeReportDonation"
                               name="donation"
                               data-validation="custom"
                               data-validation-regexp="^[0-9]+.[0-9]+$">
                    </label>
                    <label>
                        <span class="label_block label-block_temp">Десятины</span>
                        <input type="text"
                               id="HomeReportTithe"
                               name="tithe"
                               data-validation="custom"
                               data-validation-regexp="^[0-9]+.[0-9]+$">
                    </label>
                </div>

                <label>
                    <span class="label_block label-block_temp">Фото присутствующих</span>
                    <div class="input">
                        <input type="file" id="reportImage" name="image">
                        <label for="reportImage">
                            <i class="material-icons">&#xE2C4;</i>
                            <span>Выберите файл</span>
                        </label>
                        <button id="clear_img"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                    </div>
                </label>
                <label>
                    <img id="hg_attds" src="" alt="Фото присутствующих">
                </label>
                <div id="tableUsers"></div>
            </div>
        </div>
        <div class="container">
            {% if user.is_staff or user.has_operator_perm %}
                <button id="delete_report"></button>
            {% endif %}
            <button class="close-popup">Отменить</button>
            <button type="submit" id="send_report">Сохранить</button>
        </div>
    </form>
</div>