{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}

{% block header.top.h1 %}<h1>Права доступа к базе данных</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
{#                <li>#}
{#                    <button id="add-phone"><i class="fa fa-mobile" aria-hidden="true"></i></button>#}
{#                </li>#}
                <li>
                    <button id="filter_button" class="header__button" data-count="0">Фильтр</button>
                </li>
{#                <li>#}
{#                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>#}
{#                </li>#}
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block main.content %}
    {% block pagination_top %}
        <div class="table__count"></div>
        <div class="pagination bd_access__pagination"><!--pagination -->
        </div><!--End pagination -->
    {% endblock %}

    {% block table %}
        <!--Table -->
            <div class="table table-wrap clearfix" id="tableBdAccess">
                <div class="table table-wrap scrollbar-inner " id="tableBdAccessWrap">

                </div>
            </div>
        <!--End Table -->
    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination bd_access__pagination"></div>
    {% endblock %}
{#    <button id="sendTableData">Отправить</button>#}
{% endblock %}

{% block popup.other %}
    <div class="pop-up__table passwordPopup" id="newPassword">
        <div class="pop_cont">
            <div class="top-text"><h3>Изменить пароль</h3></div>
            <div class="main-text">
                <form id="passwordForm" data-id="у">
                    <label>
                        <span>Введите новый пароль: </span>
                        <input type="password" name="newPassword" minlength="8">
                    </label>
                    <label>
                        <span>Повторите пароль: </span>
                        <input type="password" name="confirmPassword" class="confirmPass" minlength="8">
                    </label>
                    <div class="errorTxt"><i class="material-icons complete">&#xE876;</i><i class="material-icons close">&#xE5CD;</i><span></span></div>
                    <div><span class="ruleText">* Пароль должен содержать 8 символов, и не может состоять только из цифр.</span></div>
                    <button>Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block popup.filter.content %}
    {% include "partials/filter/select.html" with label="Иерархия" options=hierarchies name="hierarchy" %}
    {% include "partials/filter/select.html" with label="Персонал" options=true_false_options name="is_staff" %}
    {% include "partials/filter/select.html" with label="Активный" options=true_false_options name="is_active" %}
    {% include "partials/filter/select.html" with label="Имеет право входа" options=true_false_options name="can_login" %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/bd_access_list.bundle.js" %}"></script>
{% endblock %}


