{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}

{% block header.top.h1 %}<h1>Саммиты</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>
                    <button id="add">Добавить саммит</button>
                </li>
                <li>
                    <button id="filter_button" class="header__button" data-count="0">Фильтр</button>
                </li>
{#                <li>#}
{#                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>#}
{#                </li>#}
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block main.content %}
    {% block pagination_top %}
        <div class="table__count"></div>
        <div class="pagination summit__pagination"><!--pagination -->
        </div><!--End pagination -->
    {% endblock %}

    {% block table %}
        <!--Table -->
            <div class="table table-wrap clearfix" id="tableSummitsList">
                <div class="table table-wrap scrollbar-inner " id="tableSummitListWrap">

                </div>
            </div>
        <!--End Table -->
    {% endblock %}

    {% block pagination_bottom %}
        <div class="table__count"></div>
        <div class="pagination summit__pagination"></div>
    {% endblock %}
{% endblock %}

{% block popup %}
    <div class="popap popap_slide" id='filterPopup'>
        <div class="pop_cont">
            <div class='popup_text'>
                <h2>Фильтр</h2>
            </div>
            <div class="popup_body">
                <div class="container">
                    <label>
                        <span class="label_block">Тип</span>
                        <select class="selectbd" data-filter="type" id="type_filter">
                                <option value="">ВСЕ</option>
                                {% for type in summit_types %}
                                    <option value="{{ type.id }}">{{ type.title }}</option>
                                {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Дата начала</span>
                        <input type="text" data-filter="start_date" class="summit-date">
                    </label>
                    <label>
                        <span class="label_block">Дата окончания</span>
                        <input type="text" data-filter="end_date" class="summit-date">
                    </label>
                    <label>
                        <span class="label_block">Статус</span>
                        <select name="status" class="selectbd" data-filter="status">
                            <option value="">ВСЕ</option>
                            <option value="True">Открытые</option>
                            <option value="False">Закрытые</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="container">
                <button class="clear-filter"><i class="fa fa-refresh" aria-hidden="true"></i>Очистить</button>
                <button class="close-popup">Отменить</button>
                <button class="apply-filter">Применить</button>
            </div>
        </div>
    </div>
    <div class="popap popap_slide" id='addSammit' data-id="">
        <div class="pop_cont">
            <div class='popup_text'>
                <h2>Добавить саммит</h2>
            </div>
            <form action="">
                <div class="popup_body">
                    <div class="container">
                        <label>
                            <span class="label_block">Название</span>
                            <input type="text" name="description" >
                        </label>
                        <label>
                            <span class="label_block">Тип</span>
                            <select class="selectbd must" name="type" data-validation="required">
                                {% for type in summit_types %}
                                    <option value="{{ type.id }}">{{ type.title }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label>
                            <span class="label_block">Дата начала</span>
                            <input type="text" name="start_date" class="summit-date must" data-validation="required">
                        </label>
                        <label>
                            <span class="label_block">Дата окончания</span>
                            <input type="text" name="end_date" class="summit-date must" data-validation="required">
                        </label>
                        <label>
                            <span class="label_block">Статус</span>
                            <select name="status" class="selectbd must" data-validation="required">
                                <option value="open" selected>Открытые</option>
                                <option value="close">Закрытые</option>
                            </select>
                        </label>
                        <label>
                            <span class="label_block">Код</span>
                            <input type="text" name="code">
                        </label>
                        <label>
                            <span class="label_block">Полная стоимость</span>
                            <input type="number" name="full_cost" class="must" data-validation="required">
                        </label>
                        <label>
                            <span class="label_block">Специальная стоимость</span>
                            <input type="number" name="special_cost" class="must" data-validation="required">
                        </label>
                        <label>
                            <span class="label_block">Валюта</span>
                            <select class="selectbd" name="currency">
                                {% for currency in currencies %}
                                    <option value="{{ currency.id }}">{{ currency }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label>
                            <span class="label_block">Шаблон для рассылок</span>
                            <select class="selectbd" name="zmail_template">
                                {% for mail in zmail_templates %}
                                    <option value="{{ mail.id }}">{{ mail }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
                <div class="container">
                    <button class="close-popup">Отменить</button>
                    <button class="add-summit">Добавить</button>
                    <button class="save-summit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/summits_list.bundle.js" %}"></script>
{% endblock %}


