{% load i18n %}
{% load static %}

<div id="sidebar">
    <div class="logo">
        <a href="/">vo <span>crm</span></a>
    </div>
    <ul id="nav-sidebar" class="summits">
        <li>
            <a data-title="База данных" href="#" id="databases__item" class="menu__item"></a>
            <ul class="sidebar-submenu">
                <li class="menu__item_title">База данных</li>
                {% if user.can_see_churches %}
                    <li><a href="{% url 'db:main' %}">Церкви</a></li>
                {% endif %}
                {% if user.can_see_home_groups %}
                    <li><a href="{% url 'db:home_groups' %}">Домашние группы</a></li>
                {% endif %}
                {% if user.can_see_user_list %}
                    <li><a href="{% url 'db:people' %}">Люди</a></li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a data-title="Отчеты" href="{% url 'events:main' %}" id="events__reports"
               class="menu__item"></a>
            <ul class="sidebar-submenu">
                <li class="menu__item_title">Отчеты</li>
                <li><a href="{% url 'events:church_report_list' %}">Отчёты церквей</a></li>
                <li><a href="{% url 'events:church_report_statistics' %}">Статистика церквей</a></li>
                <li><a href="{% url 'events:report_payments' %}">Таблица платежей</a></li>
                <li><a href="{% url 'events:meeting_report_list' %}">Отчёты домашних групп</a></li>
                <li><a href="{% url 'events:meeting_report_statistics' %}">Статистика домашних групп</a></li>
            </ul>
        </li>
        {% if user.can_see_any_partner_block %}
            <li><a data-title="Партнёрство" href="#" id="partners__item"
                   class="menu__item"></a>
                <ul class="sidebar-submenu">
                    <li class="menu__item_title">Партнёрство</li>
                    {% if user.can_see_deals %}
                        <li><a href="{% url 'partner:deals' %}">Сделки</a></li>
                    {% endif %}
                    {% if user.can_see_partners %}
                        <li><a href="{% url 'partner:list' %}">Список партнёров</a></li>
                    {% endif %}
                    {% if user.can_see_deal_payments %}
                        <li><a href="{% url 'partner:payments' %}">{% trans "Платежи" %}</a></li>
                    {% endif %}
                    {% if user.can_see_managers_summary %}
                        <li><a href="{% url 'partner:partnership_summary-list' %}">План по менеджерам</a></li>
                    {% endif %}
                    {% if user.can_see_partner_stats %}
                        <li><a href="{% url 'partner:partnership_summary-detail' manager_id="all" %}">Статистика</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        <li><a data-title="Саммиты" href="#" id="summits__item" class="menu__item"></a>
            <ul class="sidebar-submenu">
                <li class="menu__item_title">Саммиты</li>
                <li><a href="{% url "summit:open" %}">{% trans "Open" %}</a></li>
                <li><a href="{% url "summit:closed" %}">{% trans "Closed" %}</a></li>
            </ul>
        </li>
    </ul>
    {% if user.is_staff %}
        <div class="bottom-sidebar">
            <ul>
                <li class="menu__item">
                    <i class="material-icons">&#xE5C3;</i>
                    <ul class="sidebar-submenu">
                        <li><a href="{% url "calls" %}">{% trans "Звонки" %}</a></li>
                        <li><a href="{% url "controls:main" %}">{% trans "Права доступа к базе данных" %}</a></li>
                        <li><a href="{% url "controls:summit_panel" %}">{% trans "Саммиты" %}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
