{% load i18n %}
{% load static %}

{% if request.hard_user or request.user.is_superuser or request.user.skins.all or request.real_user.skins.all %}
    <div class="user-wrap">
        {% if request.hard_user %}
            <h1 style="padding-left: 1em;"><strong>Пользователь:</strong>
                <a href="{{ request.real_user.get_absolute_url }}">
                    {{ request.real_user }}
                </a>
            </h1>
            <p>вошел как</p>
            <h1><strong></strong>
                <a href="{{ request.hard_user.get_absolute_url }}">
                    {{ request.hard_user }}
                </a>
                -
                <a class="reset_hard_user" href="" style="color:#64d2ff;">Сбросить</a>
            </h1>
        {% elif request.user.is_superuser or request.user.skins.all or request.real_user.skins.all %}
            <h1 style="padding-left: 1em;"><strong>Пользователь:</strong>
                <a href="{{ request.user.get_absolute_url }}">
                    {{ request.user }}
                </a>
            </h1>
            <p>войти как</p>
            {% if request.real_user %}
                {% if request.real_user.skins.exists %}
                    <select name="skin_id" id="skin_id">
                        {% for skin in request.real_user.skins.all %}
                            <option value="{{ skin.id }}">{{ skin.fullname }}</option>
                        {% endfor %}
                    </select>
                    <input type="button" id="entry_as" value="Войти">
                {% endif %}
            {% else %}
                {% if request.user.skins.exists %}
                    <select name="skin_id" id="skin_id">
                        {% for skin in request.user.skins.all %}
                            <option value="{{ skin.id }}">{{ skin.fullname }}</option>
                        {% endfor %}
                    </select>
                    <input type="button" id="entry_as" value="Войти">
                {% endif %}
            {% endif %}
        {% endif %}
        {% if request.user.can_see_changelog or request.user.can_see_docs %}
            <a href="{% url "docs:changelog" %}" target="_blank" style="margin-left:auto;margin-right:20px;color:white;">
                version: {{ crm.version }}
            </a>
        {% else %}
            <span style="margin-left:auto;margin-right:20px;color:white;">
                version: {{ crm.version }}
            </span>
        {% endif %}
    </div>
{% endif %}
