{% extends "payment/all.html" %}
{% load i18n %}
{% load payment_tags %}

{% block header.top.h1 %}{% trans "Payments by partner" %}
    <a href="{{ partner.user.get_absolute_url }}">{{ partner }}</a>
{% endblock %}

{% block main.content %}
    <h2>{% trans "Partner deals" %}</h2>
    <div class="list-group">
        {% for deal in partner.deals.all %}
            <a href="{% url 'payment-deal' pk=deal.id %}" class="list-group-item">{{ deal }}</a>
        {% endfor %}
    </div>

    {% can_i_edit_payment partner as can_edit %}
{#    <h2>{% trans "Deal payments" %}</h2>#}
{#    {% payment_table deal_payments can_edit %}#}
    <h2>{% trans "Partner payments" %}</h2>
    {% payment_table extra_payments can_edit %}
{% endblock %}

{% block popup %}
    {{ block.super }}
    <div id="popup-move" class="pop-up-splash">
        <div class="splash-screen">
            <div class="top-text">
                <h3>{% trans "Edit payment" %}</h3>
            </div>
            <div class="user-info">
                <div class="left-side">
                    <p>{% trans "Partner" %}:</p>
                </div>
                <div class="right-side">
                    <select class="partners" required>
                        <option value="">-----</option>
                        {% for new_partner in partners %}
                            <option value="{{ new_partner.id }}"
                                    {% if new_partner == partner %}selected{% endif %}>
                                {{ new_partner.user.fullname }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="splash-buttons">
                <button class="close">{% trans "Cancel" %}</button>
                <button class="complete" data-payment-id="">{% trans "Move" %}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    {{ block.super }}
    <script>

        $('.move_payment').on('click', function () {
            var id = $(this).data('payment-id');
            $('#popup-move .complete').attr('data-payment-id', id);
            $('#popup-move').css('display', 'block');
        });

        {# --------------------------------------------------------------- #}

        $('#popup-move .complete').on('click', function () {
            var id = $(this).data('payment-id');
            var partner_val = $('select.partners').val();
            if (partner_val) {
                var data = {
                    'object_id': partner_val
                };
                var json = JSON.stringify(data);
                ajaxRequest(CONFIG.DOCUMENT_ROOT + `api/v1.0/payments/${id}/`, json, function (JSONobj) {
                    showPopup('Сохранено.');
                    setTimeout(function () {
                        window.location.reload()
                    }, 1500);
                }, 'PATCH', true, {
                    'Content-Type': 'application/json'
                }, {
                    403: function (data) {
                        data = data.responseJSON;
                        showPopup(data.detail);
                        reject();
                    }
                });
            } else {
                showPopup('Select new deal.');
            }
        });
    </script>
{% endblock %}
