{% extends "layout_main.html" %}
{% load i18n %}
{% load static %}

{% block header.top.h1 %}<h1>Задачи</h1>{% endblock %}

{% block header.buttons %}
    <div class="top-buttons-wrap">
        <ul class="top-buttons">
            {% block header.buttons.add %}
                <li>
                    <button id="add" class="header__button" data-count="0">Добавить задачу</button>
                </li>
                <li>
                    <button id="filter_button" class="header__button" data-count="0">Фильтр</button>
                </li>
                <li>
                    <button id="sort-on"><i class="fa fa-cog" aria-hidden="true"></i></button>
                </li>
            {% endblock %}
        </ul>
    </div>
{% endblock %}
{% block popup.other %}
    <div class="popap popap_slide" id='addTasks'>
        <div class="pop_cont">
            <h2 class='popup_text popup_text_create'>Создание задачи</h2>
            <h2 class='popup_text popup_text_change'>Изменение задачи</h2>
            <div class="popup_body">
                <div class="container">
                    <label>
                        <span class="label_block">Дата:</span>
                        <input id="tasksDate" required>
                    </label>
                    <label>
                        <span class="label_block">Отдел:</span>
                        <select class="selectdb" data-filter="department" id="department_filter">
                            {% for division in  divisions %}
                                <option value="{{ division.id }}">{{ division.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Исполнитель:</span>
                        <select class="selectdb" data-filter="executor" id="executor_filter">
                            {% for executor in  users %}
                                <option value="{{ executor.id }}">{{ executor.fullname }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        <span class="label_block">Тип задачи:</span>
                        <select class="selectdb" data-filter="type" id="type_filter">
                            {% for type in  types %}
                                <option value="{{ type.id }}">{{ type.title }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <div class="tasks__user">
                        <label>
                            <span class="label_block">Объект задачи:</span>
                            <select class="selectdb" data-filter="user" id="user_filter">
                                {% for executor in  users %}
                                    <option value="{{ executor.id }}">{{ executor.fullname }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label>
                            <span class="label_block">Описание:</span>
                            <textarea name="message" id="tasksDesc"></tex
                                tarea>
                        </label>
                    </div>
                </div>
            </div>
            <div class="container">
                <button class="complete-task"><i class="fa fa-check" aria-hidden="true"></i> Завершить</button>
                <button class="close-popup">Отменить</button>
                <button class="save-popup"><i class="fa fa-floppy-o" aria-hidden="true"></i> Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block popup.filter.content %}
    {% include "partials/filter/select.html" with label="Отдел" options=departments name="department" %}
    {% include "partials/filter/select.html" with label="Ветка" options='' name="master_tree" empty_value="ВСЕ" %}
    {% include "partials/filter/select.html" with label="Пастор" options='' name="pastor" empty_value="ВСЕ" %}
    {% include "partials/filter/select.html" with label="Церковь" options='' name="church" empty_value="ВСЕ" %}
    {% include "partials/filter/select.html" with label="Статус сделки" options=deal_status_options name="payment_status" %}
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "js/tasks.bundle.js" %}"></script>
{% endblock %}
