/*******************Anketa***************/

.left-contentwrap {
  width: 35%;
  width:auto;
  width: 540px;
  //float: left;
}
.content_anketa{
  display: flex;
}
.right-contentwrap {
  width: 65%;
  width:auto;
  flex:1;
  max-width: ~'calc(100% - 450px)';
  //float: left;
  button#send_need {
    margin-left: auto;
  }
}
#editNameBlock{
  .right-info__block{
    padding-top: 60px;
  }
}
#editContactForm{
  .popup_body{
    display: flex;
    justify-content: flex-end;
    margin-top:25px;
    .container{
      width:240px;
    }
  }
}
.left-content, .right-content {
  padding-left: 30px;
}

.right-content {
  padding-right: 30px;
}

.left-info, .right-info {
  width: 50%;
  float: left;
}

.left-info {
  text-align: right;
}

.left-content {
  ul {
    li {
      overflow: hidden;
      border-bottom: 1px solid #cdd0d4;
      padding: 15px 0;
      text-overflow: ellipsis;
      padding: 5px;
      font-size: 1em;
      line-height: 1.4;
      position: relative;
      z-index: 0;
      &#editHierarchy, &#editDepartament {
        .select2 {
          height: auto;
        }
      }
      &#editChurches {
        li {
          padding-left: 8px;
        }
      }
      ul {
        width: 60%;
        float: right;
      }
      &:last-child {
        border-bottom: none;
      }
      span {
        font-weight: bold;
        font-weight: 300;
      }
    }
  }
  .right-info {
    li {
      ul {
        float: none;
        width: auto;
        li {
          border-bottom: none;
        }
      }
    }
  }
  .popup_body {
    margin: 0;
    padding: 0;
    border: none;
    padding-right: 25px;
    .container {
      .label_block {
        background: #f2f5fa;
      }
      select, input {
        &[readonly], &[disabled="disabled"] {
          background: #f2f5fa;
          font-weight: 600;
        }
      }
      input {
        &[type='checkbox'] {
          & + div {
            background: #f2f5fa;
            background-color: transparent;
          }
        }
      }
      label {
        &::before {
          width: 50%;
        }
      }
    }
  }
}

.user-fio {
  .right-info-r {
    width: ~'calc(60% - 2em)';
    float: right;
    padding: 6.5em 2em .5em 0;
    hgroup{
      position: relative;
    }
    & h3#fullname {
      font: ~'calc(1em + 0.3vw)' "UbuntuMedium", sans-serif;
      & ~ h4 {
        font-size: 1.2em;
        margin-top: .5em;
        line-height: 1.5em;
      }
    }
    & #social {
      //padding-top: 0.7em;
      display: flex;
      transform: translateY(37px);
      & .a-social {
        //float: left;
        //height: 2em;
        margin-right: 15px;
        overflow: hidden;
        a {
          display: inline-block;
          box-sizing: border-box;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #656d78;
          text-align: center;
          padding-top: 3px;

          i {
            color: #fff;
            font-size: 1.2em;
            line-height: 25px;
            //padding-right: 0.5em;
          }
          &:hover i {
            color: #3caeda;
          }
        }
      }
    }
  }
  .anketa-photo {
    position: relative;
    padding: 18%;
    border-radius: 100%;
    border: 3px solid #43b0db;
    box-shadow: 0 0 0 5px #b3d7e8;
    overflow: hidden;
    cursor: pointer;
    width: 0;
    height: 0;
    transform: translateY(50%);
    margin-left:15px;
    img {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      background-color: #e6e9ee;
    }
  }
}

.left-content, .partner_wrapper {
  & .right-info-r {
    & button {
      position: absolute;
      padding: 0;
      background: transparent;
      border: 0;
      top: 0;
      font-size: 1.5em;
      &.edit {
        right: 1em;
        top: 4em;
        width: 1em;
        height: 1em;

        &:before {
          content: '\f040';
          width: 1em;
          height: 1em;
          display: block;
          color: #656d78;
          font: 100 1em FontAwesome;
          position: absolute;
          left: 0;
          top: 0;
        }
        &.active {
          &:before {
            content: '\f00d';
          }
        }
      }
    }
  }
  & > .right-info {
    display: block;
    width: 100%;
    border: 1px solid #cdd0d4;
    border-radius: 3px;
    background-color: #f2f5fa;
    margin-bottom: 20px;
    & > li {
      padding: 1.5em 1em;
      width:100%;

      .right-info__block {
        position: relative;
        border: 1px solid transparent;
        border-radius: 7px;
        //padding-top: 1.7em;
        h4 {
          //position: absolute;
          //top: 0;
          //left: 6px;
          //font-family: 'Roboto Condensed', sans-serif;
          margin-bottom: 15px;
          font-family: "UbuntuLight", sans-serif;
          font-size: 1.5em;
          color: #cdd0d4;
          transition: color .3s;
        }
        form ul {
          //padding-top: 8px;
          width:100%;
          &>li{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a{
              width: 240px;
              margin-left: 10px;
              display: inline-block;
            }
          }
        }
        ul > li > ul {
          padding-top: 0;
        }
        form .select2-selection__rendered {
          font-weight: 400;
          .select2-search--inline {
            display: none;
          }
          .select2-selection__choice {
            margin-top: 0;
            margin-bottom: 5px;
          }
        }
        & button {
          position: absolute;
          padding: 0;
          background: transparent;
          border: 0;
          top: 0;
          width: 1em;
          height: 1em;
          font-size: 1.5em;
          opacity: .3;
          z-index: 3;
          &.edit {
            &.active {
              right: 1.25em;
            }
            right: 0;
            & + .save__info {
              display: none;
            }
            &.active + .save__info {
              display: block;
            }
            &:before {
              content: '\f040';
              color: #656d78;
              font: normal 1em FontAwesome;
              position: absolute;
              left: 0;
              top: 0;
            }
            &.active {
              &:before {
                content: '\f00d';
              }
            }
          }

          &.save__info {
            right: 0;
            width: 1em;
            height: 1em;
            &:before {
              content: '\f00c';
              color: #656d78;
              font: normal 1.1em FontAwesome;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
        &:hover {
          //border-color: #656d78;
        }
        & .label-wrapp {
          position: relative;
          width: ~'calc(40% - 7px)';
          &::after {
            position: absolute;
            left: 3px;
            bottom: -14px;
            display: block;
            width: 100%;
            height: 2px;
            background-image: radial-gradient(circle, #656d78 .6px, transparent 1px);
            background-repeat: repeat-x;
            background-size: 5px 2px;
            content: '';
          }
        }
        & label, & .label__block {
          //position: relative;
          //display: block;
          ////width: ~'calc(40% - 7px)';
          //height: 1.7em;
          //padding-right: 5px;
          //padding-left: 3px;
          //line-height: 1.7em;
          //float: left;
          //text-align: left;
          //box-sizing: border-box;
          //background-color: #f2f5fa;
          //z-index: 2;
          & i {
            font-size: 1.5em;
          }
          & .fa-mobile {
            font-size: 2em;
          }
          & .fa-envelope {
            font-size: 1.3em;
          }
        }
        & .sel__date {
          width: 7em;
        }
        & input:not([type="checkbox"]),
        & select,
        & .output__block {
          //display: block;
          //width: ~'calc(60% - 12px)';
          //height: auto;
          //min-height: 1.5em;
          //padding: 0 0.3em;
          //float: right;
          //text-align: left;
          &#payment_value {
            //width: 25%;
            //max-width: 7em;
            //float: left;
            //margin-left: 0.6em;
          }
          &#payment_currency {
            //width: 25%;
            //min-width: 5em;
            //max-width: 7em;
            //float: left;
            //margin-left: .3em;
            //padding: 0.1em;
            //height: auto;
          }
          //&:read-only {
          //  border: 2px solid transparent;
          //  background: transparent;
          //}
          &:disabled {
            &[multiple] {
              height: auto;
            }
          }
          //&[multiple] {
          //  height: 5em;
          //}
        }
        & input[type="checkbox"] {
          vertical-align: top;
          width: 42px;
          height: 20px;
          margin: 0 3px 0 0.7em;
          cursor: pointer;
          opacity: 0;
          z-index: 9;
          &:not(checked) {
            position: absolute;
            //opacity: 0;
            & + span {
              position: absolute;
              padding: 0 0 0 60px;
              margin-left: 0.7em;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 42px;
                height: 18px;
                border-radius: 13px;
                background: #CDD1DA;
                box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
              }
              &:after {
                content: '';
                position: absolute;
                top: 1px;
                left: 2px;
                width: 15px;
                height: 15px;
                border-radius: 7px;
                background: #FFF;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
                transition: all .2s;
              }
            }
          }
          &:checked {
            & + span {
              &:before {
                background: #9FD468;
              }
              &:after {
                left: 26px;
              }
            }
          }
          &:disabled {
            & + span {
              opacity: 0.3;
            }
          }
          &:not([disabled]) {
            cursor: pointer;
          }
        }
        & input[type="file"] {
          opacity: 1;
          position: relative;
          background: #fff;
          text-indent: -9999px;
          cursor: pointer;
          &:before {
            content: "\f093";
            font: 1.2em FontAwesome;
            position: absolute;
            left: 1em;
            top: 5px;
            text-indent: -1px;
          }
          &:hover:before {
            color: #3caeda;
          }
        }
        & a {
          color: #3caeda;
        }
      }
      button {
        &:hover{
         opacity: 1;
        }
      }
      &:hover{
        h4{
          color: #656d78;
        }
      }
    }
  }
}
.left-content {
  .right-info{
    float: none;
    //margin-top: -35px;
    //transform: translateY(-30px);
    li{
      .right-info__block{
        h4{
          display: none;
        }
      }
    }
  }
}
.anketa {
  .hgroup {
    & h3 {
      font-size: 1.6em;
    }
    & h4 {
      font-size: 1.25em;
      margin-top: 0.3em;
    }
  }
  .top-s {
    padding: 10px 20px;
    background-color: #f2f5fa;
    border-bottom: 1px solid #cdd0d4;
  }
  .rows {
    float: none;
    width: 100%;
    border: none;
    background-color: #fff;
    padding: 0;
    &:nth-child(even) {
      background-color: #fafbfc;
    }
    &:nth-child(1) {
      border-top: 1px solid #cdd0d4;
    }
    .col {
      display: inline-block;
      float: right;
      &:nth-child(1) {
        float: none;
        p {
          span {
            font-family: "UbuntuLight", sans-serif;
          }
        }
      }
    }
  }
  .col {
    p {
      text-align: center;
      padding: 10px;
    }
    &:last-child {
      p {
        &:first-child {
          width: 200px;
        }
        &:nth-child(2) {
          min-width: 120px;
        }
      }
    }
  }
  .tab-status {
    float: left;
    margin: 24px 10px;
  }
}

.right-info__block {
  & .select2-container--default {
    &.select2-container--disabled {
      & .select2-selection--multiple {
        background-color: transparent;
        cursor: default;
        border: 0 !important;
      }
    }
  }
  & .select2-container--default {
    width: ~'calc(60% - 3px)' !important;
    float: right;
    & .selection {
      min-width: 100%;
      & .select2-selection {
        width: 100%;
      }
    }
    & .select2-selection__rendered {

    }
  }
}

.summits-title {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  //font-family: 'Roboto Condensed', sans-serif;
  font-family: "UbuntuLight", sans-serif;
  cursor: pointer;
  font-size: 1.5em;
}

.summits-block {
  display: none;
  & .wrapp {
    display: none;
    .rows {
      padding: 10px 15px;
    }
  }
  & .wrapp-1 {
    display: block;
  }
  & .note-box {
    form {
      padding: 10px 6px;
    }
  }
}

.rows-tabs {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  overflow: visible;
  & div {
    border-right: 1px solid #cdd0d4;
    background-color: #f2f5fa;
    & p {
      padding: 15px 20px;
      color: #3caeda;
      font-size: 1.5em;
      //font-family: 'Roboto Condensed', sans-serif;
      cursor: pointer;
      &:hover {
        color: #656d78;
      }
    }
  }
  & div.active {
    position: relative;
    background-color: transparent;
    &:after {
      position: absolute;
      left: 0;
      bottom: -2px;
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fff;
      content: '';
      z-index: 1;
    }
    & p {
      color: #333;
    }
  }
}

.a-sammits {
  .col {
    & .summits-title__title {
      font-size: 1.2em;
    }
    &:last-child {
      p {
        &:nth-child(2) {
          border-left: 0;
        }
        &:first-child {
          width: 310px;
          text-align: left;
          border-right: 1px solid #cdd0d4;
          min-height: 15px;
          max-height: 100%;
        }
      }
    }
  }
  .summit_wrapper {
    .rows {
      border: none;
      border-bottom: 1px solid #cdd0d4;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.user-fiowrap {
  position: relative;
  z-index:8;
  .user-fio{
    margin-top: -50px;
  }
}

.a-socials {
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #6a727d;
  text-align: center;
  i {
    color: #fff;
    height: 2px;
    vertical-align: middle;
  }
  &:nth-child(2) {
    left: 58%;
  }
}

#account_view {
  .a-socials {
    display: none;
    &[data-href] {
      cursor: pointer;
      display: block;
    }
  }
}

.anketa-photo {
  border: 3px solid #b3d7e8;
  border-radius: 50%;
  overflow: hidden;
  &:hover {
    box-shadow: 0 0 0 5px rgba(67, 176, 219, 1);
  }
  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.user-wrap{
  display: flex;
  align-items: center;
  h1{
    margin-right:15px;
  }
  #entry_as{
    height: 25px;
    background-color: #aab2bd;
    color: #fff;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-size: 1.1em;
    padding: 0 10px;
    transition: background-color .3s;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    &:hover{
      background-color: #3caeda;
    }
  }
  select{
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.a-sdelki, .a-sammits, .a-note, .a-mail, .a-manager{
  overflow: hidden;
  border: 1px solid #cdd0d4;
  margin-top: 15px;
  border-radius: 3px;
}
.a-mail{
  padding: 18px 10px;
  h1{
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
    text-transform: capitalize;
    &:first-child{
      margin-top:0;
    }
    &:last-child{
      margin-bottom:0;
    }
  }
}
.a-manager{
  padding: 18px 10px;
  margin-top:18px;
  .manager-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    label{
      margin-right:15px;
    }
    .select2-container{
      width: 30% !important;
      margin-right:15px;
    }

  }
  #set_manager{
    padding: 0 10px;
    height: 25px;
    margin-right:15px;
  }
}
.a-sdelki, .a-sammits, .a-note {
  .note_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 5px 10px 0 10px;
    & .btn-block {
      display: flex;
    }
    & label {
      margin-bottom: .7em;
      //font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.5em;
    }
    & button {
      position: relative;
      padding: 0;
      background: 0 0;
      border: 0;
      width: 1em;
      height: 1em;
      font-size: 1.5em;
      &::before {
        color: #656d78;
        font: 400 1em FontAwesome;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    & .editText::before {
      content: '\f040';
    }
    & .editText.active::before {
      content: '\f00d';
    }
    & .saveNote::before {
      content: '\f00c';
    }
    & .editText + .saveNote {
      display: none;
    }
    & .editText.active + .saveNote {
      display: block;
    }
    & textarea {
      width: 100%;
      resize: none;
      &:read-only {
        border: none;
      }
    }
    .select-wrapper {
      width: 100%;
      select {
        width: 500px;
        height: 25px;
      }
    }
  }
  .payment_title,
  .sdelki_title {
    //font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
  }
  &#Sdelki {
    #tabStatus {
      border-bottom: 1px solid #cdd0d4;
    }
    .sdelki-content {
      .rows {
        &:first-child {
          border-top: none;
        }
      }
    }
  }
}

.a-note {
  position: relative;
  overflow: visible;
  .note_wrapper {
    padding-top: 1.5em;
  }
}

.a-sdelki {
  & .partner_wrapper {
    display: flex;
    & .note_wrapper,
    & .right-info {
      width: 50%;
      & .right-info__block h4 {
        left: 0;
      }
    }
    & .note_wrapper {
      padding-top: 20px;
      border-top: 1px solid #cdd0d4;
      border-bottom: 1px solid #cdd0d4;
      & label {
        margin-bottom: 0;
      }
      & textarea {
        border-radius: 3px;
        padding: 6px 5px;
        margin-top: -15px;
      }
    }
    & .right-info {
      margin-bottom: 0;
      background-color: transparent;
      border-left: none;
      & #partnership {
        & .label-wrapp {
          margin-bottom: .2em;
          float: left;
          &::after {
            bottom: 6px;
          }
          & label {
            background-color: #fff;
          }
        }
        & input,
        & select,
        & .select2 {
          //float: right;
          //margin-bottom: .3em;
        }
      }
    }
  }
  .rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #cdd0d4;
    background-color: transparent;
    .payment_title{
      width:100%;
    }
    p {
      //width: 33%;
    }
    p:last-child {
      text-align: right;
    }
    &:hover {
      background-color: #e4e4e4;
    }
  }
  .payment_title {
    padding: 15px 10px;
    //border-bottom: 1px solid #cdd0d4;
    margin-top: 15px;
  }
  .sdelki_title {
    padding: 0 10px;
  }
  .tab-status {
    display: flex;
    justify-content: space-between;
    height: 50px;
    & #tabs1 {
      position: relative;
      & li.active button {
        background-color: #fff;
      }
    }
  }
}

#partnership {
  & .label-wrapp {
    margin-bottom: .2em;
    float: left;
    &::after {
      bottom: 6px;
    }
  }
  & input,
  & select,
  & .select2 {
    float: right;
    margin-bottom: .3em;
  }
}

.note_wrapper, .user-fio {
  & button {
    opacity: .3;
  }
  &:hover button {
    opacity: 1;
  }
}

.top-s {
  h3 {
    padding: .5em 0 0 .5em;
    text-transform: uppercase;
    color: #333;
  }
}

.summit_wrapper, .sdelki-content {
  .rows {
    background-color: #fff;
    border-radius: 0 !important;
    margin-right: 0;
    margin-left: 0;

  }
}

.sdelki-content {
  .rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p:last-child {
      min-width: 20%;
    }
    &:last-child {
      border-bottom: 1px solid #cdd0d4;
    }
  }
  display: none;
}

.summit_wrapper {
  .summits-title {
    background-color: #f2f5fa;
  }
  .rows {
    &.note-box {
      button {
        padding: 12px 20px 12px 20px;
      }
    }
    textarea {
      padding: 5px 15px;
      font-size: 16px;
      margin: 10px 0;
    }
  }
}

#deletePopup {
  .splash-buttons {
    margin: 15px auto;
  }
  .splash-screen {
    height: 150px;
  }
  button {
    margin-right: 10px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.a-note {
  .select2-container--default.select2-container--disabled {
    .select2-selection--multiple {
      background-color: transparent;
      cursor: default;
      border: 0 !important;
    }
  }
}

#markerWrapper {
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    overflow: visible;
  }
  [class*=hint--]::after {
    color: #656d78;
    background-color: #e6e9ee;
    font-family: Ubuntu, sans-serif;
    text-shadow: none;
  }
  .hint--top-left:before, .hint--top-right:before, .hint--top:before {
    border-top-color: #e6e9ee;
  }
}

.right-content > h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main .right-content > h1 {
  padding-right: 0;
}

.right-content h1 {
  button {
    position: relative;
    font-size: .6em;
    &::before {
      position: absolute;
      top: 9px;
      left: 15px;
      width: 19px;
      height: 19px;
      content: "\f0e0" !important;
      font: 1.4em FontAwesome;
      color: #fff;
      background: 0 0;
    }
  }
}

#phone_number-label {
  .label_phone_block {
    position: relative;
    width: 250px;
    float: right;
    #phone_number {
      width: 160px !important;
      float: left;
    }
  }
  .comment {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 100%;
  }
}

.a-sdelki .access_wrapper {
  padding-top: 15px;
  padding-bottom: 5px;
  justify-content: flex-start;
  &>label,& input{
    margin-right:20px;
    margin-bottom:0;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 25px;
  }
}

.access_wrapper {
  .access_select_wrapper {
    //width: 100%;
  }
  #access_select {
    width: 250px !important;
  }
  .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: transparent;
    cursor: default;
    border: 0 !important;
    .select2-selection__arrow {
      display: none;
    }
  }
  #delete_access {
    margin-left: 15px;
    opacity: 1;
    &::before {
      top: 3px;
      content: '\f014';
      font: 1.2em FontAwesome;
      color: #f44336;
    }
  }
  #delete_access[disabled] {
    display: none;
    &::before {
      color: #97a2b0;
    }
  }
}

#addMorePartners {
  margin: 15px 0 0;
}

.a-sdelki {
  .partner_block_wrap {
    display: none;
    &.active {
      display: block;
    }
  }
  .rows{
    &:hover{
      background-color: transparent;
    }
  }
  input{
      border: 1px solid #cdd0d4;
      height: 25px;
      padding: 6px 5px;
      border-radius: 3px;
      width: 250px;
      box-sizing: border-box;
    }
}
#editPartnership1{
  .container{
   label{
      justify-content: center;
    }
  }
}