#databaseChurchReportsForm {
  h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom:15px;
  }
  .report-block {
    display: flex;
    margin-top: 15px;
  }
  ul.info {
    li {
      display: flex;
      align-items: center;
      margin-bottom:10px;
      .label-wrapp {
        position: relative;
        width: 55%;
        &::after {
          position: absolute;
          left: 3px;
          bottom: 3px;
          display: block;
          width: 95%;
          height: 2px;
          background-image: radial-gradient(circle, #656d78 .6px, transparent 1px);
          background-repeat: repeat-x;
          background-size: 5px 2px;
          content: '';
        }
      }
      label, span {
        position: relative;
        padding-right: 5px;
        background-color: #fff;
        z-index: 2;
        font-size: 1.1em;
      }
      textarea {
        resize: none;
      }
      #comment {
        height: 60px;
      }
      .input.has-error{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .help-block.form-error {
    z-index: -1;
  }
  input,textarea{
    border: 1px solid #cdd0d4;
    height: 25px;
    padding: 6px 5px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
  }
}
.prefilter_select{
  &>label{
    height: 52px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    .label_block{
      font-size: 1.1em;
      margin-bottom: 10px;
    }
  }
}
.resetFilter{
  padding: 0;
  margin-top: 20px;
}
#editReport{
  &.home-group{
    .popup_body{
      overflow: auto;
    }
  }
  label{
    &.hidden{
      display: none;
    }
    .input{
      display: flex;
      justify-content: space-between;
      #clear_img{
        width: 30px;
        padding: 0;
        i{
          color: #fff;
        }
      }
    }
    span{
      &+p{
        width: 250px;
        padding-top: 7px;
      }
    }
    textarea{
      width:250px;
      border-radius: 4px;
      resize: none;
    }
  }
  input{
    &[type='file']{
      opacity: 1;
      border:none;
      width: 200px !important;
    }
  }
}
.selectedDate{
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5cc4ef;
  border-radius: 4px;
}

#calendar_range {
  width: 100px;
  font-size: 1.5em;
  height: 52px;
  text-align: center;
  color: #3caeda;
  border: 1px solid #cdd0d4;
  border-right: none;
}
#tab_currency{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  button{
    height:40px;
    text-align: center;
    padding-left:20px;
    &.active{
      background-color: #3caeda;
    }
    &:not(:last-child){
      margin-right:5px;
    }
    i{
      color: #fff;
    }
    svg{
      fill: #fff;
      width: 12px;
    }
  }
}