#databaseChurchReportsForm {
  h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom:15px;
  }
  .report-block {
    display: flex;
    margin-top: 15px;
  }
  ul.info {
    li {
      display: flex;
      align-items: center;
      margin-bottom:10px;
      .label-wrapp {
        position: relative;
        width: 55%;
        &::after {
          position: absolute;
          left: 3px;
          bottom: 3px;
          display: block;
          width: 95%;
          height: 2px;
          background-image: radial-gradient(circle, #656d78 .6px, transparent 1px);
          background-repeat: repeat-x;
          background-size: 5px 2px;
          content: '';
        }
      }
      label, span {
        position: relative;
        padding-right: 5px;
        background-color: #fff;
        z-index: 2;
        font-size: 1.1em;
      }
      textarea {
        resize: none;
      }
      #comment {
        height: 60px;
      }
      .input.has-error{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .help-block.form-error {
    z-index: -1;
  }
  input,textarea{
    border: 1px solid #cdd0d4;
    height: 25px;
    padding: 6px 5px;
    width: 250px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
  }
}