.hg_caption {
  position: relative;
  input[type=file] {
    opacity: 1;
  }
  img {
    position: absolute;
    top: 5px;
    right: -10px;
    width: 250px;
  }
  #clear_img {
    padding: 5px 10px;
    font-size: 1em;
  }
}