#search_city-container {
  .search_res-container {
    margin: 10px;
    min-height: 400px;
    border: 1px solid green;
    display: flex;
  }
  .selected_block {
    margin: 20px;
  }
  .selected_block > span {
    border-radius: 5px;
    background: darkred;
    color: white;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
  }
  .search_res-cont__block {
    display: flex;
    flex-direction: column;
  }
  .search_res-cont__block > span {
    margin: 5px;
    padding: 5px;
    border: 1px dashed green;
  }
  ul > li {
    margin: 5px;
    padding: 5px;
    border: 1px dashed green;
    cursor: pointer;
  }
}